{% include 'header.html' %}
<link href="/static/new_mobile/css/zsc_common.css" rel="stylesheet" type="text/css">
</head>
<body>
{% if request.session.pu_id %}
    {% include 'menu_personal.html' %}
{% else %}
    {% include 'login_Modal.html' %}
{% endif %}
<script type="text/javascript">
//$(function(){
//	//alert(typeof sendPhoneNumber);
//	if(typeof sendPhoneNumber!='undefined'){
//		$('.zsp_header').remove();
//	}
//})
</script>
<div class="zsp_job_list">
	            
            <a href="#" class="zsp_job_list_li">
                <div class="zsp_job_li_top">
                                        <div class="zsp_job_li_img"><img src="/static/new_mobile/images/morenimg_gr.jpg"></div>
                                        <div class="zsp_job_li_main">
                        <div class="zsp_job_li_h" style="margin-bottom:0">
                            <span><i class="fa fa-angle-right"></i></span>
                            <h3>熊勇勇</h3>
                        </div>
                        <div class="zsp_job_li_tit_other">副总裁（采销方向）</div>
                        <div class="zsp_job_li_rstate">
                            <strong>当前状态:</strong>
                                                        <span class="zsp_job_li_rstate_color_1">推荐成功</span>
                                                                                                                                                                                                                                                                                    </div>
                        <div class="zsp_job_li_rstate">
                            <strong>推荐时间:  15-12-12</strong>
                        </div>
                    </div>
                </div>
            
            </a>
            
            <a href="javascript:void(0)" class="zsp_job_list_li">
                <div class="zsp_job_li_top">
                                        <div class="zsp_job_li_img"><img src="/static/new_mobile/images/morenimg_gr.jpg"></div>
                                        <div class="zsp_job_li_main">
                        <div class="zsp_job_li_h" style="margin-bottom:0">
                            <span><i class="fa fa-angle-right"></i></span>
                            <h3>熊勇勇</h3>
                        </div>
                        <div class="zsp_job_li_tit_other">体育总编</div>
                        <div class="zsp_job_li_rstate">
                            <strong>当前状态:</strong>
                                                        <span class="zsp_job_li_rstate_color_1">推荐成功</span>
                                                                                                                                                                                                                                                                                    </div>
                        <div class="zsp_job_li_rstate">
                            <strong>推荐时间:  15-12-12</strong>
                        </div>
                    </div>
                </div>
            
            </a>
            <!--zsp_job_list_li -->
</div>
<!--<div class="zsp_resume_but_box">-->
    <!---->
    <!--<a href="javascript:;" class="zsp_resume_but_5">没有更多简历了</a>-->
    <!---->
<!--</div>-->

</body></html>