<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>无标题文档</title>
<link rel="stylesheet" href="/static/activity/h5_two/css/base.css" />
<link rel="stylesheet" href="/static/activity/h5_two/css/swiper.min.css" />

<script src="/static/activity/h5_two/js/zepto.min.js"></script>
<script src="/static/activity/h5_two/js/home.js"></script>
<script src="/static/activity/h5_two/js/swiper.min.js"></script>
  
</head>
<script>
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
</script>
<body>
	<div class="wrap" style="width:100%; height:100%; position:absolute;">
        <div class="con index1 o_slide o_active" style="top:0">
            <header>
              <p class="tit">我们在<b>［怀才当遇］</b>招人</p>  
            </header>
            <section>
               <a href="#" class="pic"></a>
               <a href="#" class="welcome_img2"></a>
               <a href="#" class="welcome_img1"></a>
               <a href="#" class="taobao"></a> 
            </section>
            <footer>
                <div class="home_arrow"></div>
            </footer>
        </div>
        <div class="us_con index2 o_slide">
            <header>
                <div class="us_top">
                   <p class="top_pic1"></p>
                   <p class="top_pic2"></p> 
                </div>
            </header>
            <section>
               <div class="company">阿里巴巴(中国)网络技术有限公司</div>
                <div class="txt_box">
                    <div class="txt_con">
                        <p>淘宝网是亚太地区较大的网络零售、商圈，由阿里巴巴集团在2003年5月创立。</p> 
                        <p>淘宝网是中国深受欢迎的网购销售平台，拥有近5亿的注册用户数，每天有超过六千万万的固定访客，同时每天的在线商品数已经超过了8亿件。截止2011年底，淘宝网单日交易额峰值达到43.84亿元，创造270.8万直接且充分就业机会。随着淘宝网规模的扩大和用户数量的增加，淘宝也从单一的C2C网络集市变成了包括C2C、网销、分销、拍卖等多种电子商务模式在内的综合性零售商圈。</p>
                        <p>淘宝网是中国深受欢迎的网购销售平台，拥有近5亿的注册用户数，每天有超过六千万万的固定访客，同时每天的在线商品数已经超过了8亿件。截止2011年底，淘宝网单日交易额峰值达到43.84亿元，创造270.8万直接且充分就业机会。随着淘宝网规模的扩大和用户数量的增加，淘宝也从单一的C2C网络集市变成了包括C2C、网销、分销、拍卖等多种电子商务模式在内的综合性零售商圈。</p>
                    </div>
                    <div class="us_person_box">
                        <img src="/static/activity/h5_two/img/us_man.png" alt="man" class="us_man">
                        <span class="circle"></span>
                    </div>
                </div>
            </section>
            
            <img src="/static/activity/h5_two/img/lamp.png" alt="man" class="us_lamp"> 
            
            
            <footer>
                <div class="us_arrow"></div>
            </footer>
        </div>
        <div class="benefits_con index3 o_slide">
            <header>
                <div class="benefits_top">
                    <p class="top_pic1"></p>
                    <p class="top_pic2"></p>
                </div>
            </header>
            
            <img src="/static/activity/h5_two/img/money.png" alt="man" class="benefits_money">
            
            <section>
                <a href="#" class="taobao_pic"></a>
                
                <div class="welfare">
                    <a href="javascript:;">
                        <span>带薪年假</span>
                        <i class="icon"></i>
                    </a>
                    <a href="javascript:;">
                        <span>年底双薪</span>
                        <i class="icon"></i>
                    </a>
                    <a href="javascript:;">
                        <span>餐车补贴</span>
                        <i class="icon"></i>
                    </a>
                    <a href="javascript:;">
                        <span>股票期权</span>
                        <i class="icon"></i>
                    </a>
                    <a href="javascript:;">
                        <span>节日福利</span>
                        <i class="icon"></i>
                    </a>
                    <div class="person_box">
                        <img src="/static/activity/h5_two/img/man.png" alt="man" class="benefits_man">
                        <span class="circle"></span>
                    </div>
                </div> 
            </section>
            <footer>
               <div class="benefits_arrow"></div> 
            </footer>
        </div>
        <div class="job_con index4 o_slide">
            <header>
                <div class="job_top">
                    <p class="top_pic1"></p>
                    <p class="top_pic2"></p>
                </div>
            </header>
            <section>
                <div class="content">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <ul class="title_list swiper-slide">
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>产品总监</h3>
                                             <p class="clearfix">
                                                 <span>南昌</span>
                                                 <i></i>
                                                 <span>5-8年</span>
                                                 <i></i>
                                                 <span>本科</span>
                                             </p>
                                         </div> 
                                         <span class="fr num">15-20万</span>
                                         <em></em>
                                      </li>
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>研发经理</h3>
                                             <p class="clearfix"><span>南昌</span><i></i><span>1-3年</span><i></i><span>本科</span></p>
                                         </div> 
                                         <span class="fr num">12-15万</span>
                                         <em class="two"></em>
                                      </li>
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>人力资源总监</h3>
                                             <p class="clearfix"><span>南昌</span><i></i><span>3-5年</span><i></i><span>本科</span></p>
                                         </div> 
                                         <span class="fr num">15-20万</span>
                                         <em class="three"></em>
                                      </li>
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>高级测试经理</h3>
                                             <p class="clearfix"><span>南昌</span><i></i><span>1-3年</span><i></i><span>大专</span></p>
                                         </div> 
                                         <span class="fr num">10-15万</span>
                                         <em class="four"></em>
                                      </li>
                            </ul>
                            <ul class="title_list swiper-slide">
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>总监</h3>
                                             <p class="clearfix">
                                                 <span>南昌nbsp</span>
                                                 <i></i>
                                                 <span>5-8年</span>
                                                 <i></i>
                                                 <span>本科</span>
                                             </p>
                                         </div> 
                                         <span class="fr num">15-20万</span>
                                         <em></em>
                                      </li>
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>研发经理</h3>
                                             <p class="clearfix"><span>南昌</span><i></i><span>1-3年</span><i></i><span>本科</span></p>
                                         </div> 
                                         <span class="fr num">12-15万</span>
                                         <em class="two"></em>
                                      </li>
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>人力资源总监</h3>
                                             <p class="clearfix"><span>南昌</span><i></i><span>3-5年</span><i></i><span>本科</span></p>
                                         </div> 
                                         <span class="fr num">15-20万</span>
                                         <em class="three"></em>
                                      </li>
                                      <li class="clearfix">
                                         <div class="introduct fl">
                                             <h3>高级测试经理</h3>
                                             <p class="clearfix"><span>南昌</span><i></i><span>1-3年</span><i></i><span>大专</span></p>
                                         </div> 
                                         <span class="fr num">10-15万</span>
                                         <em class="four"></em>
                                      </li>
                            </ul>
                       </div>
                    </div> 
                     <div class="job_person_box">
                        <img src="/static/activity/h5_two/img/job_man.png" alt="man" class="job_man">
                        <span class="circle"></span>
                    </div>  
                </div>
            </section>
              <img src="/static/activity/h5_two/img/job_person.png" alt="man" class="job_person"></a>
              
            <footer>
               <div class="job_arrow"></div> 
            </footer> 
        </div>
        <div class="resume_con index5 o_slide">
            <header>
               <p class="txt">简历什么的，通通砸过来吧！</p> 
            </header>
            <section>
               <a href="#" class="square">
                <div class="resume_txt">
                    <p class="deliver"><b>简历请投递至</b></p> 
                    <p class="mail">job@taobao.com</p>
                    <p class="replay"><b>我们会第一时间回复您</b></p>
                    <p class="replay"><b>工作地点：南昌</b></p>
                </div>
                </a>
                <a href="javascript" class="hiring"></a> 
            </section>
            <footer>
                <div class="resume_arrow"></div>
                <div class="footer clearfix">
                    <a href="javascript" class="fl logo"></a>
                    <span class="fr"></span>
            </div> 
            </footer>
        </div>
    </div>
  <audio src="/static/activity/h5_two/mp3/music.mp3"  autoplay loop></audio>
</body>
</html>
<script>
var mySwiper = new Swiper ('.swiper-container')
</script>  



















































































