<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="/static/activity/yeartopics/css/year_special.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/activity/yeartopics/js/new_year.js"></script>
</head>
<body style="background:none!important;">    
	<header>
		<img src="/static/activity/yeartopics/images/phonenew1.jpg" alt="" class="commimgss">
	</header>
	<section style="position:relative;">
	    <img src="/static/activity/yeartopics/images/phonenew2.jpg" class="commimgss">
			<div class="regler_inak">	
				<ul>
					<li><i></i>一、微信摇奖活动只适用怀才当遇注册登录用户；</li>
					<li><i></i>二、每个注册用户默认拥有1次微信摇奖机会；</li>
					<li><i></i>三、每成功邀请一位好友注册怀才当遇可增加1次摇奖机会，可累加；</li>
					<li><i></i>四、获得实物奖项用户将<span class="con_address">收件地址</span>,私信至怀才当遇公众号；</li>
					<li><i></i>五、奖品会在活动结束后5个工作日内发放；</li>
					<li><i></i>六、参与方式：点击怀才当遇公众号底部“活动专区”进入活动页面；</li>
					<li><i></i>七、活动时间2016年1月30日-2016年2月22日</li>
				</ul>
				<a href="/activity/shake"><img src="/static/activity/yeartopics/images/yj.png" alt="" class="regl_btn"></a>
			</div>
	     <img src="/static/activity/yeartopics/images/phonenew4.jpg" class="commimgss">
	     <div class="contact">
			 <div class="contact_way">		
			 	<span style="font-weight: bolder;"><i class="phonecall"></i>400-666-4846 </span>	
			 	<span><!-- <i class="qqmes"></i>在线咨询 | --> |服务时间：工作日8:00—18:00</span>
			 </div>
			 <div class="code">
			 	<ul>
			 		<li>
			 			<img src="/static/activity/yeartopics/images/ewmp1.jpg"><span>关注及送红包</span>
			 			<p>微信二维码</p>
			 		</li>
			 		<li>
			 			<img src="/static/activity/yeartopics/images/ewmp2.png">
			 			<p>新浪微博二维码</p>
			 		</li>
			 	</ul>
			 </div>
		 </div>
		 <img src="/static/activity/yeartopics/images/footimg.jpg" alt="" class="commimgss">
	</section>
	<!-- <div class="modal_wrap"></div>	 -->
	<div class="float_bou">
		   <i class="close"></i>
		   <p class="flat_titl">
		      <span>获奖人信息</span>
		   </p>
		   <p><input name="account" id="account" type="text" placeholder="账号"></p>
		   <p><input name="linkman" id="linkman" type="text" placeholder="联系人"></p>
		   <p><input name="way" id="way" type="text" placeholder="联系方式"></p>
		   <p><input name="rec_add" id="rec_add" type="text" placeholder="收货地址"></p>
		   <p class="hint">请确保填写的信息真实有效，以便我们能联系到您</p>
		   <a href="#" class="save_btn" onclick="savelottery()">确定</a>
	</div>
</body>
</html>