<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/year_special.css">
	<link rel="stylesheet" href="/static/activity/yeartopics/css/year_special.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/core/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/activity/yeartopics/js/new_year.js"></script>
</head> 
<body>      
	<div class="main">	  
		  <!-- <div class="header_mes" style="position: relative;">	
		    <img src="/static/activity/yeartopics/images/newyear01.jpg" class="commimg">	     
		     <div class="ydbtn"><a href="/" target="blank" class="enindex"></a>
		     <a href="/system/general_logins?loginid=88" target="blank" class="enlogin"></a></div>
		  </div> -->
		   <img src="/static/activity/yeartopics/images/newyear01.jpg" class="commimg">
		 <!--  <div class="pr">
		  <img src="/static/activity/yeartopics/images/newyear02.jpg" class="commimg">
		     <div class="loginsuccess">
		       <div class="mess_mid">
		       <p>欢迎您，<span>29036504@qq.com</span>[注销]  [我的奖品]  [实物邮寄地址] 您现在还有<span> 0 </span>次抽奖机会</p>
		  	   <a href="" class="invitebtn"></a>
		  	  </div>
		  	  <div class="mess_mid1">
		  	  	 <a href="/system/generalRegister" class="registers"></a>
		  	  </div>
		     </div>
		   </div> --><!-- 
		  <img src="/static/activity/yeartopics/images/newyear03.jpg" class="commimg"> -->
		  <img src="/static/activity/yeartopics/images/new_03.png" class="commimg1">
		  <div class="winning">
		   <div id="demo" onmouseover="clearInterval(timer)" onmouseout="timer=setInterval(mar,30)" style="overflow:hidden;height:390px;">
		    <div  id="demo1" style="margin-top:10px;">
		     <ul class="qw">
		     	<li><span>15********58</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********86</span>招聘神器-易秀场招聘</li>
		     	<li><span>18********87</span>怀才当遇网10才币</li>
		     	<li><span>15********87</span>10元话费充值卡</li>
		     	<li><span>17********58</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********54</span>怀才当遇网100才币</li>
		     	<li><span>13********36</span>亚马逊餐券</li>
		     	<li><span>15********87</span>10元话费充值卡</li>
		     	<li><span>13********21</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********84</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********65</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********74</span>10元话费充值卡</li>
		     	<li><span>15********85</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********39</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********25</span>10元话费充值卡</li>
		     	<li><span>13********67</span>怀才当遇网10才币</li>
		     	<li><span>17********84</span>怀才当遇网10才币</li>
		     	<li><span>18********92</span>怀才当遇网10才币</li>
		     	<li><span>15********78</span>怀才当遇网50才币</li>
		     	<li><span>15********42</span>十元话费卡</li>
		     	<li><span>17********23</span>怀才当遇网10才币</li>
		     	<li><span>18********65</span>怀才当遇网50才币</li>
		     	<li><span>18********32</span>怀才当遇网10才币</li>
		     	<li><span>18********54</span>十元话费卡</li>
		     	<li><span>15********23</span>怀才当遇网10才币</li>
		     	<li><span>15********67</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********13</span>10元话费充值卡</li>
		     	<li><span>15********46</span>怀才当遇网10才币</li>
		     	<li><span>18********23</span>怀才当遇网50才币</li>
		     	<li><span>15********78</span>怀才当遇网10才币</li>
		     	<li><span>13********66</span>招聘神器-易秀场招聘</li>
		     </ul>

		     <ul class="qw1">
			    <li><span>15********58</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********32</span>招聘神器-易秀场招聘</li>
		     	<li><span>18********74</span>怀才当遇网10才币</li>
		     	<li><span>15********76</span>怀才当遇网10才币</li>
		     	<li><span>17********52</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********12</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********54</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********67</span>10元话费充值卡</li>
		     	<li><span>13********86</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********11</span>怀才当遇网10才币</li>
		     	<li><span>15********95</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********25</span>10元话费充值卡</li>
		     	<li><span>15********36</span>招聘神器-易秀场招聘</li>
		     	<li><span>13********25</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********71</span>10元话费充值卡</li>
		     	<li><span>13********99</span>招聘神器-易秀场招聘</li>
		     	<li><span>17********63</span>怀才当遇网50才币</li>
		     	<li><span>18********72</span>怀才当遇网10才币</li>
		     	<li><span>15********82</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********65</span>怀才当遇网50才币</li>
		     	<li><span>17********42</span>怀才当遇网100才币</li>
		     	<li><span>18********85</span>怀才当遇网50才币</li>
		     	<li><span>18********65</span>怀才当遇网10才币</li>
		     	<li><span>18********87</span>怀才当遇网50才币</li>
		     	<li><span>15********75</span>怀才当遇网10才币</li>
		     	<li><span>15********65</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********75</span>10元话费充值卡</li>
		     	<li><span>15********65</span>怀才当遇网10才币</li>
		     	<li><span>18********75</span>招聘神器-易秀场招聘</li>
		     	<li><span>15********87</span>怀才当遇网10才币</li>
		     	<li><span>13********85</span>招聘神器-易秀场招聘</li>
		        </ul>		      
		    </div>	
		    <div id="demo2"></div>	    	
		</div>	 
	    </div>
	    <script>
				var t=getid("demo"),t1=getid("demo1"),t2=getid("demo2"),sh=getid("show"),timer;
				t2.innerHTML=t1.innerHTML;
				function mar(){
				//if(390<=t.scrollTop)
				//t.scrollTop-=t1.offsetHeight;
				//else
				t.scrollTop++;
				console.log(t.scrollTop);
				}
				timer=setInterval(mar,50);
				function getid(id){
				return document.getElementById(id);
				}
        </script> 

		  <img src="/static/activity/yeartopics/images/new_06.png" class="commimg1"> 
		    <div class="activity_rules ">
		        <div class="activ_mes">
		           <div class="rule_left">
		           	<p>一、微信摇奖活动只适用怀才当遇注册用户；</p>
					<p>二、每个注册用户默认拥有1次微信摇奖机会；</p>
					<p>三、每成功邀请一位好友注册怀才当遇可增加1次摇奖机会，可累加；</p>
					<p>四、获得实物奖项用户将“收件地址”私信至怀才当遇公众号；</p>
					<p>五、奖品会在活动结束后5个工作日内发放；</p>
					<p>六、参与方式：点击怀才当遇公众号底部“活动专区”，进入活动页面；</p>
					<p>七、活动时间2016年1月30日-2016年2月22日</p>
				    </div>
				    <div class="rule_right"><img src="/static/activity/yeartopics/images/ewm.png" alt=""></div>
				</div>
		    </div>
		  <img src="/static/activity/yeartopics/images/new_08.png" class="commimg1">

	      <div class="contac_nc">
	      	<div class="contact_way"><span style="font-weight: bold; font-size:20px!important; margin-right:20px;"><i class="phone wh"></i>400-666-4846</span><span><span style="margin-right:20px;">|</span>
	      		<a target="_blank" style="text-decoration: none!important;" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2996687413&amp;site=qq&amp;menu=yes"><i class="qqzx wh"></i>在线咨询</a><span style="margin-left:20px;margin-right:20px;">|</span></span><span>服务时间：工作日8:00——18:00<span style="margin-left:20px;margin-right:20px;">|</span></span><span><a href="http://weibo.com/u/5626746238?is_hot=1"><i class="weibo wh"></i>关注微博享受更多信息</a></span>
	    	</div> 
		  </div>
		  <div class="sepc_foot">		    
			    <div class="re_btomme">
                    <a href="/system/about#0" target="_blank" title="关于我们_怀才当遇"><h3>关于我们<span>|</span></h3></a>
			        <a href="/system/about#1" target="_blank" title="使用帮助_怀才当遇"><h3>使用帮助<span>|</span></h3></a>      
			        <a href="/system/about#2" target="_blank" title="用户协议_怀才当遇"><h3>用户协议<span>|</span></h3></a>
			        <a href="/system/about#3" target="_blank" title="友情链接_怀才当遇"><h3>友情链接</h3></a>
               </div>
			     <p>赣ICP备12347441号-1 , hcdyhr.com.保留所有版权. 使用这些服务遵守用户协议</p>
		    </div>
		 <img src="/static/activity/yeartopics/images/newfoot.png" class="commimg">
	</div>
</body>
<script>

	</script>
</html>	