{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">
<!--[if IE 6]>
<script type="text/javascript">
$(document).ready(function(){
   $(".pGryz_l_a .box").height($(".pGryz_l .list1 ").height());
});
</script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style1.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<!-- 内容大框 -->
<div class="lt_content_box">
	<div class="center clearfix" style="padding-top: 20px">
		<div class="f_l pGryz_l">
			<div class="list1">
				<div class="pGryz_l_b f_r">
					<ul class="f_l info_ul">
						<li>
							<span class="f_bold fz20">王二</span> <i class="iconfont icon-nv"></i>
							<span>女</span>
							<span>22岁</span>
							<span>南昌</span>
						</li>
						<li>
							<span>等级</span>
							<span>LV22</span>
							<span>金币</span>
							<img src="{{ STATIC_URL }}images/111_03.png">
							<span>2200.00</span>
						</li>
						<li>
							<span>手机</span>
							<span>18851885188</span>
						</li>
						<li>
							<span>邮箱</span>
							<span>chenjing1987@sina.com</span>
						</li>
					</ul>
					<img src="{{ STATIC_URL }}images/111_03.jpg" class="f_l" width="145" height="145" style="border-radius: 50%">
					<div style="clear:both"></div>
					<p>北京和君设计有限公司 ● 设计总监 ● 3-5年工作经验 ● 电子商务</p>
					<div class="remark mt20">
						个人简介模拟文字信息内容文字稿，个人简介模拟文字信息内容文字稿，个人
						<br>
						简介模拟文字信息内容文字稿，个人简介模拟文字信息内容文字稿。。。
						<div class="grjj_border_l"></div>
						<div class="grjj_border_r"></div>
					</div>
					<ul class="grxx_tag_box clearfix mt20 oh">
						<li>个人签一</li>
						<li>个人签二</li>
						<li>个人签四</li>
						<li>完美主义</li>
						<li>追求时尚</li>
						<li>积极向上</li>
						<li>为之奋斗</li>
						<li>以德服人</li>
						<li>追求时尚</li>
						<li>积极向上</li>
						<li>为之奋斗</li>
						<li>以德服人</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="pGryz_l_a">
					<div class="box">
						<img src="{{ STATIC_URL }}images/grzy_03.png"></div>
				</div>

			</div>
		</div>
		<div class="f_r pGryz_r">
			<div class="clearfix bd_bottom2" style="padding-left: 50px;height:100px">
				<div class="f_l t_c " style="width:90px;padding-left: 0px"> <i class="iconfont icon-tianjiayuangong fz20"></i>
					<br>
					<span>被关注人数</span>
					<br>
					<span class="c_c8">122</span>
				</div>
				<div class="f_l t_c" style="width:90px;padding-left: 0px">
					<i class="iconfont icon-tianjiayuangong fz20"></i>
					<br>
					<span>被访问人数</span>
					<br>
					<span class="c_c8">122</span>
				</div>
			</div>
			<div style="margin:0 auto;width:90%;height:50px;line-height: 50px">
				<span>简历完整度：</span><span style="color:#d21d30">34%</span><span style="color:#d21d30;margin-left: 50px">预览简历</span>
			</div>
			<div class="jdt">
				<span style="width:30%"></span>
			</div>
			<div class="wsjl">
				<input type="button" name="" value="完善简历" class="btn61">
			</div>
		</div>
	</div>
</div>
{% include 'jobs/system/new_footer.html' %}