<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>谁是合伙人第一季</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_rbcj.css"></head>
<body>
  <div class="rbtopbj">
    <div class="rbtop">
      <div class="rblogo">
        <img src="{{ STATIC_URL }}images/images3/logo.jpg" width="197" height="121" border="0" align="absmiddle" />
      </div>
      <div class="rbqq">
        <img src="{{ STATIC_URL }}images/images3/qq.jpg" width="42" height="84" border="0" align="absmiddle" />
      </div>
      <ul>
        <li class="w78">
          <a href="#">首页</a>
        </li>
        <li class="w100">
          <a href="#">独家直播</a>
        </li>
        <li class="w120">
          <a href="#">资讯与活动</a>
        </li>
        <li class="w120">
          <a href="#">产品与服务</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="rbbanner"></div>

  <div class="rbqpxh">
    <div class="rbyw c6 fz18 pt20">ABOUT US</div>
    <div class="rbzw fz57 c3">
      关于
      <span class="cr">谁是合伙人</span>
    </div>
  </div>

  <div class="rbtup">
    <ul>
      <li>
        <img src="{{ STATIC_URL }}images/images3/img01.jpg" width="208" height="202" border="0" align="absmiddle" />
      </li>
      <li>
        <img src="{{ STATIC_URL }}images/images3/img02.jpg" width="208" height="202" border="0" align="absmiddle" />
      </li>
      <li>
        <img src="{{ STATIC_URL }}images/images3/img03.jpg" width="208" height="202" border="0" align="absmiddle" />
      </li>
      <li>
        <img src="{{ STATIC_URL }}images/images3/img04.jpg" width="208" height="202" border="0" align="absmiddle" />
      </li>
    </ul>
  </div>

  <div class="rbwenznr2 t_c c9 fz18 pt20">
    这将是一场属于全民创业万众逐梦的盛会
    <br />
    这将是一个问鼎全新媒体收视冠军，创造收视奇迹的文化盛宴
    <br />
    这将是一届亿万聚焦的创业盛典
    <br />
    树立中国电视网络合伙创业真人选秀新的里程碑
    <br />
    撰写当代中国的全民合伙创业逐梦的励志书
    <br />

  </div>

  <div class="rbannqh">
    <ul>
      <li class="rblia1">
        <a href="#">
          <div class="rbliw">&nbsp;大赛章程</div>
          <div class="rbliin">进入查看 >></div>
        </a>
      </li>
      <li class="rblia2">
        <a href="#">
          <div class="rbliw">&nbsp;网申入口</div>
          <div class="rbliin">进入查看 >></div>
        </a>
      </li>
      <li class="rblia3">
        <a href="#">
          <div class="rbliw">&nbsp;报名表下载</div>
          <div class="rbliin">进入查看 >></div>
        </a>
      </li>
      <li class="rblia4">
        <a href="#">
          <div class="rbliw">&nbsp;风采展示</div>
          <div class="rbliin">进入查看 >></div>
        </a>
      </li>
    </ul>
  </div>
  <div class="rbbyl">
    这是一次经历，是一场相逢，是一种历炼，是一番面对，
    <br />
    是一个 <i class="cr fn fz36">连通梦想与现实</i>
    、资本与人才、团队与伙伴的 <i class="cr fn fz36">合伙创业舞台</i>
    。
    <br />
    这是创业者们的一次集体跋涉：
    <br />
    光荣与梦想、成功与挫折、坚守与退让、思考与质疑、晋级与离开……
    <br />
    这并不仅仅是一档电视节目，也不仅仅是一场合伙人创业真人秀，
    <br />
    甚至不仅仅是一次面对投资人获得巨额创业资本和寻找到梦中合伙人的机会。
  </div>
  <div class="rbqpxh">
    <div class="rbyw c6 fz18 pt20"></div>
    <div class="rbzw fz57 c3">
      <span class="cr">谁是合伙人</span>
      资讯
    </div>
  </div>
  <div class="rbyw c6 fz18 pt10">INFORMATION</div>
  <div class="rbnews">
    <ul>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
      <li>
        <div class="rbnewsq">
          <div class="fz42 pt25">15</div>
          <div class="fz16 pt4">2015-07</div>
        </div>
        <div class="rbnewsw">
          <div class="bt">新闻资讯标题模拟文字信息</div>
          <div class="xw">信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容信息资讯模拟文字内容...</div>
        </div>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="rbfoot">
    <div class="c_ff fz16 rbfootw">
      Copyright © www.ehejun.com,. 江西萃美人本工坊有限公司 版权所有
      <br />
      京ICP备11029302号
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>