<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_rbcj.css"></head>
<body>

    <div class="rbtopbj">
        <div class="rbtop">
            <div class="rblogo">
                <img src="{{ STATIC_URL }}images/images3/logo.jpg" width="197" height="121" border="0" align="absmiddle" />
            </div>
            <div class="rbqq">
                <img src="{{ STATIC_URL }}images/images3/qq.jpg" width="42" height="84" border="0" align="absmiddle" />
            </div>
            <ul>
                <li class="w78">
                    <a href="#">首页</a>
                </li>
                <li class="w100">
                    <a href="#">独家直播</a>
                </li>
                <li class="w120">
                    <a href="#">资讯与活动</a>
                </li>
                <li class="w120">
                    <a href="#">产品与服务</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="rbdbj2">

        <div class="rbqpxh mt30">
            <div class="rbyw c6 fz18 pt20"></div>
            <div class="rbzw fz32">
                <span class="cr">密码找回</span>
            </div>
        </div>

        <div></div>

        <div class="buzhou">
            <ul>
                <li class="active">1</li>
                <li class="xt active"></li>
                <li class="active">2</li>
                <li class="xt"></li>
                <li>3</li>

            </ul>
            <ul class="word">
                <li>请输入手机号</li>
                <li class="li2" >验证手机</li>
                <li class="li3 f_r">重置密码</li>
            </ul>
        </div>
        <div class="clear"></div>

        <div class="rbzhmm">
            <ul>
                <li class="fz16 mt15">
                    验证码已发送到您的手机： <i class="cr fz20 fn">18*******59</i>
                </li>
                <li class="mt15">
                    <input name="input" type="text" class="rbzhmmk1 fl" value="请输入您手机收到的验证码" />
                    <input name="" type="button" class="rbzhmmk2 fl ml5" value="重新发送" />
                    <div class="clear"></div>
                </li>

                <li class="mt50">
                    <input name="" type="button" class="rbzhman ml60" value="立即验证" />
                </li>
            </ul>
        </div>

    </div>

    <div class="rbfoot mt6">
        <div class="c_ff fz16 rbfootw">
            Copyright © www.ehejun.com,. 江西萃美人本工坊有限公司 版权所有
            <br />
            京ICP备11029302号
        </div>
        <div class="clear"></div>
    </div>

</body>

</html>