{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<div class="clear">99</div>
<div class="mid_con">
	
	<div class="help_wenti">
		<a href="#" class="active" >常见问题</a>
		<a href="#">经纪人常见问题</a>
		<a href="#">企业常见问题</a>
		<a href="#">人才常见问题</a>
	</div>



	<div class="help_mid1" style="display:block;">
	<div class="help_center active" id="help_center1" style="display:block;" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">01</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dd>
						发布职位后，可以等待候选人投递简历，系统也会为职位匹配简历。对于候选人主动投递过来的简历可以直接进行沟通、邀约面试等操作，对于系统匹配到的简历，如果是人才方自主投递那么可以直接
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
   </div>



   	<div class="help_mid2">
	<div class="help_center active" id="help_center2">
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">01</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				能重复投递同一职位吗？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dd>
						不可以。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center">
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">02</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				怎么保护我的简历信息不被一些特定的企业及人才经纪人搜到呢？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dd>
						在“我的简历”中，点击“隐私设置”下拉框可以选择简历被搜索到的用户类型，如果想屏蔽一些特定的经纪人或企业那么可以在个人简历“更多隐私设置”里面设置。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center">
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">03</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				如果投递成功后，我对简历进行了修改，那么是否会影响之前的投递？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dd>
						不会影响。HR看到的简历，是你投递时的状态。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
</div>



	<div class="help_mid3">
	<div class="help_center active" id="help_center3">
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">01</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				提问：必须要在上传公司营业执照后才能职位发布吗？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dd>
						是的，企业必须要上传公司营业执照并且通过平台审核后才能发布职位。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center">
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">02</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				如何修改公司全称？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">				
					<dd>
						请用接收简历的企业邮箱发送邮件至 vivi@hcdyhr.com，修改前是什么、修改后是什么，我们将为你修改。另外，公司全称如果修改幅度过大，需要提供营业执照和公司变更证明。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
</div>



	<div class="help_mid4">
	<div class="help_center active" id="help_center4" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">01</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				发职位的时候我加入了一家经纪人公司就可以不用再验证企业身份是吗？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dd>
						是的
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
</div>



</div>
<script type="text/javascript">
    $(function(){
	 if($(".mid_con").height()+$(".re_bottom").height()+65<$(window).height()){
		$(".re_bottom").css({
			"position": 'absolute',
			"bottom": '0'
		});
	  }
     })

    $(".help_wenti a").each(function(index,el) {
         $(el).click(function(event) {
              $(".help_wenti a").removeClass('active');
              $(el).addClass('active');
              $(".help_mid1").css('display','none');
              $(".help_mid2").css('display','none');
              $(".help_mid3").css('display','none');
              $(".help_mid4").css('display','none');
              $(".help_mid"+(index+1)).css('display','block');
         });
    });
	$(".help_mid1 .help_center").click(function(){
		$(".help_mid1 .help_center").removeClass('active');
		$(this).addClass('active');
	})
	$(".help_mid2 .help_center").click(function(){
		$(".help_mid2 .help_center").removeClass('active');
		$(this).addClass('active');
	})
	$(".help_mid3 .help_center").click(function(){
		$(".help_mid3 .help_center").removeClass('active');
		$(this).addClass('active');
	})
	$(".help_mid4 .help_center").click(function(){
		$(".help_mid4 .help_center").removeClass('active');
		$(this).addClass('active');
	})
</script>
{% include 'jobs/system/new_footer.html' %}