<div class="clearfix"></div>
<!-- 底部开开始 -->
<div class="re_bottom" id="Bottom">
    <div class="center">
        <div class="clearfix">
            <dl class="f_l mt20">
                <dt class="fz16"> <i class="iconfont icon-lianjie"></i>
                    合作企业
                </dt>
                <dd>
                    <a href="http://www.jxhsh.com.cn/" rel="nofollow" target="_blank" title="煌上煌集团">
                        <img src="{{ STATIC_URL }}images/1.jpg" alt="煌上煌集团"></a>
                    <a href="http://www.greenlandsc.com/" rel="nofollow" target="_blank" title="绿地集团">
                        <img src="{{ STATIC_URL }}images/2.jpg" alt="绿地集团"></a>
{#                    <a href="http://www.futureholdings.com.cn/" rel="nofollow" target="_blank" title="江西新城控股">#}
{#                        <img src="{{ STATIC_URL }}images/3.jpg" alt="江西新城控股"></a>#}
{#                    <a href="http://www.renhe.com/" rel="nofollow" target="_blank" title="仁和集团">#}
{#                        <img src="{{ STATIC_URL }}images/4.jpg" alt="仁和集团"></a>#}
{#                    <a href="http://www.yonyou.com/" rel="nofollow" target="_blank" title="用友软件">#}
{#                        <img src="{{ STATIC_URL }}images/5.jpg" alt="用友软件"></a>#}
                    <a href="http://www.abchina.com/cn/branch/jx/" rel="nofollow" target="_blank" title="农业银行">
                       <img src="{{ STATIC_URL }}images/nyyh.jpg" alt="农业银行"></a>
                    <a href="http://www.riantea.com/" rel="nofollow" target="_blank" title="林恩茶业">
                      <img src="{{ STATIC_URL }}images/lncy.jpg" alt="林恩茶业"></a>
                    <a href="http://www.shouken.com.cn/" rel="nofollow" target="_blank" title="松研科技">
                       <img src="{{ STATIC_URL }}images/shouyankeji.jpg" alt="松研科技"></a>
                </dd>
            </dl>
            <ul class="f_r">
                <li class="gzwb">
                    <a target="_blank"  href="http://weibo.com/u/5626746238" rel="nofollow" class="fz32" title="怀才当遇官方微博"></a>
                    <p>关注微博</p>
                </li>
            <li  class="con_box lxwm pr">
                <a href="javascript:void(0)" class="fz32" title="联系我们_怀才当遇"></a>
                <p>联系我们</p>
                <div class="con_show">400-666-4846</div>
            </li>
            <li class="yjfk">
                <a  href="javascript:void(0)" class="fz32" id="yjfk_btn" title="意见反馈_怀才当遇"></a>
                <p>意见反馈</p>
            </li>
        </ul>
    </div>
    <!-- 底部链接和备案 -->
    <div class="re_bottom_menu">
        <div class="re_btomme">
        <a href="/system/about#0" target="_blank" title="关于我们_怀才当遇"><h3>关于我们<span>|</span></h3></a>
        <a href="/system/about#1" target="_blank" title="使用帮助_怀才当遇"><h3>使用帮助<span>|</span></h3></a>      
        <a href="/system/about#2" target="_blank" title="用户协议_怀才当遇"><h3>用户协议<span>|</span></h3></a>
        <a href="/system/about#3" target="_blank" title="友情链接_怀才当遇"><h3>友情链接</h3></a>
       </div>
    <!-- <p class="re_con_me">怀才当遇专注于人才求职交流、人力资源价值管理,改变怀才不遇窘境,提供全国企业实时人才招聘和人才求职信息。怀才当遇-致力高品质专属人才服务!</p> -->
    <p>京ICP备16011247 Powered by  2015-2025 北京怀才当遇网络技术有限公司版权所有</p>
</div>
<!-- 底部链接和备案 -->
</div>
</div>
<!-- 底部结束 -->
<!-- 右悬浮层 -->
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1449481848_8262384.css">
<div id="yxf">
<ul>
<li class="yxf_li1" id="online_qq"><a target="_blank" style="text-decoration: none!important;"  href="http://wpa.qq.com/msgrd?v=3&uin=3311245701&site=qq&menu=yes">
    <i class="iconfont icon-qq1 fzqq"></i></a></li>
    <li class="bac_q">
        <div id="ewm" >
            <img  src="{{ STATIC_URL }}images/2wm.png" alt="" ></div>
    </li>
    <li class="bac_q1" id="yjfk_btn1"></li>
    <li class="bac_q2" style="display:none;"></li>
</ul>
</div>

<div id="yjfk">
    <textarea id="fk_cont" placeholder="您好！我是怀才当遇的产品经理steven，把您遇到的问题或是想到的功能告诉我吧。（200字以内）" maxlength="200"></textarea>
    <input type="text" class="fk_email" placeholder="留下邮箱方便我们沟通（选填）">
    <button class="o_btn">确定</button>
    <p class="yjfk_abs"></p>
</div>
</body>
</html>