{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<div style="background-color: white;padding-bottom: 20px">
	<div style="background: url({{ STATIC_URL }}images/help.jpg) no-repeat center top;height:175px;background-size: cover;" class="help_banner"></div>
	<div class="help_wenti">
		<a href="#" class="active" >常见问题</a>
		<a href="#">猎头常见问题</a>
		<a href="#">企业常见问题</a>
		<a href="#">人才常见问题</a>
	</div>
	<div class="help_center active" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">01</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？ <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">02</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">03</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b" > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">04</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b"  > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">05</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b"  > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">06</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b"  > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">07</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b"  > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">08</div>
				<div class="b">questions</div>
			</div>
			<div class="auto_x"></div>
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b"  > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
	<div class="help_center" >
		<div  style="height:100%;position:absolute;left:0;top:0">
			<div class="sort">
				<div class="t">09</div>
				<div class="b">questions</div>
			</div>			
		</div>
		<dl class="f_r answer">
			<dt class="t">
				简历处理的一般流程是怎样的呢？  <i class="iconfont icon-jinlingyingcaiwangtubiao12"></i><i class="iconfont icon-fangxiang2"></i>
			</dt>
			<dd class="oh b"  > <i class="iconfont icon-aicon f_l"></i>
				<dl class="f_l a_content">
					<dt>发布职位后，就可以静待候选人投递简历了。</dt>
					<dd class="tip">提示：申请企业认证，完善公司信息、职位描述，按时刷新职位，都会帮助你更快地收到简历。</dd>
					<dd>
						当有候选人投递你的职位时，该简历将进入你在拉勾的简历管理后台，同时也将进入你的接收简历 邮箱。 
·想收到更多更好的简历？想主动邀请符合条件的候选人？联系拉勾增值服务吧。
					</dd>
				</dl>
			</dd>
		</dl>
	</div>
</div>
<script type="text/javascript">
	$(".help_center").click(function(){
		$(".help_center").removeClass('active');
		$(this).addClass('active');
	})
</script>
{% include 'jobs/system/new_footer.html' %}