{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style1.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pages.css">
<link href="{{ STATIC_URL }}css/style_cj2.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
<style type="text/css"></style>
<div class="lt_content_box">
	<!-- 猎头会员菜单开始 -->
	<ul class="nav nav-tabs center lthy_nav">
		<li class="active">
			<a href="#">职位搜索</a>
		</li>
		<li>
			<a href="#">匹配到的职位</a>
		</li>
		<li>
			<a href="#">我投递的职位</a>
		</li>
		<li>
			<a href="#">职位收藏夹</a>
		</li>
	</ul>
	<!-- 猎头会员菜单结束 -->
	<div class="clear"></div>
	<div class="center" style="background-color: white">
		<div class="ssjg p9 mt30" style="width:100%">
			<div class="bkdw"></div>
			<div class="biaolm m10" style="width:100%">
				<div class="biaot2 fz16">
					<ul>
						<li class="bthover">全部职位</li>
					</ul>
				</div>
				<div class="qhann">
					<ul>
						<li class="sige fz12 sigehs"> <i class="iconfont icon-liebiao fsn" style="font-size:24px;"></i>
							图片列表jj
						</li>
						<li class="sige fz12"> <i class="iconfont icon-list fsn" style="font-size:18px;"></i>
							文章列表
						</li>
					</ul>
				</div>
			</div>
			<div id="tw_box">
			<ul class="tddjl_ul_box" >
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
				<li class="tddjl_li">
					<div class="f_l t_c" style="margin-top: 2px">
						<img src="/static/images/meituan.jpg" width="65" height="65">
						<p class="fz12" style="margin-top: 8px!important">【企业直招】</p>
					</div>
					<ul class="f_l" style="position:relative;width:222px">
						<li class="c3"> <b class="fz16 fn fb">详情页设计师</b>
						</li>
						<li class="fz12" style="width:100%;margin-top: 3px!important">
							月薪：
							<i class="fn fz16 cr pl5">8K-20K</i>
						</li>
						<li class="fz12  txt_hide" style="width:150px;margin-top: 3px!important">互联网/电子商务/网游</li>
						<li class="fz12  txt_hide" style="width:190px;margin-top: 3px!important">北京和君设计传媒创意有限公司</li>
						<li class="ppd_box2" style="position:absolute;right:0;top:0px;margin-right: 0">
                                <div class="t">41%</div>
                                <div>匹配值</div>
                            </li>
					</ul>
					<div style="clear:both"></div>
					<div class="b fz12">
						<span>南昌</span><em>|</em><span>3年-5年</span><em>|</em><span>本科</span><em>|</em><span>2015-15-15</span><span>发布</span>
					</div>
					<div class="q mt6">
                        <span>三节福利</span>
                        <span>带薪年假</span>
                        <span>五险一金</span>
                        <span>美女如云</span>
					</div>
					<div class="p" style="width:295px">
						<input name="input" type="button" value="投递简历" class="gnanys"><input name="input" type="button" value="私信" class="gnanys"><input name="input" type="button" value="收藏" class="gnanys">
					</div>
				</li>
			</ul>
			 <div class="ht25"></div>
                <div class="btn" style="display: block!important;margin: 0 auto!important;width: 300px;padding:0">
                    <a href="#" class="btn_lr">上一页</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#" class="btn_lr">下一页</a>
                </div>
                <div class="ht20"></div>
                <div class="clear"></div>
			</div>
			<div class="zwss_r_b2" style="display: none;" id="wz_box">
                <ul>

                    <li>
                        <div class="zwss_li_t">
                            <div class="zwss_li_t1">
                                <img src="../../static/images/bdnm.jpg"></div>
                            <div class="zwss_li_t2">
                                <p>
                                    <span class="lit2_s1">
                                        <a href="#">详情页设计师</a>
                                    </span> <i class="wh10"></i>
                                    北京市和君设计有限公司 月薪： <i class="wh15"></i>
                                    <span class="lit2_s2">8K-20K</span>
                                    <span class="c_c8">【企业直招】</span>
                                </p>
                                <p>南昌  |  三年以上  |  本科  |  互联网/电子商务/网游  |  2015-15-15 发布</p>
                            </div>
                            <div class="zwss_li_t3 mt10">
                                <p class="lit3_p1">
                                    <span>匹配值</span>
                                    <span class="fz24 ml5">76%</span>
                                </p>
                                <div class="jdt mt10" style="width:100px">
                                    <span></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="zwss_li_b">
                            <div class="zwss_li_b1">
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                            </div>
                            <div class="zwss_li_b2">
                                <a class="btn_sx" href="javascript:void(0);" data-toggle="modal" data-target="#message_Modal">私信</a>
                                <a>收藏</a>
                                <a class="reda btn_tdjl" data-toggle="modal" data-target="#tdjl_Modal">投递简历</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="zwss_li_t">
                            <div class="zwss_li_t1">
                                <img src="../../static/images/bdnm.jpg"></div>
                            <div class="zwss_li_t2">
                                <p>
                                    <span class="lit2_s1">
                                        <a href="#">详情页设计师</a>
                                    </span>
                                    <i class="wh10"></i>
                                    北京市和君设计有限公司 月薪：
                                    <i class="wh15"></i>
                                    <span class="lit2_s2">8K-20K</span>
                                    <span class="c_c8">【企业直招】</span>
                                </p>
                                <p>南昌  |  三年以上  |  本科  |  互联网/电子商务/网游  |  2015-15-15 发布</p>
                            </div>
                            <div class="zwss_li_t3 mt10">
                                <p class="lit3_p1">
                                    <span>匹配值</span>
                                    <span class="fz24 ml5">76%</span>
                                </p>
                                <div class="jdt mt10" style="width:100px">
                                    <span style="width:30%"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="zwss_li_b">
                            <div class="zwss_li_b1">
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                            </div>
                            <div class="zwss_li_b2">
                                <a class="btn_sx" href="javascript:void(0);" data-toggle="modal" data-target="#message_Modal">私信</a>
                                <a href="#">收藏</a>
                                <a href="#" class="reda btn_tdjl">投递简历</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="zwss_li_t">
                            <div class="zwss_li_t1">
                                <img src="../../static/images/bdnm.jpg"></div>
                            <div class="zwss_li_t2">
                                <p>
                                    <span class="lit2_s1">
                                        <a href="#">详情页设计师</a>
                                    </span>
                                    <i class="wh10"></i>
                                    北京市和君设计有限公司 月薪：
                                    <i class="wh15"></i>
                                    <span class="lit2_s2">8K-20K</span>
                                    <span class="c_c8">【企业直招】</span>
                                </p>
                                <p>南昌  |  三年以上  |  本科  |  互联网/电子商务/网游  |  2015-15-15 发布</p>
                            </div>
                            <div class="zwss_li_t3 mt10">
                                <p class="lit3_p1">
                                    <span>匹配值</span>
                                    <span class="fz24 ml5">76%</span>
                                </p>
                                <div class="jdt mt10" style="width:100px">
                                    <span style="width:30%"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="zwss_li_b">
                            <div class="zwss_li_b1">
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                            </div>
                            <div class="zwss_li_b2">
                                <a class="btn_sx" href="javascript:void(0);" data-toggle="modal" data-target="#message_Modal">私信</a>
                                <a href="#">收藏</a>
                                <a href="#" class="reda btn_tdjl">投递简历</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="zwss_li_t">
                            <div class="zwss_li_t1">
                                <img src="../../static/images/bdnm.jpg"></div>
                            <div class="zwss_li_t2">
                                <p>
                                    <span class="lit2_s1">
                                        <a href="#">详情页设计师</a>
                                    </span>
                                    <i class="wh10"></i>
                                    北京市和君设计有限公司 月薪：
                                    <i class="wh15"></i>
                                    <span class="lit2_s2">8K-20K</span>
                                    <span class="c_c8">【企业直招】</span>
                                </p>
                                <p>南昌  |  三年以上  |  本科  |  互联网/电子商务/网游  |  2015-15-15 发布</p>
                            </div>
                            <div class="zwss_li_t3 mt10">
                                <p class="lit3_p1">
                                    <span>匹配值</span>
                                    <span class="fz24 ml5">76%</span>
                                </p>
                                <div class="jdt mt10" style="width:100px">
                                    <span style="width:30%"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="zwss_li_b">
                            <div class="zwss_li_b1">
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                            </div>
                            <div class="zwss_li_b2">
                                <a class="btn_sx" href="javascript:void(0);" data-toggle="modal" data-target="#message_Modal">私信</a>
                                <a href="#">收藏</a>
                                <a href="#" class="reda btn_tdjl">投递简历</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="zwss_li_t">
                            <div class="zwss_li_t1">
                                <img src="../../static/images/bdnm.jpg"></div>
                            <div class="zwss_li_t2">
                                <p>
                                    <span class="lit2_s1">
                                        <a href="#">详情页设计师</a>
                                    </span>
                                    <i class="wh10"></i>
                                    北京市和君设计有限公司 月薪：
                                    <i class="wh15"></i>
                                    <span class="lit2_s2">8K-20K</span>
                                    <span class="c_c8">【企业直招】</span>
                                </p>
                                <p>南昌  |  三年以上  |  本科  |  互联网/电子商务/网游  |  2015-15-15 发布</p>
                            </div>
                            <div class="zwss_li_t3 mt10">
                                <p class="lit3_p1">
                                    <span>匹配值</span>
                                    <span class="fz24 ml5">76%</span>
                                </p>
                                <div class="jdt mt10" style="width:100px">
                                    <span style="width:30%"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="zwss_li_b">
                            <div class="zwss_li_b1">
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                            </div>
                            <div class="zwss_li_b2">
                                <a class="btn_sx" href="javascript:void(0);" data-toggle="modal" data-target="#message_Modal">私信</a>
                                <a href="#">收藏</a>
                                <a href="#" class="reda btn_tdjl">投递简历</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="zwss_li_t">
                            <div class="zwss_li_t1">
                                <img src="../../static/images/bdnm.jpg"></div>
                            <div class="zwss_li_t2">
                                <p>
                                    <span class="lit2_s1">
                                        <a href="#">详情页设计师</a>
                                    </span>
                                    <i class="wh10"></i>
                                    北京市和君设计有限公司 月薪：
                                    <i class="wh15"></i>
                                    <span class="lit2_s2">8K-20K</span>
                                    <span class="c_c8">【企业直招】</span>
                                </p>
                                <p>南昌  |  三年以上  |  本科  |  互联网/电子商务/网游  |  2015-15-15 发布</p>
                            </div>
                            <div class="zwss_li_t3 mt10">
                                <p class="lit3_p1">
                                    <span>匹配值</span>
                                    <span class="fz24 ml5">76%</span>
                                </p>
                                <div class="jdt mt10" style="width:100px">
                                    <span style="width:30%"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="zwss_li_b">
                            <div class="zwss_li_b1">
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                            </div>
                            <div class="zwss_li_b2">
                                <a class="btn_sx" href="javascript:void(0);" data-toggle="modal" data-target="#message_Modal">私信</a>
                                <a href="#">收藏</a>
                                <a href="#" class="reda btn_tdjl">投递简历</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <div class="zwss_li_t">
                            <div class="zwss_li_t1">
                                <img src="../../static/images/bdnm.jpg"></div>
                            <div class="zwss_li_t2">
                                <p>
                                    <span class="lit2_s1">
                                        <a href="#">详情页设计师</a>
                                    </span>
                                    <i class="wh10"></i>
                                    北京市和君设计有限公司 月薪：
                                    <i class="wh15"></i>
                                    <span class="lit2_s2">8K-20K</span>
                                    <span class="c_c8">【企业直招】</span>
                                </p>
                                <p>南昌  |  三年以上  |  本科  |  互联网/电子商务/网游  |  2015-15-15 发布</p>
                            </div>
                            <div class="zwss_li_t3 mt10">
                                <p class="lit3_p1">
                                    <span>匹配值</span>
                                    <span class="fz24 ml5">76%</span>
                                </p>
                                <div class="jdt mt10" style="width:100px">
                                    <span style="width:30%"></span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="zwss_li_b">
                            <div class="zwss_li_b1">
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                                <p>绩效奖金</p>
                            </div>
                            <div class="zwss_li_b2">
                                <a class="btn_sx" href="javascript:void(0);" data-toggle="modal" data-target="#message_Modal">私信</a>
                                <a href="#">收藏</a>
                                <a href="#" class="reda btn_tdjl">投递简历</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>

                    <div class="clear"></div>
                </ul>

                <div class="ht25"></div>
                <div class="btn" style="display: block!important;margin: 0 auto!important;width: 300px;padding:0">
                    <a href="#" class="btn_lr">上一页</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#" class="btn_lr">下一页</a>
                </div>
                <div class="ht20"></div>
                <div class="clear"></div>
            </div>
		</div>
	</div>
</div>
	<script>
      $(".qhann li").click(function(){
      	$(this).removeClass('sigehs').addClass('sigehs').siblings().removeClass('sigehs');
      	var index=$(this).index();
      	if(index==0)
      	{
      		$("#tw_box").show();
      		$("#wz_box").hide();
      	}
      	else
      	{
      		$("#tw_box").hide();
      		$("#wz_box").show();
      	}
      })
	</script>
	{% include 'jobs/system/new_footer.html' %}