<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{ title }}</title>
    <meta name="author" content="怀才当遇">
    <link href="/static/new_mobile/css/common.css" rel="stylesheet" type="text/css">
    <link href="/static/new_mobile/css/resume.css" rel="stylesheet" type="text/css">
    <link href="/static/new_mobile/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/static/new_mobile/js/jquery.js" type="text/javascript"></script>
    <script src="/static/new_mobile/js/jquery-1.7.2.min.js" type="text/javascript"></script>
{#    <script src="/static/new_mobile/js/cache_classify.js" type="text/javascript" charset="utf-8"></script>#}
    <script src="/static/new_mobile/js/jquery.common.js" type="text/javascript"></script>

    <script type="text/javascript">
    var show_logo;
    var file_website = "{{ request.session.file_website }}";
    var cash_website = "{{ request.session.cash_website }}";
    $(document).ready(function()
    {
        //打开顶部菜单
        $("#topmenu_sub").click( function () { 
            $("#topmenu").slideToggle("fast");
        }); 
        // show_logo = setInterval(function(){
        //     $(".zsp_header a").eq(0).addClass('h_img');
        //     setTimeout(function(){
        //         $(".zsp_header a").eq(0).removeClass('h_img');
        //     },1000);
        // },5000);
        
    });
    </script>
    

