{% include 'header.html' %}
<link href="/static/new_mobile/css/zsl_login.css" rel="stylesheet" type="text/css">
<script src="/static/new_mobile/js/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">
var clearTimeOutNum = null;
$(document).ready(function() {
    $("#hide_psd").live("keyup", function () {
        $("#show_psd").val($(this).val());
    })

    $("#show_psd").live("keyup", function () {
        $("#hide_psd").val($(this).val());
    })
    $(".psd_eye").click(function () {
        if ($(this).hasClass("open")) {
            $(this).removeClass("open").find("img").attr("src", "/static/new_mobile/images/closeeye.png");
            $("#hide_psd").show();
            $("#show_psd").hide();
        } else {
            $(this).addClass("open").find("img").attr("src", "/static/new_mobile/images/openeye.png");
            $("#hide_psd").hide();
            $("#show_psd").show();
        }
    })
    //打开顶部菜单
    $("#topmenu_sub").click(function () {
        $("#topmenu").slideToggle("fast");
    });
    jQuery.validator.addMethod("phone", function (value, element) {
        return this.optional(element) || /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/.test(value);
    }, "请输入正确的手机号码");
    $("#login_form").validate({
        rules: {
            password: {
                required: true,
                minlength: 6,
                maxlength: 18
            },
            verification_code: {
                required: true
            },
            username: {
                required: true,
                phone: true
            }
        },
        messages: {
            username: {
                required: "请填写用户名",
                phone: "请输入有效的手机号码"
            },
            verifycode: {
                required: "请输入验证码"
            },
            password: {
                required: "请填写密码",
                minlength: jQuery.format("填写不能小于{0}个字符"),
                maxlength: jQuery.format("填写不能大于{0}个字符")
            }

        },
        errorPlacement: function (error, element) {
            $('.errorTip').text(error.html()).fadeIn();
            clearTimeout(clearTimeOutNum);
            clearTimeOutNum = setTimeout(function () {
                $('.errorTip').text("").fadeOut();
            }, 3000)
        },
        submitHandler: function (form) {
            var username = $("input[name=username]").val();
            var verifycode = $("input[name=verifycode]").val();
            var password = $("input[name=password]").val();
            $.ajax({
                type: "POST",
                url: "/mobile/ajax_update_account_password",
                data: {"phone": username, "code": verifycode, 'password': password},
                dataType: "json",
                success: function (data) {
                    if (data.trim() == "success") {
                        window.location.href = "/mobile/login_register"
                    } else {
                        $('.errorTip').text(data).fadeIn();
                        clearTimeout(clearTimeOutNum);
                        clearTimeOutNum = setTimeout(function () {
                            $('.errorTip').text("").fadeOut();
                        }, 3000)
                    }
                }
            })
        }
    });
})


//发送手机验证
    var mobileinterval; //调度器对象。
    var mobileSendTime;
    $(function () {
        var mobiletime = 1000;

        function mobilerun() {
            mobileinterval = setInterval(mobilefun, mobiletime);
        }

        $("#mobilesend").click(function () {
            var tel = /^(13|15|14|17|18)\d{9}$/;
            if ($("#username").val() == '') {
                alert_dialog("fail:请填写手机号", "", "", "", "");
            }
            else if (!tel.test($("#username").val())) {
                alert_dialog("fail:手机号错误", "", "", "", "");
            }
            else {
                var mobile = $("#username").val();
                $("#mobile").attr("disabled", "disabled");
                $("#Form1").append("<input type='hidden' name='username' id='username' value='" + mobile + "'>");
            }
        });
    });

    function mobilefun() {
        if (mobileSendTime > 0) {
            mobileSendTime--;
            $("#mobilesend").html(mobileSendTime);
        } else {
            $("#mobilesend").html("发送验证码");
            clearInterval(mobileinterval);
        }
    }

    $(".find_psd.ok").live("click", function () {
        $(".find_psd").addClass("hide");
        $(".telphone").hide();
        $("#hide_username").val($("#username").val())
        $(".reset_psd").removeClass("hide");
        $(".send_tip").find("p span").text($("#username").val());
        $(".send_tip").removeClass("hide");
        $(".reg_ele").addClass("show");
        $(".psd_ele").addClass("show");

        var mobile = $("#hide_username").val();
        $.ajax({
            async: false,
            type: "POST",
            url: "/mobile/ajax_send_findback_password_msg",
            data: {"code": "abc", "mobile": mobile},
            dataType: "json",
            success: function (msg) {
                if (msg == '1') {
//                  mobileSendTime = 60;
//                  $("#mobilesend").html(mobileSendTime);
//                  mobilerun();
//                  $("#mobilesendsucceed").show();
//                  $("#mobile_verifycode").attr("disabled","");
                }
                else {
                    $('.errorTip').text(data).fadeIn();
                    clearTimeout(clearTimeOutNum);
                    clearTimeOutNum = setTimeout(function () {
                        $('.errorTip').text("").fadeOut();
                    }, 3000)
                }
            }
        })
    });

    function validPhone() {
        var phone = $("#username").val();
        var phoneReg = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
        if (phoneReg.test(phone)) {
            $.ajax({
                async: false,
                type: 'post',
                data: {'account': phone},
                url: '/mobile/ajax_isAccountRegistered',
                dataType: 'json',
                success: function (data) {
                    if (data == "password" || data == "code") {
                        $("input[name='verifycode']").val("");
                        $("input[name='password']").val("");
                        $("input[name='password1']").val("");
                        $(".find_psd").addClass("ok");
                    } else if (data == "register") {
                        $('.errorTip').text("手机号尚未注册").fadeIn();
                        $("#username").val('');
                        clearTimeout(clearTimeOutNum);
                        clearTimeOutNum = setTimeout(function () {
                            $('.errorTip').text("").fadeOut();
                        }, 3000)
                        $(".psd_ele").removeClass("show");
                        $(".reg_ele").removeClass("show");
                    } else {
                        $(".psd_ele").removeClass("show");
                        $(".reg_ele").removeClass("show");
                        $(".submitBox").val("找回密码");
                    }
                }
            })
        } else {
            $('.errorTip').text("手机号不合法").fadeIn();
            $("#username").val('');
            $("#passwordLogin").css("display", "none");
            $("#codeLogin").css("display", "none");
        }
    }


// 验证码
function isValidCodeUseful() {
    var $audit_code = $("#verifycode");
    var audit_code = $audit_code.val();
    var reg = /^[0-9]{6}$/;
    if (!reg.test(audit_code)) {
        $audit_code.val('');
{#        alert("验证码格式不正确!");#}
        $('.errorTip').text("验证码格式不正确!").fadeIn();
        $audit_code.val('');
        return false;
    }
    var flag = true;
    $.ajax({
        async: false,
        type: 'post',
        data: {'audit_code': audit_code},
        url: '/mobile/ajax_isValidCodeUseful',
        dataType: 'json',
        success: function(data) {
            if(data == '1') {
                // 验证码有效
            } else {
                $('.errorTip').text(data).fadeIn();
                flag = false;
                $audit_code.val('');
            }
        }
    });
    return flag;
}
</script>
<body>
<div class="errorTip"></div>

<div class="top">
	<a href="/mobile/"><img src="/static/new_mobile/images/logo_xiao2.png" alt="怀才当遇"></a>
</div>


    <div class="loginBox">
    	<div class="send_tip hide">
    		<p>验证码已发送到你的手机：</p>
    		<p class="phone">+86 <span class="findback_phone">13572524191</span></p>
    	</div>
    	
        <div class="ele_box telphone show" style="margin-bottom: 3px">
            <div class="input_box">
                <input name="username" id="username" onchange="validPhone()" class="formcheck telCheck" type="tel" placeholder="请输入账号">
            </div>
        </div>
        
        <input type="submit" value="找回密码" class="submitBox find_psd">
        
        <form id="login_form" action="" method="post">
        	<input type="hidden" name="username" id="hide_username" value="">
	  		
	        <div class="ele_box reg_ele hide">	
	            <div class="input_box">
	               <input name="verifycode" id="verifycode" onblur="isValidCodeUseful()" type="text" placeholder="验证码">
	            </div>
	        </div>
	        
	        <div class="ele_box psd_ele hide">
	        	<div class="psd_eye"><img src="/static/new_mobile/images/closeeye.png"></div>
	            <div class="input_box spe">
	               <input name="password" type="password" placeholder="新密码" id="hide_psd">
	               <input name="password1" type="text" placeholder="新密码" class="hide" id="show_psd">
	            </div>
	        </div>
	        
	        <input type="submit" value="重置密码" class="submitBox reset_psd hide">
        </form>
        <a href="/mobile/login_register">账号登录</a>
    </div>



</body></html>