<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>	</title>
	<link rel="stylesheet" href="css/pulic.css">
     <link rel="stylesheet" href="css/swiper.min.css">
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/pu.js"></script>
     <script type="text/javascript" src="js/swiper.min.js"></script>
</head>
<body>
	<section class="content">
	  <div class="header_title">
			<span class="titmes pt10">战略合作企业</span>
			<div class="co_ltd">
			 <ul>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 	<li><img src="images/aaa.png"></li>
			 </ul>
		</div>
	  </div>
	  <div class="central">
            <div class="com_rec">
		    <img src="images/title1.gif" class="imgcc">			
		    <span class="titmes pt014">高新职位你敢想我敢有...</span>              
		    <div class="roll_ad">
		    	<span class="left_ico pa bacimg" href="javascript:void(0);"></span>
               <div class="com_qh" style="display:block">
		    	<ul>
		    		<li>
                         <div class="com_mes">
                              <img src="images/a1.jpg">
                              <div class="com_rig">
                                   <span>百度糯米</span><i class="bacimg" width=""></i><em>进入企业</em>
                                   <p>百度旗下移动互联网电子商务平台</p>
                                   <a href="#" class="bacimg"></a>
                              </div>
                         </div>
		    			<div class="roll_fmes">
		    				<ul>
		    					<li><span>供应链总监</span><p> 25k－50k</p> </li>
		    					<li><span>高级产品经理 </span><p>15k－30k</p> </li>
		    					<li><span>供应链总监</span><p> 25k－50k</p> </li>
		    					<li><span>高级产品经理 </span><p>15k－30k</p> </li>
		    				</ul>
		    			</div>
		    		</li>
		    	</ul>
              </div>

               <div class="com_qh">
               <ul>
                    <li>
                         <div class="com_mes">
                              <img src="images/a1.jpg">
                              <div class="com_rig">
                                   <span>百度糯米</span><i class="bacimg" width=""></i><em>进入企业</em>
                                   <p>百度旗下移动互联网电子商务平台</p>
                                    <a href="#" class="bacimg"></a>
                              </div>
                         </div>
                         <div class="roll_fmes">
                              <ul>
                                   <li><span>供应链总监</span><p> 25k－50k</p> </li>
                                   <li><span>高级产品经理 </span><p>15k－30k</p> </li>
                                   <li><span>供应链总监</span><p> 25k－50k</p> </li>
                                   <li><span>高级产品经理 </span><p>15k－30k</p> </li>
                              </ul>
                         </div>
                    </li>
               </ul>
              </div>

               <div class="com_qh">
               <ul>
                    <li>
                         <div class="com_mes">
                              <img src="images/a1.jpg">
                              <div class="com_rig">
                                   <span>百度糯米</span><i class="bacimg" width=""></i><em>进入企业</em>
                                   <p>百度旗下移动互联网电子商务平台</p>
                                    <a href="#" class="bacimg"></a>
                              </div>
                         </div>
                         <div class="roll_fmes">
                              <ul>
                                   <li><span>供应链总监</span><p> 25k－50k</p> </li>
                                   <li><span>高级产品经理 </span><p>15k－30k</p> </li>
                                   <li><span>供应链总监</span><p> 25k－50k</p> </li>
                                   <li><span>高级产品经理 </span><p>15k－30k</p> </li>
                              </ul>
                         </div>
                    </li>
               </ul>
              </div>


		    <span class="right_ico pa bacimg"></span>
		    </div>
		    <p class="line_t"></p>
		    <p class="line_f"></p>
		    <div class="cut_ico">
		    	<ul><li class="active"></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li></ul>		    	
		    </div>
           </div>
   <!--<div class="swiper-container swiper-container-horizontal">
        <a class="swiper-button-prev" href="javascript:void(0);"></a>
        <a class="swiper-button-next" href="javascript:void(0);"></a>
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-active"><img src="images/slider1-1.png"></div>
            <div class="swiper-slide swiper-slide-next"><img src="images/slider1-2.png"></div>
            <div class="swiper-slide">页面3</div>
            <div class="swiper-slide">页面4</div>
            <div class="swiper-slide">页面5</div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable">
             <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
             <span class="swiper-pagination-bullet"></span>
             <span class="swiper-pagination-bullet"></span>
             <span class="swiper-pagination-bullet"></span>
             <span class="swiper-pagination-bullet"></span>
        </div>
    </div>
    <script type="text/javascript" src="javascripts/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="javascripts/swiper.min.js"></script>
    <script>
        $(function(){
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                grabCursor: true,
                loop:true,
                autoplay:3000,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                paginationClickable: true
            });
        })
    </script>-->

           <!--特色展区-->
		   <div class="item_ea">
		       <div class="ea_info bacimg" id="eain1" style="display:block">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
		       	 <span>—— ——十大特色功能展区</span>
		       	 <h2>现场招聘区：</h2>
		       	 <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
		       	 <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
		       </div>
		          <div class="ea_info bacimg" id="eain2">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
                 <div class="ea_info bacimg" id="eain3">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
                   <div class="ea_info bacimg" id="eain4">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>asfsadfsadfsda</p>
                     <p>bsdvgbsdb；</p>
                 </div>
                   <div class="ea_info bacimg" id="eain5">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
                   <div class="ea_info bacimg" id="eain6">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
                   <div class="ea_info bacimg" id="eain7">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
                   <div class="ea_info bacimg" id="eain8">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
                   <div class="ea_info bacimg" id="eain9">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
                   <div class="ea_info bacimg" id="eain10">
                     <img src="images/item_ea.jpg" alt="" class="tit_img">
                     <span>—— ——十大特色功能展区</span>
                     <h2>现场招聘区：</h2>
                     <p>【招聘现场】设在绿地中心双子塔之间的广场，包括主席台与200-300个标准招聘展台；</p>
                     <p>【领导致辞】江西省人力资源协会协会雷湘池致辞，绿地控股集团江西事业部副总经理李景斌致辞；</p>
                 </div>
		       <div class="ea_selet">
		       	  <ul>
		       	  	<li class="active"><img src="images/ccha1.png"></li>
		       	  	<li><img src="images/ccha2.png"></li>
		       	  	<li><img src="images/ccha3.png"></li>
                         <li><img src="images/ccha4.png"></li>
                         <li style="margin-right:0px!important"><img src="images/ccha5.png"></li>
                         <li><img src="images/ccha6.png"></li>
                         <li><img src="images/ccha7.png"></li>
                         <li><img src="images/ccha8.png"></li>
                         <li><img src="images/ccha9.png"></li>
                         <li style="margin-right:0px!important"><img src="images/ccha10.png"></li>
		       	  </ul>
		       </div>		   	
		   </div>

             <div class="clear:both;"></div>
         <!--六大特色-->
          <div class="s_chara">
          	 <img src="images/s_chara.jpg" class="career_img">
          	 <div class="chara_info">
          	   <span class="ci_l">打破传统</span>
          	   <ul>
          	   	  <li>
          	   	  	 <span>【 才财对接 】</span>
          	   	  	 <p>打造江西首个以“人才”为核心，对接资本、项目的优质“才财”平台。</p>
          	   	  </li>
                       <li>
                          <span>【 精英归来 】</span>
                          <p>联合全国各大媒体、人才网站、仕道金略各分公司，邀约近千名江西籍在外及愿意到江西发展的精英人才来昌参会，助力江西企业人才建设。</p>
                      </li>
                       <li>
                          <span>【 人才主销 】</span>
                          <p>主销“人力资源管理类”、“财务管理类”、“营销管理类”三大专业线人才，每个专业线提供500名以上的精英人选。</p>
                      </li>
                       <li>
                          <span>【 强势推广 】</span>
                          <p>线上线下同步，怀才当遇线上平台+新媒体（微信、微博等）+现场招聘博览会+江西各大媒体+各省人才网站，360度的人才引进解决方案。</p>
                      </li>
                       <li>
                          <span>【 高性价比 】</span>
                          <p>用最低的成本最高效地解决企业人才需求；万人盛会更是企业品牌展示和形象宣传的最佳平台。</p>
                      </li>
                       <li>
                          <span>【 个性订制 】</span>
                          <p>人才经纪人”服务团队根据用户需要，提供定向邀约人才服务、企业专场招聘会服务、主销服务、私董会、项目路演等订制化服务，满足用户个性需求。</p>
                      </li>
          	   </ul>          	 	
          	 </div>
          </div>  


         <!--高端精英回归-->
          <div class="high_peo">
          	 <img src="images/high_peo.jpg" class="high_img">
          	 <div class="high_tit comm_tit">总监专场</div>
          	 <div class="peo_info">
          	   <img src="">
          	   <ul>
          	   	  <li>
          	   	  	 <span>听人力资源总监说说HR的战略价值</span>
          	   	  	 <p>2015年度最受欢迎的人力资源总监<br>
                      探讨人力资本趋势，分享个人成长心得</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <span>财务总监分享融资与财务规范的总要性</span>
          	   	  	 <p>500强企业财务总监分享金融融资与财务规范<br>
                      听听合伙人的声音</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <span>营销总监告诉你互联网+形式下的新营销</span>
          	   	  	 <p>在互联网新营销的冲击下<br>
                      看看成功的营销总监是如何实现“老树新花亦是春”</p>
          	   	  </li>
          	   </ul>          	 	
          	 </div>
          	 <div class="info_img">
          	   <ul>
          	   	  <li>
          	   	  	 <img src="images/im1.jpg">
          	   	  </li>
          	   	   <li>
          	   	  	 <img src="images/im2.jpg">
          	   	  </li>
          	   	   <li>
          	   	  	 <img src="images/im3.jpg">
          	   	  </li>
          	   </ul> 
          	   <a class="bm_btn bacimg" href="enroll.html"></a>     	 	
          	 </div>
          </div>  


           <!--职业交流群-->
          <div class="career_comm">
          	 <img src="images/career_comm.jpg" class="career_img">
          	 <div class="pub_tit comm_tit">分享创造价值</div>
          	 <div class="comm_info">
          	   <ul>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   	  <li>
          	   	  	 <img src="images/qrcode.jpg">
          	   	  	 <p>怀才当遇微信公众号</p>
          	   	  </li>
          	   </ul>          	 	
          	 </div>
          </div> 
      </div>		
	</section>

   

  <script>
        $(function(){
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                grabCursor: true,
                loop:true,
                autoplay:2000,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                paginationClickable: true
            });
        })
    </script>
</body>
</html>