{% load i18n %}
{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">

<link href="{{ STATIC_URL }}css/style1.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style_cj.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/patch.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/popup.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/qiehuan.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pagination.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/businessul_old.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/position_old.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/area.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/major.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/position_all.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/forwardresume.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/inviteDialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/businessul.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/position.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/interview.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/isIdentityAudit.js"></script>
<div class="lt_content_box wdjlk">
	<!-- 猎头会员菜单开始 -->
	{% include 'jobs/system/menu_resume.html' %}
	<div class="clear">2</div>
	<div class="clear">1</div>
	<div class="center mt25">

		<!-- 猎头会员找简历主内容开始 -->
		<div class="dleft">
			<div class="sstj" style="display:none;line-height: 25px!important; padding:8px 0px;" >
				<div class="sstj_wen pl20" style="padding-top:15px;">
					<i style="vertical-align: top;">您当前的搜索条件是：</i>
					<span style="cursor: pointer"> </span>
				</div>
				<div class="sstj_ann">
{#					<a href="#">#}
						<div class="sstj_an">
							<div class="sstj_tb pl15"> <i class="iconfont icon-chilunhover fz24 fsn"></i>
							</div>
							<div class="sstj_tb pl5 fz14" style="cursor: pointer;margin-left: 23px" id="update_search_btn">修改搜索条件</div>
						</div>
{#					</a>#}
				</div>
			</div>
			<div class="ssjg p9 mt25" style="display:none" id="ssjg_box">
				<div class="bkdw"></div>
				<div class="biaolm m10">
					<div class="biaot fz16">搜索结果</div>
					<div class="qhann">
						<ul>
{#							<li class="sige sigehs fz12"> <i class="iconfont icon-liebiao fsn" style="font-size:24px;"></i>#}
{#								图片列表#}
{#							</li>#}
{#							<li class="sige fz12">#}
{#								<i class="iconfont icon-list fsn" style="font-size:18px;"></i>#}
{#								文章列表#}
{#							</li>#}
						</ul>
					</div>
				</div>
				<div class="tjsx m10">
					<input name="" type="checkbox" value="" id="checkAll">
					<i class="ml5 mr5 fn">全选</i>
					<input name="" type="button" value="批量推荐" class="tjann" onclick="judgeSelected(this)">
					<input name="" type="button" value="批量收藏" class="tjann" onclick="collectSelectResume()">
					<input name="" type="button" value="批量转发" class="tjann" onclick="judgeSelected(this)">
					<input name="" type="button" value="批量私信" class="tjann" data-toggle="modal" data-target="#message_Modal" onclick="judgeSelected(this)"></div>
				<!-- 猎头会员搜索结果图片列表开始 -->
				<div class="tuplb sigenr mt5" id="tableInfo" style="overflow: hidden">



					<div class="clear"></div>
				</div>
                <div class="lthy_pager" id="paginInfo">

                </div>
				<!-- 猎头会员搜索结果图片列表结束 -->
				<!-- 猎头会员搜索结果文章列表开始 -->

				<!-- 猎头会员搜索结果文章列表结束 -->
			</div>

			<!-- 猎头会员找简历开始 -->
			<div class="ssjg p9" id="ssjg_tj_box">
				<div class="bkdw"></div>
				<div class="biaolm m10">
					<div class="biaot2 fz16">
						<ul>
							<li class="bthover">找简历</li>
						</ul>
					</div>

				</div>

				<!-- 猎头会员找简历表单开始 -->

				<div class="lt_zjl_k">
                    <input type="hidden" id="resumeSearchId" />
					<ul>
						<li>
							<div class="bd_Le">关键词</div>
							<div class="bd_Ri">
								<input name="" maxlength="16" type="text" id="keywords" class="zw_btk" />
							</div>
						</li>
					</ul>
					<ul>
						<li>
							<div class="bd_Le"  style="line-height:70px;">期望行业</div>
							<div class="bd_Ri">
{#								<input name="" onclick="showBusinessul(this,2)" class="zw_btk2" id="expected_industry" placeholder="请选择行业">#}
                                <div id="businessulDiv" onclick="BusinessulControlsShow(3,this)" ></div>
                                <input id="businessulValue" name="businessulValue" type="hidden" value="">
                            </div>
						</li>
					</ul>
					<ul>
						<li>
							<div class="bd_Le" style="line-height: 70px;">期望职位</div>
							<div class="bd_Ri">
{#								<input name="" onclick="positionShow(this)" class="zw_btk2" id="expected_position" placeholder="请选择职位" >#}
                                <div id="positionDiv" onclick="PositionControlsShow(3,this)"></div>
                                <input type="hidden" value="" name="positionValue" id="expectPosition">
                            </div>
						</li>
					</ul>
					<ul style="margin-top: 5px">
						<li>
							<div class="bd_Le">期望工作地区</div>
							<div class="bd_Ri">
								<input name="" class="zw_btk2 tk" id="expected_area" onclick="showArea(this,3)" placeholder="请选择工作地区" >
                                <input type="hidden" value="" name="areaValue">
                            </div>
						</li>
					</ul>
					<ul>
						<li class=" mt20">
							<div class="lt_gjss" id="gj_search_btn" style="cursor: pointer">
								<i class="iconfont icon-chilunhover pr5 fn" style="font-size:19px;"></i>
								高级搜索条件
							</div>
						</li>
					</ul>
					<div id="gj_search_box" style="display:none">
						<ul>
							<li >
								<div class="bd_Le">性别</div>
								<div class="bd_Ri">
									<div class="zw_btk5 mr5" style="cursor: pointer">
										<i class="iconfont icon-nan" style="font-size:16px;"></i>
										<i>男</i>
									</div>
									<div class="zw_btk5 mr5" style="cursor: pointer">
										<i class="iconfont icon-nv" style="font-size:16px;"></i>
										<i>女</i>
									</div>
									<div class="zw_btk5 mr5" style="cursor: pointer">不限</div>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="bd_Le">年龄</div>
								<div class="bd_Ri">
									<input name="" id="startAge" type="text" class="zw_btk7" />
									<b class="fn fz14 pl10 pr10">——</b>
									<input name="" id="endAge" type="text" class="zw_btk7" />
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="bd_Le">工作年限</div>
								<div class="bd_Ri">
									<select name="" class="zw_btk1" id="work_year">
                                        <option value="">请选择</option>
                                        {% if forWorkYs %}
                                            {% for forWorkY in forWorkYs %}
                                                <option value="{{ forWorkY.dictionary_value }}">{{ forWorkY.dictionary_name }}</option>
                                            {% endfor %}
                                        {% endif %}
									</select>
								</div>
							</li>
						</ul>
{#						<ul>#}
{#							<li>#}
{#								<div class="bd_Le">目前年薪</div>#}
{#								<div class="bd_Ri">#}
{#									<select name="" id="sCurrentSalary" class="zw_btk8"></select>#}
{#									<b class="fn fz14 pl10 pr10">——</b>#}
{#									<select name="" id="eCurrentSalary" class="zw_btk8"></select>#}
{#								</div>#}
{#							</li>#}
{#						</ul>#}
						<ul>
							<li>
								<div class="bd_Le">期望年薪</div>
								<div class="bd_Ri">
                                    <select name="" id="expectSalary" class="zw_btk1">
                                        <option value="">请选择</option>
                                        {% if expectPays %}
                                            {% for expectPay in expectPays %}
                                                <option value="{{ expectPay.dictionary_value }}">{{ expectPay.dictionary_name }}</option>
                                            {% endfor %}
                                        {% endif %}
									</select>
{#									<select name="" id="sExpectedSalary" class="zw_btk8"></select>#}
{#									<b class="fn fz14 pl10 pr10">——</b>#}
{#									<select name="" id="eExpectedSalary" class="zw_btk8"></select>#}
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="bd_Le">目前公司</div>
								<div class="bd_Ri">
									<input name="" id="company_name" class="zw_btk"></div>
							</li>
						</ul>
{#						<ul>#}
{#							<li>#}
{#								<div class="bd_Le" >所在行业</div>#}
{#								<div class="bd_Ri">#}
{#									<input name="" class="zw_btk2" id="current_industry" data-toggle="modal" data-target="#schy_moadl"></div>#}
{#							</li>#}
{#						</ul>#}
						<ul>
							<li>
								<div class="bd_Le">目前职位</div>
								<div class="bd_Ri">
{#									<input name="" class="zw_btk2" id="current_position" onclick="showPoitionAll(this,1)" placeholder="请选择目前职位">#}
                                    <div id="nowPositionDiv" onclick="PositionControlsShow(1,this)"></div>
                                    <input type="hidden" value="" name="positionValue" id="positionValue">
                                </div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="bd_Le">目前居住地</div>
								<div class="bd_Ri">
									<input name="" class="zw_btk2" id="current_area" onclick="showArea(this,1)" placeholder="请选择目前居住地">
                                    <input type="hidden" value="" name="nowLiveArea" />
                                </div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="bd_Le">学历</div>
								<div class="bd_Ri">
									<select name="" id="diploma" class="zw_btk1">
                                        <option value="">请选择</option>
                                        {% if diplomas %}
                                            {% for diploma in diplomas %}
                                                <option value="{{ diploma.dictionary_value }}">{{ diploma.dictionary_name }}</option>
                                            {% endfor %}
                                        {% endif %}
									</select>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="bd_Le">婚姻状况</div>
								<div class="bd_Ri">
									<select name="" id="married" class="zw_btk8">
                                        <option value="">请选择</option>
                                        <option value="未婚">未婚</option>
                                        <option value="已婚">已婚</option>
									</select>
								</div>
							</li>
						</ul>
{#						<ul>#}
{#							<li>#}
{#								<div class="bd_Le">语言能力</div>#}
{#								<div class="bd_Ri">#}
{#									<input name="" type="text" class="zw_btk7" />#}
{#									<b class="fn fz14 pl10 pr10">——</b>#}
{#									<input name="" type="text" class="zw_btk7" />#}
{#								</div>#}
{#							</li>#}
{#						</ul>#}
						<ul>
							<li>
								<div class="bd_Le">专业名称</div>
								<div class="bd_Ri">
									<input name="" class="zw_btk2" id="major" onclick="showMajor(this,10)" placeholder="请选择专业" >
                                    <input type="hidden" value="" name="majorValue">
                                </div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="bd_Le">技能名称</div>
								<div class="bd_Ri">
									<input name="" class="zw_btk"></div>
							</li>
						</ul>
					</div>
				</div>

				<div class="lt_zjlqran">
					<input name="" type="button" class="lt_zltbc" value="搜索简历" id="search_btn"/>
					<input name="" type="button" class="lt_zltbctj fz14 ml15" value="保存搜索条件"
                         data-toggle="modal" data-target="#search_Modal"/>
				</div>

				<!-- 猎头会员找简历表单结束 -->

			</div>
			<!-- 猎头会员找简历结束 -->
		</div>
		<!-- 猎头会员找简历主内容结束 -->

		<div class="xright">
			<!-- 猎头会员保存的条件开始 -->
			<div class="wbdss" style="margin-bottom:25px;">
				<div class="wbdss_tou">
					<i class="iconfont icon-sousuo fsn pl15 cr" style="font-size:20px;"></i>
					<i class="fn fz16 pl5">我保存的快捷搜索</i>
				</div>
				<div class="wbdss_lb">
					<ul>
                        {% if tResumeSearches %}
                            {% for tResumeSearch in tResumeSearches %}
                                <li><input type="hidden" value="{{ tResumeSearch.id }}" />
                                <div class="wbdss_wen" style="cursor:pointer;" onclick="quickSearch({{ tResumeSearch.id }})">{{ tResumeSearch.search_name }}</div>
                                <span class="del_btn" style="cursor:pointer;display:none" data-toggle="modal" data-target="#if_del_Modal" ></span>
                            </li>
                            {% endfor %}
                        {% endif %}
{#						<li>#}
{#							<div class="wbdss_wen">设计师</div>#}
{#							<span class="del_btn" style="cursor: pointer;display:none">X</span>#}
{#						</li>#}
{#						<li>#}
{#							<div class="wbdss_wen">设计师</div>#}
{#							<span class="del_btn " style="cursor: pointer;display:none">X</span>#}
{#						</li>#}
{#						<li>#}
{#							<div class="wbdss_wen">设计师</div>#}
{#							<span class="del_btn" style="cursor: pointer;display:none">X</span>#}
{#						</li>#}
{#						<li>#}
{#							<div class="wbdss_wen">设计师</div>#}
{#							<span class="del_btn" style="cursor: pointer;display:none">X</span>#}
{#						</li>#}
{#						<li>#}
{#							<div class="wbdss_wen">设计师</div>#}
{#							<span class="del_btn" style="cursor: pointer;display:none">X</span>#}
{#						</li>#}
					</ul>
				</div>
				<div class="wbdss_foot"></div>
			</div>
			<!-- 猎头会员保存的条件结束 -->
			<!-- 侧边栏 -->
			{% include 'jobs/recommendResume.html' %}
			<!-- 侧边栏 -->
		</div>
        <input type="hidden" id="searchResumeId" /><!-- 快捷搜索简历ID，用于删除 -->
        <input type="hidden" id="sourceId" />
        <input type="hidden" id="operateState" />
        <input type="hidden" id="initData" value="{{ condition }}" />
        <input type="hidden" id="queryPosition" value="{{ queryPosition }}" />
        <input type="hidden" id="queryPositionName" value="{{ queryPositionName }}" />
		<div class="clear"></div>
	</div>
</div>
<!-- 快捷搜索名称模态框（Modal） -->
<div class="modal fade" id="search_Modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog"style="width:300px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">快捷搜索</h4>
            </div>
            <div class="modal-body t_c" style="text-align: left;">快捷搜索名称:<div><textarea name="search_name" id="searchName" cols="30" rows="4" style="width: 270px;resize: none;"></textarea></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="sureInterview" onclick="searchDataDeal('save')">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:auto;height:auto">取消</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
        <!-- /.modal -->
        <!-- 模态框（Modal） -->
<!-- 删除快捷搜索条件模态框（Modal） -->
<div class="modal fade" id="if_del_Modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog"style="width:300px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除快捷搜索</h4>
            </div>
            <div class="modal-body t_c">是否确认删除该快捷搜索？</div>
            <div class="modal-footer" style="border:none;">
                <input type="hidden" id="cancelId" />
                <input type="hidden" id="cancelGroupId" />
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteQuickSearch()">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:auto;height:auto">取消</button>

            </div>
        </div>
        <!-- /.modal-content --> </div>
</div>
<!-- /.modal -->
<!-- 模态框（Modal） -->
<!-- 私信模态框（Modal） -->
    <div class="modal fade" id="message_Modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:610px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">发送私信</h4>
                </div>
                <div class="modal-body t_c">
                    <div  class="message_Modal_box">
                        <span>某某某<label>x</label></span><span>某某某<label>x</label></span><span>某某某<label>x</label></span><span>某某某<label>x</label></span><span>某某某<label>x</label></span><span>某某某<label>x</label></span>
                    </div>
                    <div  class="modal_wdgz mt10">
                    <i class="iconfont icon-iconfontmoban2"></i>
                    <p style="display: inline;color: #666;padding-left: 5px; font-size:14px;">信息模板</p>
                    <div class="dialog" style="display:none">
                        <ul class="list" style="  overflow: auto; height: 244px; ">
                            {% for tmodel in tmodels %}
                                <li>
                                    <span style="color:#666">{{ tmodel.model_name }}</span>
                                    <span style="margin-left: 30px;color:#b5b5b5">
                                        {% if tmodel.content|length > 20 %}
                                            {{ tmodel.content|slice:"20" }} ...
                                        {% else %}
                                            {{ tmodel.content }}
                                        {% endif %}
                                    </span>
                                    <input type="hidden" value="{{ tmodel.content }}" >
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="t_c">
                            <input type="button" name="" class="re_btn" value="确认">
                            <input type="button" name="" class="qx_btn ml15" value="取消"></div>
                    </div>
                </div>
                    <div class="message_Modal_box1 mt10">
                        <textarea name=""  style="resize:none;color:#666" id="letterContent" placeholder="请输入私信内容"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="background:#5c91d9;" id="send" onclick="sendLetter()">发送</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
        <!-- /.modal -->
        <!-- 模态框（Modal） -->
<!-- 转发简历模态框（Modal） -->
    <input type="hidden" id="account_type" value="{{ pu.account_type }}" />
    <input type="hidden" id="pc_id" value="{{ request.session.pc_id }}" />
    <input type="hidden" id="pu_id" value="{{ pu.id }}" />
<script type="text/javascript">
    var loadData;
    var pu_id = $('#pu_id').val();
    //根据登录类型，添加查询简历的过滤条件（是否开放和对某些人可见）
    var account_type = $('#account_type').val();
    var opentype = '';
    if(account_type == '3' || account_type == '5'){
        opentype = ' and (search_type = 0 or search_type = 12121000 or search_type = 12123000)';
        opentype += ' and (filter_headhunt is null or filter_headhunt = "" or not find_in_set("' + pu_id + '", filter_headhunt))';
    }else if(account_type == '2' || account_type == '4'){
        opentype = ' and (search_type = 0 or search_type = 12121000 or search_type = 12124000)';
        opentype += ' and (filter_company is null or filter_company = "" or not find_in_set("' + $('#pc_id').val() + '", filter_company))';
    }
    var sql = ' resume_status=1 and source_id !=' + pu_id + opentype;
    var querySql = sql;
    var condition = $('#initData').val();
    $(function(){
        $('#expectPosition').val($('#queryPosition').val());
        BusinessulControls("businessulDiv","","", 'width:344.5px;min-height:38px!important;border:1px solid #eee;margin-top:5px;height:auto;font-size:14px;line-height:38px;text-align:left!important; padding-left:10px!important;background: transparent url("/static/images/new_images/openmes.png") no-repeat scroll 95% center;');
        PositionControls("positionDiv",$('#queryPositionName').val(),$('#queryPosition').val(), 'width:344.5px;min-height:38px!important;border:1px solid #eee;margin-top:5px;line-height:38px;font-size:14px;border:1px solid #eee;', true);
        PositionControls("nowPositionDiv","","", 'width:344.5px;border:1px solid #eee;min-height:38px!important;border:1px solid #eee;line-height:38px;font-size:14px;', true);

        //关键字
        if(condition != ''){
            $('#keywords').val(condition);
            var keywordList = condition.split('，');
            var positionSql = ' (SELECT T_SYS_Position.Position_Name FROM T_SYS_Position WHERE T_SYS_Position.Position_Value = V_Resume_Info.Currently_Postaion)';
            var locationSql = ' (select T_SYS_Dictionary.dictionary_name from T_SYS_Dictionary where T_SYS_Dictionary.dictionary_value = V_Resume_Info.Currently_Pacece)';
            for(var m = 0;m < keywordList.length;m++){
                if(m == 0){
                    querySql += ' and (find_in_set("' + $.trim(keywordList[m]) + '", keywords)';
                }else{
                    querySql += ' or find_in_set("' + $.trim(keywordList[m]) + '", keywords)';
                }
                querySql += ' or ' + locationSql + ' like "%' + $.trim(keywordList[m]) + '%"';
                querySql += ' or ' + positionSql + ' like "%' + $.trim(keywordList[m]) + '%"';
                querySql += ' or user_name like "%' + $.trim(keywordList[m]) + '%"';

                //期望职位处理
                $.ajax({
                    async: false,
                    type: "POST",
                    url: "/ajax_get_position_for_name",
                    data: {"key_name": keywordList[m]},
                    dataType: "json",
                    success: function (data) {
                        $(data["msg"]).each(function(){
                           querySql += ' or Expect_Position like "%' + this[0] + '%"'
                        });
                    }
                });
            }
            querySql += ')';
            querySql += ' order by update_date desc';
            loadData = new pagin("paginInfo", "V_Resume_Info", "", encodeURI(querySql), "", 6, "paginBind", "loadData");
            $('.sstj_wen').children('span').text(condition);
            $("#ssjg_tj_box").hide();
            $(".sstj").show();
            $("#ssjg_box").show();
        }
    });


     $(document).on('mouseover','.wbdss_lb li',function(){
            $(".wbdss_lb li").removeClass('active');
            $(this).addClass('active');
        })
     $(document).on('mouseout','.wbdss_lb li',function(){
            $(".wbdss_lb li").removeClass('active');
        })



    $(document).on('mouseover','')
    //动态加载页面绑定数据
    function paginBind(dataInfo){
         //图片列表数据加载
        $("#tableInfo").empty();
        var userValidateStatus = $("#userValidateStatus").val();
        $(dataInfo).each(function(i) {

            // 处理值为 null 的字段
            var len = $(this).length;
            var array = $(this);
            for(var n = 0; n < len; n ++){
                if(array[n] == null){
                    array[n] = "&nbsp;"
                }
            }
            if(array[5] == '女'){
                array[3] = $.trim(array[3]).substring(0,1)+"女士";
            }else{
                array[3] = $.trim(array[3]).substring(0,1)+"先生";
            }
            if($.trim(array[4]) == ""){
                    array[4] = "null";
                }
                
            if($.trim(array[35])=="&nbsp;" || array[35] =="None")
                array[35]="";
            else
                array[35]="&nbsp;|&nbsp;"+array[35];
            if($.trim(array[36])==""|| array[36] =="None")
                array[36]="";
            else
                array[36]="&nbsp;|&nbsp;"+array[36];

            var o_age = parseInt(new Date().getFullYear()) - array[6];
            if(isNaN(o_age)){
                o_age ="";
            }else{
                o_age = "&nbsp;|&nbsp;"+o_age+"岁";
            }
            //图片列表数据加载
            var content = '';
            content += '<div class="jlmp1 m10"><div class="jlmp1_k1"><div class="mpLe"><div class="mpxp">';
            content += '<img src="'+array[4]+'" width="88" height="88" border="0" align="absmiddle"  style="cursor: pointer;" onclick="viewResume('+array[0]+')" onerror="notfind(this, 1, \''+array[5]+'\')"></div>';

            var positionStatus = array[47].substring(0, array[47].indexOf('，'));
            var positontit=array[47];
            if(positionStatus == '在职'){
                    content += '<div class="mpqzxx2 mt6 fz14">';
                    content += '<i class="iconfont icon-bishiyong" style="font-size:15px;"></i>在职';
                }
                else if(positionStatus == '已离职')
                {
                    content += '<div class="mpqzxx1 mt6 fz14">';
                    content += '<i class="iconfont icon-xin fz16"></i>求职中';
                }
                else if(positontit == '暂时不想找工作')
                {
                    content += '<div class="mpqzxx2 mt6 fz14">';
                    content += '<i class="iconfont icon-bishiyong" style="font-size:15px;"></i>在职';                 
                }
                else{
                    content += '<div style="width:70px; height:22px;">';
                }
{#            if(array[18] != 0){#}
{#                content += '<div class="mpqzxx2 mt6 fz14">';#}
{#                content += '<i class="iconfont icon-bishiyong" style="font-size:15px;"></i>已在职';#}
{#            }else{#}
{#                content += '<div class="mpqzxx mt6 fz14">';#}
{#                content += '<i class="iconfont icon-xin fz16"></i>求职中';#}
{#            }#}
            content += '</div><div class="mpjlly mt6 fz12" onclick="browseResume('+array[0]+')">';
            switch($(this)[1]){
                case 1:
                    content += '【个人】';
                    break;
                case 2:
                    content += '【经纪人】';
                    break;
                case 3:
                    content += '【企业】';
                    break;
                default:
                    break;
            }
            content += '</div><input type="hidden" value="'+array[2]+'" /></div><div class="mpRi"><ul>';
            content += '<li class="c3"> <b class="fz16 fn fb"  style="cursor: pointer;" onclick="viewResume('+array[0]+')">  '+array[3]+'  </b>';
            if(array[5] == "女"){
                content += '<i class="iconfont icon-nv cr" style=" font-size:14px;"></i>';
            }else{
                content += '<i class="iconfont icon-nan cr" style=" font-size:14px;"></i>';
            }
            content += ' '+array[5]+' ';
            content += '</li><li class="fz14 cr pt10" title=\"'+array[38]+'\">';

            //对当前职位进行处理
            if(array[38] != "" && array[38] != "&nbsp;"){
                content += array[38];
            }
            else if(array[23] != ""){
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: '/ajax_getPositionForVaule',
                    data: {
                        'position_value': array[23].split(',')[0]
                    },
                    success: function(msg){
                        content += msg;
                    }
                });
            }

            content += '</li><li class="fz12 pt10 c3" title=\"'+array[19]+'\">'+array[19]+'</li>';
            content += '<li class="fz12 pt8 c3 txt_hide" title="'+array[37]+''+array[35]+''+array[36]+''+o_age+'">'+array[37]+''+array[35]+''+array[36]+''+o_age+'</li>';
            
            content += '<li class="fz12 pt8 c3"><i class="iconfont icon-shijian fsn c9" style="font-size:14px"></i> &nbsp;'+array[32].substring(0, 10)+' 更新</li>';
            content += '</ul></div></div><div class="jlmp1_k3"><div class="gnaj_Le"><input name="input" type="checkbox" value="'+array[2]+'"></div>';
            content += '<div class="gnaj_Ri">';
            content += '<input type="hidden" name="resumeId" value="'+array[0]+'" />';
            // content += '<input name="input" type="button" value="推荐" class="gnanys" onclick="showInviteDialog({{ pu.id }},[' + array[2] + '])">';
            content += '<input name="input" type="button" value="推荐" class="gnanys" onclick="recommend(\''+array[54]+'\', \''+array[2]+'\')">';
            content += '<input name="input" type="button" value="收藏" class="gnanys" onclick="collectResume('+array[0]+')">';
            if(userValidateStatus == 3) {
                content += '<input name="input" type="button" value="转发" class="gnanys" onclick="doForwardResume([' + array[0] + '])">';
                content += '<input name="input" type="button" value="私信" class="gnanys" data-toggle="modal" data-target="#message_Modal" onclick="getOperateData(this, ' + (i + 1) + ')">';
            } else {
                content += '<input name="input" type="button" value="转发" class="gnanys" onclick="doAlertToAudit(' + userValidateStatus + ')">';
                content += '<input name="input" type="button" value="私信" class="gnanys" onclick="doAlertToAudit(' + userValidateStatus + ')">';
            }
            content += '</div><div class="sx_sc"><ul><li>';
            content += '</li>';
            content += '<li>';
            content += '</li></ul></div></div>';
            $("#tableInfo").append(content);
        })
    }
    //推荐职位时判断是否设置了允许推荐
    function recommend(isInvite, resume_id){
        if(isInvite == '1'){
            o_show('yq', resume_id);
        }else{
            window.alert('该简历不接受推荐职位');
        }
    }
	$(".wbdss_lb .del_btn").click(function(){
        var searchId = $(this).parent().children('input').val();
        $('#searchResumeId').val(searchId);
	});
    function deleteQuickSearch(){
        var searchId = $('#searchResumeId').val();
        var _this = $('.wbdss_lb input[value="'+searchId+'"]');
        $.ajax({
            type: 'POST',
            url: '/ajax_deleteQuickSearch',
            data: {'searchId': searchId},
            dataType: 'json',
            success: function(data){
                if(data.msg == 'success'){
                    if($(".del_btn").length == 1){
                        $(".wbdss").slideUp(300);
                    }
                    $('#resumeSearchId').val('');
                    $(_this).parent().remove();
                }else{
                    window.alert('删除失败');
                }
            }
        });
    }
	// $(".bd_Ri div").click(function(){
 //        $(this).css({
 //        	color: 'white',
 //        	background: '#C8161D'
 //        });
 //        $(this).siblings().css({
 //        	color: '#999',
 //        	background: 'white'
 //        });
	// })
    //点击搜索简历事件
	$("#search_btn").click(function(){
		var result = ""; 
		if($('#keywords').val() != "")
			result += $('#keywords').val()+" 、 " ;
		$("#businessulDiv span").each(function(index, el) {
			if($(this).text() != "请选择行业" && $(this).text() != "")
				result += $(this).text()+" 、 ";
		});
		$("#positionDiv span").each(function(index, el) {
			if($(this).text() != "请选择职位" && $(this).text() != "")
				result += $(this).text()+" 、 ";
		});
		if($("#expected_area").val() != "")
			result += $("#expected_area").val()+" 、 ";

        $('.sstj_wen').children('span').text(result.substr(0,result.length-3));

{#        var positions = $('#expectPosition').val();#}
{#        if(positions == ''){#}
{#            window.alert('请选择期望职位');#}
{#            $("html,body").animate({ scrollTop: $(".bthover").offset().top},500,function(){});#}
{#            return;#}
{#        }#}
        if(!searchDataDeal('search')){
            return;
        }
        if(_counts <1){
                alert("没有找到匹配的结果，换个关键词试试吧~");
             }
        $("#ssjg_tj_box").hide();
        $(".sstj").show();
        $("#ssjg_box").show();
{#		$("#ssjg_tj_box").slideUp('slow',function(){#}
{#			$(".sstj").fadeIn('slow',function(){#}
{#				$("#ssjg_box").slideDown('slow');#}
{#			});#}
{#		});#}
	})
	$("#update_search_btn").click(function(){
		$(".sstj").hide();
		$("#ssjg_box").hide();
        $("#ssjg_tj_box").show();
{#		$("#ssjg_tj_box").fadeIn('slow');#}
	})
	$("#gj_search_btn").click(function(event) {
		$("#gj_search_box").toggle();
	});
    //搜索数据处理
    function searchDataDeal(type){
        querySql = sql;
        var searchName = $('#searchName').val();
        if(type == 'save'){
            var searchList = $('.wbdss_lb').children('ul').children('li');
            if(searchList.length > 4){
                window.alert('最多只能添加5个快捷搜索');
                return;
            }
            if($.trim(searchName) == ''){
                window.alert('请填写快捷搜索名称');
                return;
            }
            for(var m = 0;m < searchList.length;m++){
                if($.trim(searchName) == searchList.eq(m).children('div').text()){
                    window.alert('该搜索名称已存在，请重新输入');
                    $('#sureInterview').attr('data-dismiss', '');
                    return;
                }
            }
            $('#sureInterview').attr('data-dismiss', 'modal');
        }
        var searchObj = [];
        var keywords = $.trim($('#keywords').val());
        searchObj.push(keywords);
        //关键字
        if(keywords != ''){
            var keywordList = keywords.split('，');
            var positionSql = ' (SELECT T_SYS_Position.Position_Name FROM T_SYS_Position WHERE T_SYS_Position.Position_Value = V_Resume_Info.Currently_Postaion)';
            var locationSql = ' (select T_SYS_Dictionary.dictionary_name from T_SYS_Dictionary where T_SYS_Dictionary.dictionary_value = V_Resume_Info.Currently_Pacece)';
            for(var m = 0;m < keywordList.length;m++){
                if(m == 0){
                    querySql += ' and (find_in_set("' + $.trim(keywordList[m]) + '", keywords)';
                }else{
                    querySql += ' or find_in_set("' + $.trim(keywordList[m]) + '", keywords)';
                }
                querySql += ' or ' + locationSql + ' like "%' + $.trim(keywordList[m]) + '%"';
                querySql += ' or ' + positionSql + ' like "%' + $.trim(keywordList[m]) + '%"';
                querySql += ' or user_name like "%' + $.trim(keywordList[m]) + '%"';

                //期望职位处理
                $.ajax({
                    async: false,
                    type: "POST",
                    url: "/ajax_get_position_for_name",
                    data: {"key_name": keywordList[m]},
                    dataType: "json",
                    success: function (data) {
                        $(data["msg"]).each(function(){
                           querySql += ' or Expect_Position like "%' + this[0] + '%"'
                        });
                    }
                });
            }
            querySql += ')';
        }
        
        var expected_industry = '';
        var expectBis = $('#businessulDiv').children('span');
        var industrys = $('#businessulValue').val();
        //期望行业
        if(industrys != ''){
            for(var n = 0;n < expectBis.length;n++){
                if(expected_industry == ''){
                    expected_industry = expectBis.eq(n).text();
                }else{
                    expected_industry += ',' + expectBis.eq(n).text();
                }
            }
            var industryIds = industrys.split(',');
            for(var m = 0;m < industryIds.length;m++){
                if(m == 0){
                    querySql += ' and (find_in_set("' + industryIds[m] + '", cast(expect_industry as char))';
                }else{
                    querySql += ' or find_in_set("' + industryIds[m] + '", cast(expect_industry as char))';
                }
            }
            querySql += ')';
            expected_industry += '**' + industrys;
        }
        searchObj.push(expected_industry);
        var expected_position = '';
        var positions = $('#expectPosition').val();
        var expectPs = $('#positionDiv').children('span');
        //期望职位
        if(positions != ''){
            for(var n = 0;n < expectPs.length;n++){
                if(expected_position == ''){
                    expected_position = expectPs.eq(n).text();
                }else{
                    expected_position += ',' + expectPs.eq(n).text();
                }
            }
            var positionIds = positions.split(',');
            for(var m = 0;m < positionIds.length;m++){
                if(m == 0){
                    querySql += ' and (expect_position like "%' + $.trim(positionIds[m]) + '%"';
                }else{
                    querySql += ' or expect_position like "%' + $.trim(positionIds[m]) + '%"';
                }
            }
            querySql += ')';
            expected_position += '**' + positions;
        }
        searchObj.push(expected_position);
        var expected_area = $('#expected_area').val();
        if(expected_area != ''){//期望工作地点
            var expect_areaes = $('#expected_area').next().val();
            var values = expect_areaes.split(',');
            for(var m = 0;m < values.length;m++){
                if(m == 0){
                    querySql += ' and (find_in_set("' + values[m] + '", cast(expect_area as char))';
                    querySql += ' or expect_area in (select dictionary_value from T_SYS_Dictionary where p_value="'+values[m]+'")';
                }else{
                    querySql += ' or find_in_set("' + values[m] + '", cast(expect_area as char))';
                    querySql += ' or expect_area in (select dictionary_value from T_SYS_Dictionary where p_value="'+values[m]+'")';
                }
            }
            querySql += ')';
            expected_area += '**' + expect_areaes;
        }
        searchObj.push(expected_area);
        var sex = '';
        if($('.zw_btk6').children('i:last').text() != '' ){
            sex = $('.zw_btk6').children('i:last').text();
            if(sex == '不限'){
                sex = '';
            }
            querySql += ' and sex="' + sex + '" ';
        }
        searchObj.push(sex);
        var startAge = $('#startAge').val();
        var endAge = $('#endAge').val();
        var rangeAge = '';
        if(startAge != '' || endAge != ''){
            if(startAge == ''){
                for(var m = 18;m < endAge;m++){
                    if(rangeAge == ''){
                        rangeAge += m;
                    }else{
                        rangeAge += ',' + m;
                    }
                }
                rangeAge += ',' + endAge;
            }else if(endAge == ''){
                rangeAge = startAge;
                for(var m = startAge;m <= 60;m++){
                     rangeAge += ',' + m;
                }
            }else{
                rangeAge = '';
                for(var m = startAge;m <= endAge;m++){
                     if(rangeAge == ''){
                        rangeAge += m;
                    }else{
                        rangeAge += ',' + m;
                    }
                }
            }
            querySql += ' and find_in_set((year(now()) - birthday_year), "'+ rangeAge + '") ';
        }
        searchObj.push(rangeAge);
        var work_year = $('#work_year').val();
        searchObj.push(work_year);
        if(work_year != ''){
            querySql += ' and workyear=' + work_year;
        }
        var expectSalary = $('#expectSalary').val();
        searchObj.push(expectSalary);
        if(expectSalary != ''){
            querySql += ' and expect_pay=' + expectSalary;
        }
{#        var sCurrentSalary = $('#sCurrentSalary').val();#}
{#        var eCurrentSalary = $('#eCurrentSalary').val();#}
        var company_name = $.trim($('#company_name').val());
        searchObj.push(company_name);
        if(company_name != ''){
            querySql += ' and currently_company like "%' + company_name + '%"';
        }
{#        var current_industry = $('#current_industry').val();#}
{#        if(current_industry != ''){#}
{#            querySql += ' and ';#}
{#        }#}
        var current_position = $('#nowPositionDiv').children('span').text();
        if(current_position != '请选择职位' && current_position != ''){
            var positionValue = $('#positionValue').val();
            querySql += ' and currently_postaion="' + positionValue + '" ';
            current_position += '**' + positionValue;
        }else{
            current_position = '';
        }
        searchObj.push(current_position);
        if(current_position != ''){

        }
        var current_area = $('#current_area').val();
        if(current_area != ''){
            var current_Value = $('#current_area').next().val();
            querySql += ' and currently_pacece=' + current_Value;
            current_area += '**' + current_Value;
        }
        searchObj.push(current_area);
        var diploma = $('#diploma').val();
        searchObj.push(diploma);
        if(diploma != ''){
            querySql += ' and diploma=' + diploma;
        }
        var married = $('#married').val();
        searchObj.push(married);
        if(married != null && married != ''){
            querySql += ' and marital="' + married + '"';
        }
        if(querySql == sql){
            window.alert('至少要有一个查询条件，请输入或选择一个条件');
            return false;
        }
        querySql += ' order by update_date desc';
{#        alert(querySql);#}
        if(type == 'search'){
            loadData = new pagin("paginInfo", "V_Resume_Info", "", encodeURI(querySql), "", 6, "paginBind", "loadData");
        }else{
            var resumeSearchId = '';
            searchObj.push(searchName);
            $.ajax({
                type: "POST",
                url: "/ajax_saveSearchCondition",
                data: {"searchObj": searchObj, "id": resumeSearchId},
                dataType: "json",
                success: function (data) {
                    if(data.msg == 'success'){
                        if(resumeSearchId == ''){
                            var content = '';
                            content += '<li>';
                            content += '    <input type="hidden" value="'+data.id+'" />';
                            content += '    <div class="wbdss_wen" style="cursor:pointer;" onclick="quickSearch('+data.id+')">'+searchName+'</div>';
                            content += '    <span class="del_btn" style="cursor: pointer;display:none" data-toggle="modal" data-target="#if_del_Modal" ></span>';
                            content += '</li>';
                            $('.wbdss').show();
                            $('.wbdss_lb').children('ul').append(content);
                        }else{
                            $('input[value="'+data.id+'"]:last').next().text(searchName);
                        }
                        window.alert('保存成功');
                        $(".wbdss_lb .del_btn").click(function(){
                            var searchId = $(this).parent().children('input').val();
                            $('#searchResumeId').val(searchId);
                        });
                    }else{
                        window.alert(data.msg);
                    }
                }
            });
        }
        return true;
    }
    //期望职位弹框事件
    function positionShow(obj){
        if($('#expected_industry').val() != ''){
            showPosition(obj,$("#expected_industry").val(),$("#expected_industry").next().val(),5)
        }else{
            window.alert('请选择行业！');
        }
    }
    //性别选择事件
    $(".zw_btk5").click(function(event) {
    	$(this).removeClass('zw_btk5').addClass('zw_btk6').siblings('').removeClass('zw_btk6').addClass('zw_btk5');
    });
    //点击快捷搜索事件
    function quickSearch(searchId){
        $.ajax({
            type: 'POST',
            url: '/ajax_getQuickSearchById',
            data: {'searchId': searchId},
            dataType: 'json',
            success: function(data){
                if(!data.msg){
                    $('#resumeSearchId').val(data.id);
                    $('#keywords').val(data.keywords);
                    if(data.expected_industry != null && data.expected_industry != ''){
                        $('#BusinessulControls').remove();
                        BusinessulControls("businessulDiv",data.expected_industry.split('**')[0],data.expected_industry.split('**')[1], 'width:344.7px;margin-top:5px;height:38px;font-size:14px;text-align:left!important; padding-left:10px!important;background: transparent url("/static/images/new_images/openmes.png") no-repeat scroll 95% center;');
{#                        $('#expected_industry').val(data.expected_industry.split('**')[0]);#}
                        $('#businessulValue').val(data.expected_industry.split('**')[1]);
                    }else{
                        $('#businessulDiv').children(':gt(0)').remove();
                        $('#businessulValue').val('');
                    }
                    if(data.expected_position != null && data.expected_position != ''){
                        $('#PositionControls').remove();
                        PositionControls("positionDiv",data.expected_position.split('**')[0],data.expected_position.split('**')[1], 'width:344.7px;margin-top:5px;height:auto;font-size:14px;text-align:left!important; padding-left:10px!important; border:1px solid #eee!important; border-radius:4px;background: transparent url("/static/images/new_images/openmes.png") no-repeat scroll 95% center;', true);
{#                        $('#expected_position').val(data.expected_position.split('**')[0]);#}
                        $('#expectPosition').val(data.expected_position.split('**')[1]);
                    }else{
                        $('#positionDiv').children(':gt(0)').remove();
                        $('#expectPosition').val('');
                    }
                    if(data.expected_area != null && data.expected_area != ''){
                        $('#expected_area').val(data.expected_area.split('**')[0]);
                        $('#expected_area').next().val(data.expected_area.split('**')[1]);
                    }else{
                        $('#expected_area').val('');
                        $('#expected_area').next().val('');
                    }
                    if(data.sex == '男'){
                        $(".bd_Ri div").attr('class', 'zw_btk5 mr5');
                        $(".bd_Ri div").eq(0).attr('class', 'zw_btk6 mr5');
                    }else if(data.sex == '女'){
                        $(".bd_Ri div").attr('class', 'zw_btk5 mr5');
                        $(".bd_Ri div").eq(1).attr('class', 'zw_btk6 mr5');
                    }else{
                        $(".bd_Ri div").attr('class', 'zw_btk5 mr5');
                        $(".bd_Ri div").eq(2).attr('class', 'zw_btk6 mr5');
                    }
                    if(data.age_year != null && data.age_year != '') {
                        var rangeAge = data.age_year;
                        var ageList = rangeAge.split(',');
                        var startAge = ageList[0];
                        var endAge = ageList[ageList.length - 1];
                        if (startAge != '18'){
                            $('#startAge').val(startAge);
                        }else{
                            $('#startAge').val('');
                        }
                        if(endAge != '60'){
                            $('#endAge').val(endAge);
                        }else{
                             $('#endAge').val('');
                        }
                    }else{
                        $('#startAge').val('');
                        $('#endAge').val('');
                    }

                    $('#work_year').val(data.work_year);
                    $('#expectSalary').val(data.expected_salary);
                    $('#company_name').val(data.company_name);
                    if(data.current_position != null && data.current_position != ''){
                        $('#PositionControls').remove();
                        PositionControls("nowPositionDiv",data.current_position.split('**')[0],data.current_position.split('**')[1], 'width:344.7px;margin-top:5px;height:38px;font-size:14px;', true);
{#                        $('#current_position').val(data.current_position.split('**')[0]);#}
                        $('#nowPositionDiv').next().val(data.current_position.split('**')[1]);
                    }else{
                        $('#nowPositionDiv').children(':gt(0)').remove();
                        $('#nowPositionDiv').next().val('');
                    }
                    if(data.current_area != null && data.current_area != ''){
                        $('#current_area').val(data.current_area.split('**')[0]);
                        $('#current_area').next().val(data.current_area.split('**')[1]);
                    }else{
                        $('#current_area').val('');
                        $('#current_area').next().val('');
                    }
                    $('#diploma').val(data.diploma);
                    $('#marrid').val(data.marrid);
{#                    $('#').val();#}
{#                    $('#').val();#}
                    if($("#ssjg_tj_box").is(":hidden")){
                        $('.sstj_wen').children('span').text(data.keywords);
                        searchDataDeal('search');
                    }
                }
            }
        })
    }
    //全选事件
    $('#checkAll').click(function(){
        var checkboxes;
        if($('#tableInfo').css("display") != 'none'){
            checkboxes = $("#tableInfo input[type='checkbox']");
        }else{
            checkboxes = $("#articleInfo input[type='checkbox']");
        }
        if($(this).is(":checked")){
             for(var i= 0;i<checkboxes.length;i++){
                checkboxes[i].checked=true;
            }
        }else{
            for(var i= 0;i<checkboxes.length;i++){
                checkboxes[i].checked=false;
            }
        }
    })
    //获得操作的数据
    function getOperateData(obj, index){
        $('#operateIndex').val(index);
        $('#cancelId').val($(obj).parent().children().eq(0).val()); //简历ID
        $('#cancelGroupId').val($(obj).parent().children().eq(1).val());    //简历分组ID
        $('#operateState').val('simple');
        if($(obj).val() == '私信'){
            var $message_Modal_box = $('.message_Modal_box');
            $message_Modal_box.children().remove();
            var username = $(obj).parent().parent().parent().children('div:eq(0)').children('div').eq(1).children('ul').children('li:eq(0)').children('b').text();
            var em = '<span>' + username + '<label>x</label></span>';
            $message_Modal_box.append(em);
            $(".message_Modal_box label").click(function(){
                if($message_Modal_box.find("span").length == 1) {
                    alert("您不能移除所有的私信接收人!");
                    return false;
                }
                $(this).parent().remove()
            });
            $('#sourceId').val($('.jlmp1').eq(index - 1).children('div:eq(0)').children('div:eq(0)').children('input').val());
        }
    }
    //判断是否有选中的人
    function judgeSelected(obj){
        var checkboxes;
        if($('#tableInfo').css("display") != 'none'){
            checkboxes = $("#tableInfo input[type='checkbox']:checked");
        }else{
            checkboxes = $("#articleInfo input[type='checkbox']:checked");
        }
        if(checkboxes.length == 0){
            window.alert("请选择要操作的数据！");
            $('.tjann').attr('data-target', '');
            return false;
        }else{
            $('.tjann').eq(1).attr('data-target', '#update_fz_Modal');
{#            $('.tjann').eq(2).attr('data-target', '#zf_Modal');#}
            $('.tjann').eq(3).attr('data-target', '#message_Modal');
        }
        if($(obj).val() == '批量私信'){
           //
            $('.message_Modal_box').children().remove();
            for(var m = 0;m < checkboxes.length;m++){
                var username = checkboxes.eq(m).parent().parent().parent().children('div:eq(0)').children('div').eq(1).children('ul').children('li:eq(0)').children('b').text();
                var em = '<span>' + username + '<label>x</label></span>';
                $('.message_Modal_box').append(em);
            }
            $(".message_Modal_box label").click(function(){
                if($(".message_Modal_box").find("span").length == 1) {
                    alert("您不能移除所有的私信接收人!");
                    return false;
                }
                $(this).parent().remove()
            })
        }else if($(obj).val() == '批量转发'){
            var resumeIds = [];
            for(var i = 0; i < checkboxes.length; i ++){
                resumeIds.push(checkboxes.eq(i).parent().next("div").find(":hidden:first").val())
            }
            doForwardResume(resumeIds);
        } else if($(obj).val() == '批量推荐'){
            var idArrays = [];
            for(var i = 0; i < checkboxes.length; i ++){
                idArrays.push(checkboxes.eq(i).val());
            }
            showInviteDialog({{ pu.id }}, idArrays)
        }
        $('#operateState').val('multi');
    }
    //======= 信息模版
    $(".icon-iconfontmoban2").click(function(){
        $(".dialog").show();
    })
    $(".qx_btn").click(function(){
         $(".dialog").hide();
    })
    $("#add_btn").click(function(){
        $(".cyqy_table input[type=text]").val("");
    })
    $(".dialog li").click(function(){
        $(".dialog li").removeClass('active');
        $(this).addClass('active');
    })
    $(".dialog li").dblclick(function(){
         confirms.call(this);
    })
    $(".modal_wdgz .re_btn").click(function(){
        confirms.call(this);
    })
    function confirms(){
        $("#letterContent").val($(".dialog li.active").children('input').val());
        $(this).parent().parent().hide();
    }
    //收藏简历
    function collectResume(resumeId){
        $.ajax({
            type: "POST",
            url: "/ajax_collectResume",
            data: {"resumeId": resumeId},
            dataType: "json",
            success: function (data) {
                if(data.msg == 'success'){
                    window.alert('收藏成功',1);
                }else if(data.msg == 'exist'){
                    window.alert('你已收藏该简历，无需收藏！');
                }else{
                    window.alert(data.msg);
                }
            }
        })
    }
    //收藏选中的简历
    function collectSelectResume(){
        var checkboxes;
        if($('#tableInfo').css("display") != 'none'){
            checkboxes = $("#tableInfo input[type='checkbox']:checked");
        }else{
            checkboxes = $("#articleInfo input[type='checkbox']:checked");
        }
        if(checkboxes.length == 0){
            window.alert("请选择要操作的数据！");
            return;
        }
        var resumeIds = [];//简历拥有人ID
        for(var i = 0;i < checkboxes.length;i++){
            resumeIds.push(checkboxes.eq(i).parent().next().children('input:first').val());
        }
        $.ajax({
            type: "POST",
            url: "../ajax_collectResume",
            data: {"resumeIds": resumeIds},
            dataType: "json",
            success: function (data) {
                if(data.msg == 'success'){
                    window.alert('收藏成功',1);
                }else{
                    window.alert(data.msg);
                }
            }
        })
    }
    //发送私信
    function sendLetter(){
        var letterContent = $('#letterContent').val();
        if($.trim(letterContent) == ''){
            window.alert("请填写私信内容！");
            $('#send').attr('data-dismiss', '');
            return;
        }
        //判断是给单个对象发私信还是给选中的对象发私信
        if($('#operateState').val() == 'simple'){
            //简历拥有人ID
            var attentionId = $('#sourceId').val();
            $.ajax({
                type: "POST",
                url: "../ajax_sendLetter",
                data: {"attentionId": attentionId, "letterContent": letterContent},
                dataType: "json",
                success: function (data) {
                    if (data.msg != 'success') {
                        window.alert(data.msg);
                    }else{
                        $('#send').attr('data-dismiss', 'modal');
                        window.alert('发送成功！')
                    }
                }
            })
        }else{
            var checkboxes;
            if($('#tableInfo').css("display") != 'none'){
                checkboxes = $("#tableInfo input[type='checkbox']:checked");
            }else{
                checkboxes = $("#articleInfo input[type='checkbox']:checked");
            }
            if(checkboxes.length == 0){
                window.alert("请选择私信接收人！");
                return;
            }
            var attentionIds = [];//简历拥有人ID
            for(var i = 0;i < checkboxes.length;i++){
                attentionIds.push(checkboxes.eq(i).parent().parent().parent().children('div:eq(0)').children('div:eq(0)').children('input').val());
            }
            $.ajax({
                type: "POST",
                url: "../ajax_sendSelected",
                data: {"attentionIds": attentionIds, "letterContent": letterContent},
                dataType: "json",
                success: function (data) {
                    if (data.msg == 'success') {
                        $('#send').attr('data-dismiss', 'modal');
                        window.alert('发送成功！')
                    } else {
                        window.alert(data.msg);
                    }
                }
            })
        }
    }
    //添加转发接收人
    function addContact(obj){
        var username = $(obj).children('span').text();
        var email = $(obj).children('input:last').val();
        var em = '<span>' + username + '<label>x</label><input type="hidden" value="'+email+'" /></span>';
        $('.message_Modal_box').append(em);
        $(".message_Modal_box label").click(function(){
            $(this).parent().remove();
        })
    }
    //查看简历
    function viewResume(resumeId){
        window.open('/resume/new_jlyl?type=souSuo&resumeID=' + resumeId, '_blank')
    }
    if($(".wbdss_lb li").length<1){
    	$(".wbdss").css("display","none");
    	$(".yctj").css("margin-top","0px");
    }
    $(".tk").focus(function(event) {
    	$(".tk").blur();
    });
</script>
{% include 'jobs/system/new_footer.html' %}