{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style_cj.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/qiehuan.js"></script>
<!-- 内容大框 -->
<div class="lt_content_box jlt">
    <!-- 猎头会员菜单开始 -->
    <ul class="nav nav-tabs center lthy_nav">
        <li class="active">
            <a href="#">找简历</a>
        </li>
        <li>
            <a href="#" >简历管理</a>
        </li>
        <li>
            <a href="#">工作平台</a>
        </li>
        <li>
            <a href="#">职位订阅器</a>
        </li>
    </ul>
    <!-- 猎头会员菜单结束 -->

    <div class="center mt25">
        <!-- 猎头会员搜索结果主内容开始 -->
        <div class="dleft">
            <!-- 猎头会员搜索条件开始 -->
            <div class="sstj">
                <div class="sstj_wen pl20">
                    您当前的搜索条件是：
                    <a href="#">设计师</a>
                </div>
                <div class="sstj_ann">
                    <a href="#">
                        <div class="sstj_an">
                            <div class="sstj_tb pl15"> <i class="iconfont icon-chilunhover fz24 fsn"></i>
                            </div>
                            <div class="sstj_tb pl5 fz14">修改搜索条件</div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 猎头会员搜索条件结束 -->
            <!-- 猎头会员搜索结果开始 -->
            <div class="ssjg p9 mt25">
                <div class="bkdw"></div>
                <div class="biaolm m10">
                    <div class="biaot fz16">搜索结果</div>
                    <div class="qhann">
                        <ul>
                            <li class="sige sigehs fz12"> <i class="iconfont icon-liebiao fsn" style="font-size:24px;"></i>
                                图片列表
                            </li>
                            <li class="sige fz12">
                                <i class="iconfont icon-list fsn" style="font-size:18px;"></i>
                                文章列表
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tjsx m10">
                    <input name="" type="checkbox" value="" />
                    <i class="ml5 mr5 fn">全选</i>
                    <input name="" type="button" value="批量查看" class="tjann" />
                    <input name="" type="button" value="批量收藏" class="tjann" />
                    <input name="" type="button" value="批量转发" class="tjann" />
                    <input name="" type="button" value="批量私信" class="tjann" />
                </div>
                <!-- 猎头会员搜索结果图片列表开始 -->
                <div class="tuplb sigenr mt5">
                    <div class="jlmp1 m10">
                        <div class="jlmp1_k1">
                            <div class="mpLe">
                                <div class="mpxp">
                                    <img src="images/mpxp.jpg" width="88" height="88" border="0" align="absmiddle" />
                                </div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                            </div>
                            <div class="mpRi">
                                <ul>
                                    <li class="c3"> <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女
                                    </li>
                                    <li class="fz14 cr pt10">产品市场运营部总监</li>
                                    <li class="fz12 pt10 c3">北京和君设计创意传媒股份有限公司</li>
                                    <li class="fz12 pt8 c3">南昌  |  10年以上  |  本科  |  24岁</li>
                                    <li class="fz12 pt8 c3">
                                        <i class="iconfont icon-shijian fsn c9" style="font-size:14px"></i>
                                        &nbsp;2015-15-15 09:30 更新
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jlmp1_k2"></div>
                        <div class="jlmp1_k3">
                            <div class="gnaj_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnaj_Ri">
                                <input name="" type="button" value="匹配" class="gnanys" />
                                <input name="" type="button" value="分组" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="私信" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlmp1_k4"></div>
                    </div>
                    <div class="jlmp1 m10">
                        <div class="jlmp1_k1">
                            <div class="mpLe">
                                <div class="mpxp">
                                    <img src="images/mpxp.jpg" width="88" height="88" border="0" align="absmiddle" />
                                </div>
                                <div class="mpqzxx2 mt6 fz14">
                                    <i class="iconfont icon-bishiyong" style="font-size:15px;"></i>
                                    在职中
                                </div>
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                            </div>
                            <div class="mpRi">
                                <ul>
                                    <li class="c3"> <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女
                                    </li>
                                    <li class="fz14 cr pt10">产品市场运营部总监</li>
                                    <li class="fz12 pt10 c3">北京和君设计创意传媒股份有限公司</li>
                                    <li class="fz12 pt8 c3">南昌  |  10年以上  |  本科  |  24岁</li>
                                    <li class="fz12 pt8 c3">
                                        <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                        &nbsp;2015-15-15 09:30 更新
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jlmp1_k2"></div>
                        <div class="jlmp1_k3">
                            <div class="gnaj_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnaj_Ri">
                                <input name="" type="button" value="匹配" class="gnanys" />
                                <input name="" type="button" value="分组" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="私信" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlmp1_k4"></div>
                    </div>
                    <div class="jlmp1 m10">
                        <div class="jlmp1_k1">
                            <div class="mpLe">
                                <div class="mpxp">
                                    <img src="images/mpxp.jpg" width="88" height="88" border="0" align="absmiddle" />
                                </div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                            </div>
                            <div class="mpRi">
                                <ul>
                                    <li class="c3">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女
                                    </li>
                                    <li class="fz14 cr pt10">产品市场运营部总监</li>
                                    <li class="fz12 pt10 c3">北京和君设计创意传媒股份有限公司</li>
                                    <li class="fz12 pt8 c3">南昌  |  10年以上  |  本科  |  24岁</li>
                                    <li class="fz12 pt8 c3">
                                        <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                        &nbsp;&nbsp;2015-15-15 09:30 更新
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jlmp1_k2"></div>
                        <div class="jlmp1_k3">
                            <div class="gnaj_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnaj_Ri">
                                <input name="" type="button" value="匹配" class="gnanys" />
                                <input name="" type="button" value="分组" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="私信" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlmp1_k4"></div>
                    </div>
                    <div class="jlmp1 m10">
                        <div class="jlmp1_k1">
                            <div class="mpLe">
                                <div class="mpxp">
                                    <img src="images/mpxp.jpg" width="88" height="88" border="0" align="absmiddle" />
                                </div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                            </div>
                            <div class="mpRi">
                                <ul>
                                    <li class="c3">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女
                                    </li>
                                    <li class="fz14 cr pt10">产品市场运营部总监</li>
                                    <li class="fz12 pt10 c3">北京和君设计创意传媒股份有限公司</li>
                                    <li class="fz12 pt8 c3">南昌  |  10年以上  |  本科  |  24岁</li>
                                    <li class="fz12 pt8 c3">
                                        <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                        &nbsp;2015-15-15 09:30 更新
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jlmp1_k2"></div>
                        <div class="jlmp1_k3">
                            <div class="gnaj_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnaj_Ri">
                                <input name="" type="button" value="匹配" class="gnanys" />
                                <input name="" type="button" value="分组" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="私信" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlmp1_k4"></div>
                    </div>
                    <div class="jlmp1 m10">
                        <div class="jlmp1_k1">
                            <div class="mpLe">
                                <div class="mpxp">
                                    <img src="images/mpxp.jpg" width="88" height="88" border="0" align="absmiddle" />
                                </div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                            </div>
                            <div class="mpRi">
                                <ul>
                                    <li class="c3">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女
                                    </li>
                                    <li class="fz14 cr pt10">产品市场运营部总监</li>
                                    <li class="fz12 pt10 c3">北京和君设计创意传媒股份有限公司</li>
                                    <li class="fz12 pt8 c3">南昌  |  10年以上  |  本科  |  24岁</li>
                                    <li class="fz12 pt8 c3">
                                        <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                        &nbsp;2015-15-15 09:30 更新
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jlmp1_k2"></div>
                        <div class="jlmp1_k3">
                            <div class="gnaj_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnaj_Ri">
                                <input name="" type="button" value="匹配" class="gnanys" />
                                <input name="" type="button" value="分组" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="私信" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlmp1_k4"></div>
                    </div>
                    <div class="jlmp1 m10">
                        <div class="jlmp1_k1">
                            <div class="mpLe">
                                <div class="mpxp">
                                    <img src="images/mpxp.jpg" width="88" height="88" border="0" align="absmiddle" />
                                </div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                            </div>
                            <div class="mpRi">
                                <ul>
                                    <li class="c3">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女
                                    </li>
                                    <li class="fz14 cr pt10">产品市场运营部总监</li>
                                    <li class="fz12 pt10 c3">北京和君设计创意传媒股份有限公司</li>
                                    <li class="fz12 pt8 c3">南昌  |  10年以上  |  本科  |  24岁</li>
                                    <li class="fz12 pt8 c3">
                                        <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                        &nbsp;2015-15-15 09:30 更新
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="jlmp1_k2"></div>
                        <div class="jlmp1_k3">
                            <div class="gnaj_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnaj_Ri">
                                <input name="" type="button" value="匹配" class="gnanys" />
                                <input name="" type="button" value="分组" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="私信" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlmp1_k4"></div>
                    </div>

                    <div class="lthy_pager">
                        <ul class="pagination pagination-sm">
                            <li>
                                <a href="#">上一页</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">下一页</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <!-- 猎头会员搜索结果图片列表结束 -->
                <!-- 猎头会员搜索结果文章列表开始 -->
                <div class="wenzlb sigenr mt15" style="display:none">
                    <div class="jllb m10">
                        <div class="jllbnk1">
                            <div class="lbzp">
                                <img src="images/mpxp.jpg" width="66" height="66" border="0" align="absmiddle" />
                            </div>
                            <div class="lbnr">
                                <ul>
                                    <li class="pt8">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女&nbsp;&nbsp;&nbsp;南昌  |  10年以上  |  本科  |  24岁
                                    </li>
                                    <li> <strong class="fz16 cr fn">产品市场运营部总监</strong>
                                        <i class="fn pl10 fz12">北京和君设计创意传媒股份有限公司</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="lbkoj">
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>
                            </div>
                        </div>
                        <div class="jllbnk2">
                            <div class="gnajlb_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnajlb_Le2 fz12 c6">
                                <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                &nbsp;2015-15-15 09:30 更新
                            </div>
                            <div class="gnajlb_Ri">
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlhx"></div>
                    </div>
                    <div class="jllb m10">
                        <div class="jllbnk1">
                            <div class="lbzp">
                                <img src="images/mpxp.jpg" width="66" height="66" border="0" align="absmiddle" />
                            </div>
                            <div class="lbnr">
                                <ul>
                                    <li class="pt8">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女&nbsp;&nbsp;&nbsp;南昌  |  10年以上  |  本科  |  24岁
                                    </li>
                                    <li> <strong class="fz16 cr fn">产品市场运营部总监</strong>
                                        <i class="fn pl10 fz12">北京和君设计创意传媒股份有限公司</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="lbkoj">
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>

                            </div>
                        </div>
                        <div class="jllbnk2">
                            <div class="gnajlb_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnajlb_Le2 fz12 c6">
                                <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                &nbsp;2015-15-15 09:30 更新
                            </div>
                            <div class="gnajlb_Ri">
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlhx"></div>
                    </div>
                    <div class="jllb m10">
                        <div class="jllbnk1">
                            <div class="lbzp">
                                <img src="images/mpxp.jpg" width="66" height="66" border="0" align="absmiddle" />
                            </div>
                            <div class="lbnr">
                                <ul>
                                    <li class="pt8">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女&nbsp;&nbsp;&nbsp;南昌  |  10年以上  |  本科  |  24岁
                                    </li>
                                    <li>
                                        <strong class="fz16 cr fn">产品市场运营部总监</strong>
                                        <i class="fn pl10 fz12">北京和君设计创意传媒股份有限公司</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="lbkoj">
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>

                            </div>
                        </div>
                        <div class="jllbnk2">
                            <div class="gnajlb_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnajlb_Le2 fz12 c6">
                                <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                &nbsp;2015-15-15 09:30 更新
                            </div>
                            <div class="gnajlb_Ri">
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlhx"></div>
                    </div>
                    <div class="jllb m10">
                        <div class="jllbnk1">
                            <div class="lbzp">
                                <img src="images/mpxp.jpg" width="66" height="66" border="0" align="absmiddle" />
                            </div>
                            <div class="lbnr">
                                <ul>
                                    <li class="pt8">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女&nbsp;&nbsp;&nbsp;南昌  |  10年以上  |  本科  |  24岁
                                    </li>
                                    <li>
                                        <strong class="fz16 cr fn">产品市场运营部总监</strong>
                                        <i class="fn pl10 fz12">北京和君设计创意传媒股份有限公司</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="lbkoj">
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>

                            </div>
                        </div>
                        <div class="jllbnk2">
                            <div class="gnajlb_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnajlb_Le2 fz12 c6">
                                <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                &nbsp;2015-15-15 09:30 更新
                            </div>
                            <div class="gnajlb_Ri">
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlhx"></div>
                    </div>
                    <div class="jllb m10">
                        <div class="jllbnk1">
                            <div class="lbzp">
                                <img src="images/mpxp.jpg" width="66" height="66" border="0" align="absmiddle" />
                            </div>
                            <div class="lbnr">
                                <ul>
                                    <li class="pt8">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女&nbsp;&nbsp;&nbsp;南昌  |  10年以上  |  本科  |  24岁
                                    </li>
                                    <li>
                                        <strong class="fz16 cr fn">产品市场运营部总监</strong>
                                        <i class="fn pl10 fz12">北京和君设计创意传媒股份有限公司</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="lbkoj">
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>

                            </div>
                        </div>
                        <div class="jllbnk2">
                            <div class="gnajlb_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnajlb_Le2 fz12 c6">
                                <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                &nbsp;2015-15-15 09:30 更新
                            </div>
                            <div class="gnajlb_Ri">
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlhx"></div>
                    </div>
                    <div class="jllb m10">
                        <div class="jllbnk1">
                            <div class="lbzp">
                                <img src="images/mpxp.jpg" width="66" height="66" border="0" align="absmiddle" />
                            </div>
                            <div class="lbnr">
                                <ul>
                                    <li class="pt8">
                                        <b class="fz16 fn fb">欧阳星星</b>
                                        <i class="iconfont icon-nv cr" style=" font-size:14px;"></i>
                                        女&nbsp;&nbsp;&nbsp;南昌  |  10年以上  |  本科  |  24岁
                                    </li>
                                    <li>
                                        <strong class="fz16 cr fn">产品市场运营部总监</strong>
                                        <i class="fn pl10 fz12">北京和君设计创意传媒股份有限公司</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="lbkoj">
                                <div class="mpjlly mt6 fz12">【个人简历】</div>
                                <div class="mpqzxx mt6 fz14">
                                    <i class="iconfont icon-xin fz16"></i>
                                    求职中
                                </div>

                            </div>
                        </div>
                        <div class="jllbnk2">
                            <div class="gnajlb_Le">
                                <input name="" type="checkbox" value="" />
                            </div>
                            <div class="gnajlb_Le2 fz12 c6">
                                <i class="iconfont icon-shijian fsn fz12 c9" style="font-size:14px"></i>
                                &nbsp;2015-15-15 09:30 更新
                            </div>
                            <div class="gnajlb_Ri">
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                                <input name="" type="button" value="推荐" class="gnanys" />
                            </div>
                        </div>
                        <div class="jlhx"></div>
                    </div>

                    <div class="lthy_pager">
                        <ul class="pagination pagination-sm">
                            <li>
                                <a href="#">上一页</a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">下一页</a>
                            </li>
                        </ul>
                    </div>

                    <div class="clear"></div>

                </div>
                <!-- 猎头会员搜索结果文章列表结束 --> </div>
            <!-- 猎头会员搜索结果结束 --> </div>
        <!-- 猎头会员搜索结果主内容结束 -->
        <div class="xright">
            <!-- 猎头会员保存的条件开始 -->
            <div class="wbdss">
                <div class="wbdss_tou">
                    <i class="iconfont icon-chilunhover fsn pl15 cr" style="font-size:24px;"></i>
                    <i class="fn fz16 pl5">我保存的快捷搜索</i>
                </div>
                <div class="wbdss_lb">
                    <ul>
                        <li>
                            <div class="wbdss_wen">设计师</div>
                            <div class="wbdss_shc">
                                <i class="iconfont icon-iconfonticon fn" style="font-size:20px;"></i>
                            </div>
                        </li>
                        <li>
                            <div class="wbdss_wen">设计师</div>
                            <div class="wbdss_shc">
                                <i class="iconfont icon-iconfonticon fn" style="font-size:20px;"></i>
                            </div>
                        </li>
                        <li>
                            <div class="wbdss_wen">设计师</div>
                            <div class="wbdss_shc">
                                <i class="iconfont icon-iconfonticon fn" style="font-size:20px;"></i>
                            </div>
                        </li>
                        <li>
                            <div class="wbdss_wen">设计师</div>
                            <div class="wbdss_shc">
                                <i class="iconfont icon-iconfonticon fn" style="font-size:20px;"></i>
                            </div>
                        </li>
                        <li>
                            <div class="wbdss_wen">设计师</div>
                            <div class="wbdss_shc">
                                <i class="iconfont icon-iconfonticon fn" style="font-size:20px;"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="wbdss_foot"></div>
            </div>
            <!-- 猎头会员保存的条件结束 -->
            <!-- 猎头会员英才举荐开始 -->
            <div class="yctj mt30">
                <div class="bkdw"></div>
                <div class="yctj_tou">
                    <div class="yctj_tou_z fz18 cr">
                        
                        <b class="fn c3 pl5">英才举荐</b>
                    </div>
                    <div class="yctj_tou_y"></div>
                </div>
                <div class="yctj_nei">
                    <div class="yctj_nrlb">
                        <div class="yctj_nrzp">
                            <img src="images/mpxp.jpg" width="84" height="84" border="0" align="absmiddle" />
                        </div>
                        <div class="yctj_nrwen">
                            <b class="fz16">某某求职者</b>
                            <br />
                            相关行业
                            <br />
                            工作年限
                        </div>
                    </div>
                    <div class="yctj_nrlb">
                        <div class="yctj_nrzp">
                            <img src="images/mpxp.jpg" width="84" height="84" border="0" align="absmiddle" />
                        </div>
                        <div class="yctj_nrwen">
                            <b class="fz16">某某求职者</b>
                            <br />
                            相关行业
                            <br />
                            工作年限
                        </div>
                    </div>
                    <div class="yctj_nrlb">
                        <div class="yctj_nrzp">
                            <img src="images/mpxp.jpg" width="84" height="84" border="0" align="absmiddle" />
                        </div>
                        <div class="yctj_nrwen">
                            <b class="fz16">某某求职者</b>
                            <br />
                            相关行业
                            <br />
                            工作年限
                        </div>
                    </div>
                </div>
            </div>
            <!-- 猎头会员英才举荐结束 --> </div>
        <div class="clear"></div>
    </div>

</div>
<!-- 内容大框 -->
<script type="text/javascript">
    $(".icon-iconfonticon").click(function(){
        $(this).parent().parent().remove();
    })
</script>
{% include 'jobs/system/new_footer.html' %}