{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style1.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/uploadify.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<script src="{{ STATIC_URL }}js/jquery.uploadify.js" ></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/My97DatePicker/WdatePicker.js"></script>
<!-- 内容大框 -->
<div class="lt_content_box scjl">
    <input type="hidden" id="resumeID" value="{{ resumeID }}" >
    <input type="hidden" id="attachment" value="{{ tri.attachment }}" >
    <input type="hidden" id="user_name" value="{{ tri.user_name }}" >
    <div class="center clearfix">
        <div class="left">
        <div class="left_box">
             <div class="bd_bottom1">
                <span class="t">培训经历</span>
                <div class="slider wdgz_silder"></div>
            </div>
            {% for trt in trtList %}
            <ul class="info"  style="position:relative">
                <input type="hidden" name="trtID" value="{{ trt.id }}" >

                <li>
                    <input onblur="yznr(this)" type="text" maxlength="20" name="institution" value="{{ trt.institution }}" placeholder="培训机构"  class="w300">
                    <span class="ml25" style="color:#ff6a6a" ></span>
                </li>
                 <li>
                    <input onblur="yznr(this)" type="text" maxlength="20" name="area" value="{{ trt.area }}" placeholder="培训地点"  class="w300">
                    <span class="ml25" style="color:#ff6a6a" ></span>
                </li>
                <li>
                    <input onblur="yznr(this)" type="text" maxlength="20" name="course" value="{{ trt.course }}" placeholder="培训课程"  class="w300">
                    <span class="ml25" style="color:#ff6a6a" ></span>
                </li>
                 <li>
                    <input onblur="yznr(this)" name="start_time" class="jlsjk fz14" type="text" onClick="WdatePicker({maxDate: new Date()})"
                           style="border:1px solid #E2E2E2;width: 140px" value="{{ trt.start_time | date:"Y-m-d" }}">—
                    <input onblur="yznr(this)" name="end_time" class="jlsjk fz14" type="text" onClick="WdatePicker()"
                           style="border:1px solid #E2E2E2;width: 140px;margin-right: 3px" value="{{ trt.end_time | date:"Y-m-d"  }}">
                    <span class="ml25" style="color:#ff6a6a" ></span>
                </li>
                 <li>
                    <input onblur="yznr(this)" type="text" maxlength="20" name="certificate" value="{{ trt.certificate }}" placeholder="获得证书"  class="w300">
                    <span class="ml25" style="color:#ff6a6a" ></span>
                </li>
                <li>
                    <textarea name="training_describe" class="ta" maxlength="500" placeholder="培训描述"
                             onkeydown="countChar(this,500);"
                            onkeyup="countChar(this,500);">{{ trt.training_describe }}</textarea><br/>
                     最多输入500字，目前已经输入<span  id="counter2" style="color:red;font-weight:bold">0</span>字
                </li>
                <input type="button" class="button f_r ml15" id="obcan" name="" value="保存" onclick="editTraining(this)" >
                <div class="oosc">
                    <i style="" class="iconfont icon-shanchu"></i>
                    <input class="button f_r ml15" data-target="#if_del_Modal" data-toggle="modal" onclick="del_Modal=this" id="oscan" name="{{ trt.id }}" value="删除该培训经历"  type="button">
                </div>
            </ul>
            <hr>
            {% endfor %}

            <div class="add_btn" onclick="add_pxjl()">
                <i class="iconfont icon-tianjia2"></i><span>添加新的培训经历</span>
            </div>
        </div>
            <div class="b">
            
                <input style="margin-right:15px;" type="button" class="button f_r " name="next"  onclick="window.location.href= '/jobs/resume/grnl?resumeID={{ tri.id }}'" value="下一步" >
                <a onclick="resumeJump('jyjl')" class="f_l return_a fz18 mt10">返回：教育经历</a>
            </div>
        </div >
        {% include 'jobs/resume/resumeRight.html' %}
    </div>
</div>
<!-- 内容大框 -->
<script type="text/javascript">
$(function(){
    if($("ul[class=info]").length == 0 ){
        add_pxjl();
    }

    $("textarea[name='training_describe']").each(function(){
       countChar($(this),500);
    });
})

function add_pxjl(){
    var str="";
    str += "<ul class=\"info\" style=\"position:relative\">";
    str += "                <input type=\"hidden\" name=\"trtID\" value=\"\" >";
    // str += "                <i onclick=\"delTraining(this)\"  class=\"iconfont icon-shanchu fz24 gzjl_shanchu_btn\" style=\"position:absolute;right: 0;top:0;color:#999;cursor: pointer\"></i>";
    str += "                <li>";
    str += "                    <input id='test' type=\"text\" name=\"institution\" value=\"\" placeholder=\"培训机构\" class=\"w300\" maxlength=\"20\">";
    str += "                </li>";
    str += "                <li>";
    str += "                    <input maxlength=\"20\" id='test' type=\"text\" name=\"area\" value=\"\" placeholder=\"培训地点\" class=\"w300\">";
    str += "                </li>";
    str += "                <li>";
    str += "                    <input maxlength=\"20\" id='test' type=\"text\" name=\"course\" value=\"\" placeholder=\"培训课程\" class=\"w300\">";
    str += "                </li>";
    str += "                <li>";
    str += "                    <input name=\"start_time\" class=\"jlsjk fz14\" type=\"text\" onClick=\"WdatePicker({maxDate: new Date()})\"  style=\"border:1px solid #E2E2E2;width: 140px\" placeholder=\"请选择开始时间\">—";
    str += "                    <input name=\"end_time\" class=\"jlsjk fz14\" type=\"text\" onClick=\"WdatePicker()\"  style=\"border:1px solid #E2E2E2;width: 140px\" placeholder=\"请选择结束时间\">";
    str += "                </li>";
    str += "                <li>";
    str += "                    <input maxlength=\"20\" id='test' type=\"text\" name=\"certificate\" value=\"\" placeholder=\"获得证书\" class=\"w300\">";
    str += "                </li>";
    str += "                <li>";
    str += "                    <textarea maxlength=\"500\"  name=\"training_describe\" class=\"ta\" placeholder=\"培训描述\"";
    str += "                             onkeydown=\"countChar(this,500);\"";
    str += "                            onkeyup=\"countChar(this,500);\"></textarea><br/>";
    str += "                     最多输入500字，目前已经输入<span  id=\"counter2\" style=\"color:red;font-weight:bold\">0</span>字";
    str += "                </li>";
    str += "                <input type=\"button\" class=\"button f_r ml15\" id=\"obcan\" name=\"\" value=\"保存\" onclick=\"editTraining(this)\" >";
    str += "                <ul style=\"height:43px;position:relative;width:220px;\">"
    str += "                    <i style=\"position:relative;left:50px;top:20px;color:white;font-size:20px;\" class=\"iconfont icon-shanchu\" ></i>";
    str += "                    <input type=\"button\" class=\"button f_r ml15\" id=\"oscan\" name=\"\" onclick=delTraining(this) value=\"删除该培训经历\">";
    str += "                </ul>";
    str += "            </ul>";
    str += "            <hr>";

    $(".add_btn").before(str);
}

function editTraining(obj){
    var pro = $(obj).parent();

    var institution=$(pro).find("input[name='institution']").val();//培训机构
    var area=$(pro).find("input[name='area']").val();//培训地点
    var course=$(pro).find("input[name='course']").val();//培训课程
    var certificate=$(pro).find("input[name='certificate']").val();//获得证书
    var training_describe=$(pro).find("textarea[name='training_describe']").val();//培训描述
    var start_time=$(pro).find("input[name='start_time']").val();//开始时间
    if(start_time.length > 12){
        start_time = start_time.substring(0,start_time.indexOf(" ")).replace("年","-").replace("月","-").replace("日","");
    }
    var end_time=$(pro).find("input[name='end_time']").val();//结束时间
    if(end_time.length > 12){
        end_time = end_time.substring(0,end_time.indexOf(" ")).replace("年","-").replace("月","-").replace("日","");
    }

    var trtID = $(pro).find("input[name='trtID']").val();//主键ID
    // || course == "" || institution == "" || start_time == "" || end_time == ""
    if(institution == "" ){
        alert("培训机构不能为空");
        return false;
    }
    if(area == "" ){
        alert("培训地点不能为空");
        return false;
    }
    if(course == "" ){
        alert("培训课程不能为空");
        return false;
    }
    if(start_time == "" ){
        alert("开始时间不能为空");
        return false;
    }
    if(end_time == "" ){
        alert("结束时间不能为空");
        return false;
    }

    if(start_time > end_time){
        alert("您输入的起始日期大于结束日期!");
        return false;
    }
    //验证
{#    var elemt=event.target;  #}
    $.ajax({
        type: "POST",
        url: "/ajax_editTraining",
{#        eventT:elemt,#}
        data: {
            "institution": institution,
            "area": area,
            "course":course,
            "certificate":certificate,
            "training_describe":training_describe,
            "start_time":start_time,
            "end_time":end_time,
            "trtID":trtID,
            "resumeID": $("#resumeID").val(),
            "type" : "edit"
        },
        dataType: "json",
        success: function(data){
            if(data.trtID != ""){
                $(pro).find("input[name='trtID']").val(data.trtID);
                $("#pxjl").text("[完成]");
                $("#wsRes").text(data.wsres+"%");
                $("span#jdt").animate({width: data.wsres+"%"}, 100);
                var $del = $(obj).nextAll("ul").find(":input");
                $del.attr("name", data.treID);
                $del.attr("data-target", "#if_del_Modal");
                $del.attr("data-toggle", "modal");
                $del.attr("onclick", "del_Modal=this");
                alert("保存成功");
            }
            else{
                alert("保存失败");
            }
        }
    });
}

function countChar(obj,maxNum){
    //得到输入的字符的长度
    var NowNum =  $(obj).val().length;
    //判断输入的长度是否超过规定的长度
    // if(NowNum>maxNum)
    // {
    //    //如果超过就截取规定长度的内容
    //     $(obj).val($(obj).val().substring(0,maxNum));
    // }
    //得到当前的输入长度并且显示在页面上
    $(obj).parent().find("span").text(NowNum);
}

function delTraining(obj){
    var id = $(obj).attr("name");
    if(id == ""){
        //删除元素
        $(obj).parent().parent().next("hr").remove();
        $(obj).parent().parent().remove();
    }
    else {
        // var flag = confirm("你确定要删除这个教育经验吗？");
        // if(flag == false)
        //     return false;
        $.ajax({
            type: "POST",
            url: "/ajax_editTraining",
            data: {
                "type": "del",
                "resumeID": "{{ tri.id }}",
                "trtID": id
            },
            dataType: "json",
            success: function (data) {
                if (data.count != null) {
                    if($("ul[class=info]").length == 0 ) {
                        add_pxjl();
                        $("#pxjl").text("");
                    }
                    $("#wsRes").text(data.wsres + "%");
                    $("#jdt span").width = data.wsres + "%";

                    //删除元素
                    $(obj).parent().parent().next("hr").remove();
                    $(obj).parent().parent().remove();
                    alert("删除成功");
                }
                else {
                    alert("删除失败");
                }
            }
        });
    }

}
function yznr(obj){
    if($(obj).val()==""){
        $(obj).next().append('<i class="iconfont icon-gantanhao"></i>必填');
    }else{
        $(obj).next().append('<i class="iconfont icon-gou"></i>');
    }
}

var del_Modal = 0;
</script>
<div class="modal fade" id="if_del_Modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"style="width:300px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">删除培训经历</h4>
                </div>
                <div class="modal-body t_c">是否确认删除该培训经历？</div>
                <div class="modal-footer">
                    <input type="hidden" id="cancelId" />
                    <input type="hidden" id="cancelGroupId" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="delTraining(del_Modal)">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="">取消</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
{% include 'jobs/system/new_footer.html' %}