{% include 'jobs/system/header.html' %}
<link href="{{ STATIC_URL }}css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/style.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style1.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/uploadify.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/kongjian.css">
<script src="{{ STATIC_URL }}js/scroll.js" ></script>
<script src="{{ STATIC_URL }}js/jquery.uploadify.js" ></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/My97DatePicker/WdatePicker.js"></script>
<!-- 内容大框 -->
<div class="lt_content_box scjl">
    <input type="hidden" id="resumeID" value="{{ resumeID }}" >
    <input type="hidden" id="attachment" value="{{ tri.attachment }}" >
    <input type="hidden" id="user_name" value="{{ tri.user_name }}" >
    <div class="center clearfix">
        <div class="left">
        <div class="left_box">
             <div class="bd_bottom1">
                <span class="t">项目经历</span>
                <div class="slider wdgz_silder"></div>
            </div>
            {% for tri in triList %}
            <ul class="info" style="position:relative">
                <input type="hidden" name="triID" value="{{ tri.id }}" >
                <li>
                    <input type="text" name="company_id" value="{{ tri.company_id }}" maxlength="20" placeholder="公司名称"  class="w300">
                    <span class="ml25" style="color:#ff6a6a"></span>
                </li>
                 <li>
                    <input type="text" name="item_name" value="{{ tri.item_name }}" maxlength="20" placeholder="项目名称"  class="w300">
                    <span class="ml25" style="color:#ff6a6a"></span>
                </li>
                <li>
                    <input name="start_time" value="{{ tri.start_time | date:"Y-m-d" }}" class="jlsjk fz14" type="text" onClick="WdatePicker({maxDate: new Date()})"  style="border:1px solid #E2E2E2;width: 140px" placeholder="请选择开始时间">—
                    <input name="end_time" value="{{ tri.end_time | date:"Y-m-d"  }}" class="jlsjk fz14" type="text" onClick="WdatePicker()"  style="border:1px solid #E2E2E2;width: 140px" placeholder="请选择结束时间">
                    <span class="ml25" style="color:#ff6a6a"></span>
                </li>
                 <li>
                    <input type="text" name="job" value="{{ tri.job }}" maxlength="20" placeholder="项目职务"  class="w300">
                    <span class="ml25" style="color:#ff6a6a"></span>
                </li>
                <li>
                    <input type="text" name="duty" value="{{ tri.duty }}" maxlength="20" placeholder="项目职责" class="w300">
                    <span class="ml25" style="color:#ff6a6a"></span>
                </li>
                <li>
                    <textarea  id="xmms" name="item_describe" class="ta" maxlength="500" placeholder="项目描述"
                             onkeydown="countChar(this,500);"
                            onkeyup="countChar(this,500);">{{ tri.item_describe }}</textarea><br/>
                     最多输入500字，目前已经输入<span  id="counter2" style="color:red;font-weight:bold">0</span>字
                </li>
                <input type="button" id="obcan"  class="button f_r ml15" style="background-color: #c8161d;color: white" name="" value="保存" onclick="editItem(this)" >
                <div class="oosc">
                    <i style="" class="iconfont icon-shanchu"></i>
                    <input data-target="#if_del_Modal" data-toggle="modal" onclick="del_Modal=this" class="button f_r ml15" id="oscan" name="{{ tri.id }}" value="删除该项目经历"  type="button">
                </div>
            </ul>
            <hr>
            {% endfor %}

            <div class="add_btn" onclick="add_xmjl()">
                <i class="iconfont icon-tianjia2"  ></i><span>添加新的项目经历</span>
            </div>
        </div>
            <div class="b">
                 <input type="button" class="button f_r " name="next"  onclick="window.location.href= '/jobs/resume/jyjl?resumeID={{ tri.id }}'"  value="下一步" >
                <a onclick="resumeJump('gzjl')" class="f_l return_a fz18 mt10">返回：工作经历</a>
            </div>
        </div >
        {% include 'jobs/resume/resumeRight.html' %}
    </div>
</div>
<!-- 内容大框 -->
<script type="text/javascript">
$(function(){
    if($("ul[class=info]").length == 0 ){
        add_xmjl();
    }
    
    $("textarea[name='item_describe']").each(function(){
       countChar($(this),500);
   });
    $(".info").on('blur', 'input', function(event) {
        if($(this).val()=="")
            $(this).parent().siblings('span').html('<i class="iconfont icon-gou"></i>');
        
        else
            $(this).parent().siblings('span').html('<i class="iconfont icon-gantanhao">必填</i>')
    });
})

function add_xmjl(){
    var str="";
    str += "<ul class=\"info\" style=\"position:relative\">";
    str += "                <input type=\"hidden\" name=\"triID\" value=\"\" >";
    str += "                <li>";
    str += "                    <input type=\"text\" name=\"company_id\" value=\"\" maxlength=\"20\" placeholder=\"公司名称\"  class=\"w300\"><span class=\"ml25\" style=\"color:#ff6a6a\"></span>";
    str += "                </li>";
    str += "                 <li>";
    str += "                    <input type=\"text\" name=\"item_name\" value=\"\" maxlength=\"20\" placeholder=\"项目名称\"  class=\"w300\"><span class=\"ml25\" style=\"color:#ff6a6a\"></span>";
    str += "                </li>";
    str += "                <li>";
    str += "                    <input name=\"start_time\" class=\"jlsjk fz14\" type=\"text\" onClick=\"WdatePicker({maxDate: new Date()})\"   style=\"border:1px solid #E2E2E2;width: 140px\" placeholder=\"请选择开始时间\">—";
    str += "                    <input name=\"end_time\" class=\"jlsjk fz14\" type=\"text\" onClick=\"WdatePicker()\"  style=\"border:1px solid #E2E2E2;width: 140px\" placeholder=\"请选择结束时间\"><span class=\"ml25\" style=\"color:#ff6a6a\"></span>";
    str += "                </li>";
    str += "                 <li>";
    str += "                    <input type=\"text\" name=\"job\" value=\"\" maxlength=\"20\" placeholder=\"项目职务\"  class=\"w300\"><span class=\"ml25\" style=\"color:#ff6a6a\"></span>";
    str += "                </li>";
    str += "                <li>";
    str += "                    <input type=\"text\" name=\"duty\" value=\"\" maxlength=\"20\" placeholder=\"项目职责\" class=\"w300\"><span class=\"ml25\" style=\"color:#ff6a6a\"></span>";
    str += "                </li>";
    str += "                <li>";
    str += "                    <textarea  id=\"xmms\" name=\"item_describe\" maxlength=\"500\" class=\"ta\" placeholder=\"项目描述\"";
    str += "                             onkeydown=\"countChar(this,500);\"";
    str += "                            onkeyup=\"countChar(this,500);\"></textarea><br/>";
    str += "                     最多输入500字，目前已经输入<span  id=\"counter2\" style=\"COLOR:red;FONT-WEIGHT:bold\">0</span>字";
    str += "                </li>";
    str += "                <input type=\"button\" id=\"obcan\" class=\"button f_r ml15\"  name=\"\" value=\"保存\" onclick=editItem(this) >";
    str += "         <ul style=\"height:43px;position:relative;width:220px;\"><i style=\"position:relative;left:50px;top:20px;color:white;font-size:20px;\" class=\"iconfont icon-shanchu\"></i><input type=\"button\" class=\"button f_r ml15\" id=\"oscan\" name=\"\" value=\"删除该项目经历\" onclick=delWorkInfo(this) ></ul>";
    str += "            </ul>";
    str += "            <hr>";

    $(".add_btn").before(str);
}

function editItem(obj){
    var pro = $(obj).parent();

    var company_id=$(pro).find("input[name='company_id']").val();//公司名称
    var item_name=$(pro).find("input[name='item_name']").val();//项目名称
    var job=$(pro).find("input[name='job']").val();//项目职位
    var duty=$(pro).find("input[name='duty']").val();//项目职位
    var item_describe=$(pro).find("textarea[name='item_describe']").val();//项目描述
    var start_time=$(pro).find("input[name='start_time']").val();//项目开始时间
    if(start_time.length > 12){
        start_time = start_time.substring(0,start_time.indexOf(" ")).replace("年","-").replace("月","-").replace("日","");
    }
    var end_time=$(pro).find("input[name='end_time']").val();//项目结束时间
    if(end_time.length > 12){
        end_time = end_time.substring(0,end_time.indexOf(" ")).replace("年","-").replace("月","-").replace("日","");
    }

    var triID = $(pro).find("input[name='triID']").val();//主键ID

    //|| item_name=="" || job=="" || duty == "" || start_time == "" || end_time == ""
    if(company_id=="" ) {
       alert("公司名称不能为空");
        return false;
    }
    if(item_name=="" ) {
       alert("项目名称不能为空");
        return false;
    }

    if(start_time=="" ) {
       alert("项目开始时间不能为空");
        return false;
    }
    if(end_time=="" ) {
       alert("项目结束时间不能为空");
        return false;
    }

    if(start_time > end_time){
        alert("您输入的起始日期大于结束日期!");
        return false;
    }

    if(job=="" ) {
       alert("项目职位不能为空");
        return false;
    }
    if(duty=="" ) {
       alert("项目职责不能为空");
        return false;
    }
{#    var elemt=event.target;  #}
    $.ajax({
        type: "POST",
        url: "/ajax_editItem",
{#        eventT:elemt,#}
        data: {
            "company_id": company_id,
            "item_name": item_name,
            "job":job,
            "duty":duty,
            "item_describe":item_describe,
            "start_time":start_time,
            "end_time":end_time,
            "triID":triID,
            "resumeID": $("#resumeID").val(),
            "type" : "edit"
        },
        dataType: "json",
        success: function(data){
            if(data.triID != ""){
                $(pro).find("input[name='triID']").val(data.triID)
                $("#xmjl").text("[完成]");
                $("#wsRes").text(data.wsres+"%");
                $("span#jdt").animate({width: data.wsres+"%"}, 100);
                var $del = $(obj).nextAll("ul").find(":input");
                $del.attr("name", data.triID);
                $del.attr("data-target", "#if_del_Modal");
                $del.attr("data-toggle", "modal");
                $del.attr("onclick", "del_Modal=this");
                alert("保存成功");
            }
            else{
                alert("保存失败");
            }
        }
    });
}

function countChar(obj,maxNum){
    //得到输入的字符的长度
    var NowNum =  $(obj).val().length;
    //判断输入的长度是否超过规定的长度
    // if(NowNum>maxNum)
    // {
    //    //如果超过就截取规定长度的内容
    //     $(obj).val($(obj).val().substring(0,maxNum));
    // }
    //得到当前的输入长度并且显示在页面上
    $(obj).parent().find("span").text(NowNum);
}
    
function delWorkInfo(obj){
    var id = $(obj).attr("name");
    if(id == ""){
        //删除元素
        $(obj).parent().parent().next("hr").remove();
        $(obj).parent().parent().remove();
    }
    else {
        // var flag = confirm("你确定要删除此项吗?");
        // if(flag == false)
        //     return false;
        $.ajax({
            type: "POST",
            url: "/ajax_editItem",
            data: {
                "type": "del",
                "resumeID": "{{ tri.id }}",
                "triID": id
            },
            dataType: "json",
            success: function (data) {
                if (data.count != null) {
                    //删除元素
                    $(obj).parent().parent().next("hr").remove();
                    $(obj).parent().parent().remove();

                    if($("ul[class=info]").length == 0 ) {
                        add_xmjl();
                        $("#xmjl").text("");
                    }
                    $("#wsRes").text(data.wsres + "%");
                    $("span#jdt").animate({width: data.wsres+"%"}, 100);
                    alert("删除成功");
                }
                else {
                    alert("删除失败");
                }
            }
        });
    }

}
var del_Modal = 0;
</script>
<div class="modal fade" id="if_del_Modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"style="width:300px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">删除项目经历</h4>
                </div>
                <div class="modal-body t_c">是否确认删除该项目经历？</div>
                <div class="modal-footer">
                    <input type="hidden" id="cancelId" />
                    <input type="hidden" id="cancelGroupId" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="delWorkInfo(del_Modal)">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="">取消</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
{% include 'jobs/system/new_footer.html' %}