@function b($size){
	@return 1px*$size solid #E0E0E0;
}

.nav2{width:1018px;}

.btn-qx{border: medium none;background: #FFF none repeat scroll 0% 0%;font-size: 14px;color: #333;}
.btn{display: inline-block;padding: 6px 12px;margin-bottom: 0px;font-size: 14px;font-weight: normal;line-height: 1;color:#FFF;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
#areaTag i{font-style:normal;}
.area_input{width: 432px;height: auto;font-size: 14px;min-height: 38px;padding-left: 10px;line-height: 38px;}


#tyZn_box1, #tyZn_box2, #tyZn_box3{width:99.8%;}
#tyZn_wrap li{border:1px solid transparent;border-bottom:none;width:193.5px !important;}
#zyzn li{width:20%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#sj_zn .r li{width:22.5%;}
#positionDiv span:hover{color:#5c91d9;}
#businessulDiv span:hover{color:#5c91d9;}
#expected_area{
	width:432px !important;
}

.page_number{
	display: block;text-align: center;margin-top: 30px;margin-bottom: 20px;
	li{
		width:auto ;display: inline-block;margin-right: 5px;padding:0px 8px ;font-size:14px;height:36px ;line-height: 36px;min-width: 36px;cursor: pointer;float: none ;border: 1px solid #e0e0e0;
		&:hover,&.active{
			background-color: #5c91d9;color: white;
		}
	}
}

.sajl_btn{background:url(../images/addjl_03.png) no-repeat;width:234px!important;height:57px!important;}
#file_upload{width:234px!important;height:57px!important;}
#selectJl{
    display:none;text-align: center;
    .word{
    	text-align: left;margin-left: 10px;
    	div{
    		margin-top:6px;color:#777;
    		p,span{color:#ff6666;}
    	}
    }
}
.selectJl_l{position: relative;width:234px;float:left;margin-left: 5px}
#file_upload object{left:0;}
.o_layer{
        border-radius: 5px;
}

.o_layer .layui-layer-title{padding-top:10px;font-size:18px;background-color: #FFF;height:56px;border-radius: 5px 5px 0px 0px;}
.o_layer .layui-layer-setwin{top:25px;}
.layui-layer-content{height:auto!important;border-radius: 0px 0px 5px 5px;}
#some_file_queue{width:98%;margin:auto auto 30px auto;padding: 5px;margin-top: 15px;height:240px;overflow-x:hidden;overflow-y: auto}
.wcljl_li i{border-radius:50%;position:absolute;top:-8px;right:-8px;background-color:#FF8702;width:22px;height:22px;color:#fff;text-align: center;line-height: 22px;font-size: 12px;}
.c_abs{
        position: absolute;display: block;width:100%;height:100%;box-sizing:content-box;z-index: -1;
        padding: 10px;background-color:#333;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity: 0.7;left:-10px;top:-10px;border-radius: 5px;
    }
    #uploadCount{text-align: center;margin-top: 100px;}
    #start_upload{background:#5c91d9;color:#fff;width:120px;height:40px;line-height: 40px;display:inline-block;border-radius: 5px;}
    #finish_btn{background-color:#ccc;color:#fff;width:120px;height:40px;line-height: 40px;display:inline-block;border-radius: 5px;margin-left: 10px}
	#finish_btn.active{background-color: #5c91d9;}
.clearfix:after { *zoom:1; content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.dib{display: inline-block;}
$c_5c:#5c91d9;/*lan*/
$c_4c:#4c83ce;/*shenlan*/
$c_51:#51d8ba;
$c_f8:#ff8800;
$c_41:#41c6a8;
.fz14{font-size:14px !important;}
.tac{text-align: center;}
#tableInfo{overflow:visible;min-height: auto !important;}
a:focus{outline:none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #999 !important; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #999 !important; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #999 !important; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #999 !important; 
} 
body{
	background-color:#f1f1f1;padding-right:0 !important;
}
#libaray{
	color:#333;
}
.o_label{font-weight: normal;}

.check{
	height:15px;
	.checkbox{
		width:15px;height:15px;border:b(1);line-height: 12px;text-align: center;display: inline-block;background-color:#FFF;vertical-align:middle;cursor: pointer;
		margin: 0px;
	}
	i{
		display: none;color:#5c91d9;margin-left: -1px;
	}
	&.active{
		i{
			display: block;
		}
	}
	&:hover{
		.checkbox{
			border-color:$c_5c;
		}
	}
}

.nowrap{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.box_c{
	width:1020px;min-height: 500px;
	margin:25px auto 0px;
}
.box_l{
	width:235px;float:left;border-radius:2px;
	.t{
		button,a{
			width:115px;height:35px;line-height: 35px;display: inline-block;
			font-size: 14px;border:none;border-radius:5px;text-indent: 15px;
			color: #FFF;text-align: center;cursor: pointer;
		}
		.upload{
			background: $c_5c url(../images/addjl.png) no-repeat 15px 9px;
			&:hover{
				background-color:$c_4c;
			}
		}
		.create_new{
			background: #51d8ba url(../images/new_jl.png) no-repeat 15px 11px;
			&:hover{
				background-color:#35D69A;text-decoration:none;
			}
		}
	}
	.b{
		margin-top: 10px;
		border:b(1);
		background-color:#FFF;
		h1{
			width:215px;height:52px;line-height: 52px;margin:0 auto;text-indent:12px;
			color:#ff8800;font-weight: bold;font-size: 14px;cursor: pointer;
			span{
				font-weight: normal;
			}
			a{color:#333;}
			a.active{
				color:#ff8800;
			}
		}
		.resume_group{
			h1{
				width:215px;height:32px;line-height: 32px;text-indent:12px;
				margin:0 auto 0px;color:#333;font-weight: bold;font-size: 14px;
				background-color:#F4F4F4;cursor: default;
			}
			.l{
				width:213px;height:35px;line-height: 35px;font-size: 14px;
				text-indent: 25px;margin:0 auto;font-weight: bold;cursor: pointer;
				background:url(../images/xjt_y.png) no-repeat left center;
				&.active{
					background-image: url(../images/xjt_y1.png);
				}
				.add_group{
					float: right;border: 1px solid #E0E0E0;text-align: center;text-indent: 0px;width: 60px;height: 20px;line-height: 18px;border-radius: 5px;margin-top: 8px;font-weight: normal;
					background: url(../images/lan+.png) no-repeat 10px center;text-indent: 12px;
					&:hover{
						border-color:$c_5c;
					}
					em{
						vertical-align: top;
					}
					b{
						color:$c_5c;  color: #5c91d9;vertical-align: middle;margin-right: 2px;font-size: 20px;top: -1.5px;position: relative;
					}
				}
			}
			.all{
				background: none;border-bottom:1px solid #e0e0e0;font-size: 14px;
				span{
					font-size: 14px;font-weight: normal;
				}
				&:hover,&.active{
					color:#5c91d9;background-image: none !important;
				}
			}
			ul{
				
				li{
					text-indent: 12px;font-size: 14px;line-height: 35px;cursor: pointer;background:url(../images/yjt_01.png) no-repeat 36px center;
					padding-left: 36px;
					a{color:#333;}
					.count{
						font-size: 12px;
					}
					&:hover{
						a{color:$c_4c;}
					}
					&.active{
						a{color:$c_4c;font-weight:bold;}
					}
				}
			}
			.o_group{
				    padding-bottom: 5px;
				li{
					position:relative;

					div{
						width:100%;display: none;
						.group_txt{
							width:60%;height:28px;line-height:28px;font-size:14px;vertical-align:middle;
							text-indent: 7px;border:b(1);border-right:none;
							color:#333;
							&:focus{
								border-color:#5C91D9;
							}
						}
						.submit{
							border:none;display: inline-block;vertical-align:middle;height:28px;width:15%;background-color:#5c91d9;color:#fff;
							&:hover{
								background-color: $c_4c;
							}
						}
						.cancel{text-indent: 0px;font-weight: normal;font-size: 12px;display: inline-block;vertical-align:middle;height:100%;width:19%;margin-left: 3%;}
					}
					.ope{display: none;}
					span{display: inline;font-size: 14px;}
					&:hover{
						color:#5c91d9;
						.ope{
							display: block;
						}
					}
					.delete{
						background:url(../images/shanchu.png) no-repeat center center;
						width: 12px;
						height: 14px;
						position: absolute;
						right: 20px;
						top: 11px;
						&:hover{
							background-image:url(../images/shanchu1.png);
						}
					}
					.editor{
						background:url(../images/icon_05.png) no-repeat center center;
						width: 14px;
						height: 14px;
						position: absolute;
						right: 42px;
						top: 10.5px;
						&:hover{
							background-image:url(../images/icon_053.png);
						}
					}
					&.ac{
						color:#5c91d9;font-weight: bold;
					}
					&.active{
						background: none;text-indent: 5px;
						div{
							display: block;
						}
						.ope{
							display: none;
						}
						span{
							display: none;
						}
					}
					&.active:hover{
						.ope{
							display: none;
						}
					}
					
				}
			}
		}
	}
	
}

.box_r{
	width:763px;border:b(1);background-color:#fff;border-radius:2px;
	float:right;
	.o_search{
		margin-top: 20px;position: relative;
		.t{
			width:725px;margin: 0 auto;
			*{
				vertical-align: middle;
			}
			input[type="text"]{
				// height:38px;
				padding:8.5px 0;height:40px;
				width:559px;border:1px solid $c_5c;text-indent:10px;
				border-right:none;border-radius:5px 0px 0px 5px;font-size: 14px;
			}
			.search_btn1{
				border:none;width:85px;border-radius:0px 5px 5px 0px;cursor: pointer;background:$c_5c url(../images/search_1.png) no-repeat 14px center;
				font-size: 14px;color:#FFF;height:40px;text-indent:25px;
				&:hover{
					background-color:$c_4c;
				}
			}
			.more_search{
				color:$c_5c;font-size: 14px;line-height: 40px;margin-left: 5px;
				display: inline-block;background:url(../images/lan_xjt.png) no-repeat right 52%;width:75px;
				&:hover{
					text-decoration: none;color:$c_4c;
				}
				&.active{
					position:absolute;bottom:10px;right:30px;background-image: url(../images/lan_xjt1.png);
				}
			}
		}
		.m{
			width:550px;margin:0 auto;display: none;padding-bottom:15px;
			li{
				@extend .clearfix;min-height:40px;line-height: 38px;margin-top: 10px;
				label{
					color:#333;font-size: 14px;width:84px;margin-right: 15px;
				}
				.sex{
					width:58px;height:38px;border:b(1);border-radius:5px;
					color:#888;text-align: center;display: inline-block;
					margin-right: 10px;font-size: 14px;cursor: pointer;
					i{
						margin-right: 5px;
					}
					&.active{
						color:#333;border-color:#5c91d9;background:url(../images/jlk_sex.png) no-repeat right top;
					}
				}
				.age{
					font-size: 14px;color:#333;margin-right: 10px;
					margin-left: 28px;
				}
				em{
					color:#E0E0E0;
				}
				.year{
					border:b(1);border-radius:5px;color:#333;
					padding-left:10px;width:56px;font-size: 14px;height:38px;
					&:focus{
						border-color:#5c91d9;
					}
				}
				.company_name{
					width:246px;border:b(1);height:38px;font-size: 14px;padding-left:10px;
					border-radius:5px;color:#333;
					&:focus{
						border-color: #5c91d9;
					}
				}
				.dib.active{
					i{
						background-color:#5c91d9;
					}
				}
				.dib:hover{
					label{
						color:#5c91d9;
					}
				}
				.radio{
					width:16px;height:16px;border-radius:50%;border:1px solid #d1d1d1;display: inline-block;
					position: relative;line-height: 16px;text-align: center;margin-left: 10px;
					cursor: pointer;vertical-align: middle;
					i{
						width:8px;height:8px;background-color:#fff;
						border-radius:50%;position: absolute;top: 50%;margin-top: -4px;left: 50%;margin-left: -4px;
					}
				}
				label.n{
					margin-right: 0px;margin-left: 8px;cursor: pointer;vertical-align: middle;
				}
			}
			.more_search_btn{
				width:167px;height:42px;margin: 30px auto 0px;text-indent:30px;
				color:#FFF;font-size: 16px;cursor: pointer;border:none;
				border-radius:5px;display: inline-block;background:$c_5c url(../images/search.png) no-repeat 30px center;
				&:hover{
					background-color:$c_4c;
				}	
			}	
			.reset{
				margin-left:20px;font-size: 14px;color:#888;cursor: pointer;
				&:hover{
					color:#5C91D9;text-decoration: underline;
				}
			}
		}
	}

	.resume_list{
		width:723px;margin: 15px auto 0px;
		.loading{
			background: url(../images/load3.gif) no-repeat center center;	
		}
		.o_sort{
			background-color: #F4F4F4;height:40px;line-height: 42px;border-bottom:1px solid #e0e0e0;
			padding:0px 18px;font-size: 14px;
			.b{
				color:#FF8800;
			}
			.resume_count{
				margin:0px 3px;
			}
			.o_s{
				border:b(1);border-radius:5px;font-size: 12px;background:#FFF url(../images/xxl.png) no-repeat 90% center;cursor: pointer;
				min-width:88px;height:22px;line-height: 20px;text-indent:12px;display: inline-block;margin-right: 5px;
				vertical-align: middle;margin-top: -4px;
				p{
					padding-right:24px;
				}
				ul{
					background-color:#FFF;border-radius:5px;display: none;position:relative;z-index: 3;
					border:b(1);margin-top:2px;overflow:hidden;
					li:hover{
						background-color:$c_5c;color:#fff;
					}
				}
			}
			.o_pagination{
				float:right;min-width:72px;text-align: center;height:40px;color:#888;
				em{
					width:6px;height:11px;display: inline-block;
					cursor: pointer;
				}
				.l{
					
					background: url(../images/xz.png) no-repeat center center;
					&:hover{
						background-image: url(../images/xz1.png);
					}
				}
				p{
					display: inline-block;margin:0 10px;
					b{
						font-weight: normal;
					}
				}
				.r{
					background:url(../images/xy.png) no-repeat center center;
					&:hover{
						background-image: url(../images/xy1.png);
					}
				}
			}
		}
		.count_operate{
			background-color: #F4F4F4;height:40px;line-height: 38px;border-bottom:1px solid #e0e0e0;
			padding:0px 18px;font-size: 14px;
			.all{
				vertical-align: middle;margin:0 10px 0px 2px;
				-webkit-user-select: none;-moz-user-select:none;
				user-select:none;
			}
			.more_forward{
					display: inline-block;color:#333;background-color:#fff;vertical-align:middle;cursor: pointer;
					border:1px solid #e0e0e0;border-radius:5px;width:auto;height:23px;padding:0 10px;line-height:21px;
				&:hover{
					background-color:$c_4c;color:#fff;
				}
			}
			.f_r{
				font-size: 12px;line-height: 42px;height:100%;
				.look_count{
					margin-top: -2px;vertical-align:middle;line-height: 21px;
					width:25px;height: 23px;border:b(1);display: inline-block;
					text-align: center;background-color:#FFF;border-radius:5px;
					margin:-2px 2.5px 0px;cursor: pointer;
					&.active{
						border-color:$c_5c;
					}
				}
			}
		}

		.resume_info{
			min-height: 294px;
			&.loading{
				background: url(../images/load3.gif) no-repeat center center;	
			}
			li{
				min-height:159px;padding:18px 0px 18px 22px;border-bottom:1px dashed #E0E0E0;position:relative;
				border-radius:5px;
				&:hover{
					box-shadow: 0px 0px 3px 3px #ccc;
					-webkit-box-shadow: 0px 0px 3px 3px #ccc;
					border-bottom-color:transparent;
					.b{display: block;}
				}
			}
			.l{
				text-align: center;display: inline-block;vertical-align:middle;
				img{
					background-color:#f4f4f4;border-radius:50%;width:90px;height:90px;display: block;margin:0 auto;
				}
				p{
					font-size: 12px;color:#666;
				}
				b{
					color:#ff8800;display: block;
					font-size: 16px;margin-top: 5px;
				}
				em{
					position: absolute;z-index:3;float:left;left:20px;bottom:20px;
				}
			}
			.r{
				display: inline-block;width:565px;vertical-align:top;margin-left: 20px;line-height: 1.6;
				.name{
					font-size: 16px;color:#2d64b3;margin-right:15px;
				}
				.position{color:$c_5c;}
				.bb{float:right;width:496px;overflow:hidden;}
				.bb1{@extend .bb;@extend .nowrap;}
				.bb.active:after{
					content:'...';position: absolute;
					bottom:0;right:0;
				}
				label{
					color:#666;font-size: 12px;margin-right: 5px;
				}
				h1{
					line-height: 25px;
					span{
						font-size: 12px;color:#666;
					}
					.time{
						color:#666;margin-right: 20px;
					}
					.follow{
						display: inline-block;border-radius:5px;
						width:58px;height:24px;border:b(1);text-align: center;line-height: 24px;cursor: pointer;
						background: url(../images/lan+.png) no-repeat 10px center;text-indent: 15px;
						&.cancel{
							background: none;text-indent: 0px;
						}
						&:hover{
								border-color:$c_5c;
							}

					}
				}
				p{
					line-height: 25px;
					&.work_info{
						min-height: 50px;
					}
					span{
						font-size: 12px;color:#333;line-height: 25px;
					}
				}
				.o_label{
					div{
						display: inline-block;
					}
					i{
						display: inline-block;margin-right: 3px;
						border-radius:5px;height:24px;padding: 0 9px;
						border:1px solid $c_5c;line-height: 22px;text-align: center;font-style: normal;
					}
					i.t{
						border-color:$c_41;
					}
				}
			}
			.b,.new{position: absolute;}
			.b{
				display: none;width: 97%;height: 40px;background: rgba(244, 244, 244 , 0.9) none repeat scroll 0% 0%;bottom: 9px;left: 10px;
				span{
					float: right;margin-right: 10px;line-height: 22px;border-radius:20px;width:68px;display: inline-block;text-align: center;background-color:#fff;height:24px;border:b(1);margin-top: 8px;cursor: pointer;
					&:hover{
						color:#fff;background-color:$c_5c;
					}
				}
				.delete{
					background:url(../images/shanchu.png) no-repeat center center;
					float:right;width:12px;height:40px;margin-right: 10px;cursor: pointer;
					&:hover{
						background-image:url(../images/shanchu1.png);
					}
				}
			}
			.new{
				display: block;background:url(../images/new.png) no-repeat center center;width:40px;height:21px;left:-6px;top:8px;
			}
			.attachment{@extend .new;background-image:url(../images/fujian.png);left:6px;top:10px;}
		}
	}
}


.resulist{
                  font-size: 12px;overflow:hidden;min-height:450px;
                 }
                 .resulist li{
                    line-height: 40px;font-size:14px;height:40px;border-bottom: 1px dashed #e4e4e4;
                    position:relative;
                 }
                 .resulist li:last-child{border-bottom:none;}
                 .resltop{
                    overflow:hidden;border-bottom: 1px solid #e4e4e4!important;height:40px!important;background-color: #f8f8f8!important;line-height:40px!important;
                 }
                 .resltop .lb1{
                    width:270px;padding-left: 10px!important;text-align:left!important;
                 }
                  .resltop .lb2{
                    width:120px;
                 }
                  .resltop .lb3{
                   width:110px;
                 }
                  .resltop .lb4{
                    width:170px;
                 }
                 .lbcomm{
                    font-size:14px;
                    float:left;
                    overflow:hidden;
                    text-align: center;
                 }
                 .resucount{color:#333; font-size:12px; width:30%; float:right;}
                 .resucount span{
                    color:#ff6666;
                    margin:0px 4px;
                 }
                 .resu_titile{
	                width: 270px;
					float: left;
					text-align: left;
					font-size: 14px;
					overflow: hidden!important;
					margin-left: 15px;
					white-space: nowrap;
					text-overflow: ellipsis;
					i{
						font-style: normal;
					}
					i:hover{
                    	.hintcon{display:block;}
					}
                 }
                 .resu_titile input{
                    vertical-align:middle;
                    margin-right:10px;
                    margin-bottom:2px;
                    cursor: pointer;
                 }
                 .Parssucss{
                    background:url('/static/images/new_images/resume.png') no-repeat;
                    display:inline-block;
                    width:13px;
                    height:14px;
                    margin: 0px 8px 2px 3px;
                    vertical-align: middle;
                 }
                 .noparssucss{
                    background:url('/static/images/new_images/warn.png') no-repeat;
                    display:inline-block;
                    width:15px;
                    height:17px;
                    margin: 0px 8px 2px 3px;
                    vertical-align: middle;
                 }
                 .parsecount{
                    width:120px;float:left;text-align:center;
                    color:#49ba84;
                }
                .resu_time{
                  width:110px;
                  float:left;
                  text-align:center;color:#888!important;}
                .operation{ 
                    width: 162px;
                    float: left;
                    font-size: 14px;
                    text-align: right;}
                 .operation a{
                        margin-right:10px;color:#333;
                        &:hover{
                        	color:#5c91d9;
                        }
                    }
                 .operation em{
                     background:url('/static/images/new_images/close.png') no-repeat;
                     width:12px;
                     height:14px;
                     margin: 0px 12px 2px 5px;
                     vertical-align: middle;
                     display:inline-block;cursor: pointer;
                     &:hover{
                     	background:url('/static/images/shanchu1.png') no-repeat;
                     }
                 }
                 .tjann{
                    border-radius:4px!important;
                 }
                 .tjann:hover{
                        border: 1px solid #5c91d9!important;
                        background-color: #5c91d9!important;
                        color:#fff!important;
                        height: 24px;
                        margin-right: 5px !important;
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: 12px;
                        border-radius:4px!important;
                  }
                  .hintcon{
                  	    position:absolute;
                  	    top:-35px;
                  	    left:15px;
                  	    height:30px;
                  	    line-height:30px;
                  	    text-align:center;
                  	    padding: 1px 15px;
                  	    background-color: #000;
                  	    filter:alpha(opacity=80);
						-moz-opacity:0.8;
						opacity:0.8;
						display:block;
						overflow:hidden;
						border-radius:4px;
						color:#fff;
						display:none;
						cursor: pointer;
                  }
                  .hintcon span{
                  	position: absolute;
					left: 26px;
					top: 40px;
					border-width: 7px;
					border-style: solid dashed dashed;
					border-color: #000 transparent transparent;
					font-size: 0;
					line-height: 0;
                  }





.hcdy{
    cursor: pointer;
    background-color: #5C91D9;
    float: left;
    color: #fff;
    width: 150px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    margin-right: 20px;
    margin-top:16px;
    margin-left:23px;
    font-size:14px;
  }
  .hcdy:hover{
     background-color: #4c83ce;
  }
  .sdjl{
    cursor: pointer;
    background-color:#51d8ba;
    float: left;
    color: #fff;
    width: 150px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
    margin-top:16px;
    font-size:14px;
  }
  .sdjl:hover{
    background-color:#41c6a8;
  }
   .dcjl{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 1;
        display:none;
  }
  .hcbtn{
     width:365px;height:140px;
     background-color: white;
     z-index:999999;
     position: absolute;
    top: 45%;
    left: 45%;
    border-radius:4px;
  }
  .dcclose{
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    float: right;
    margin-top: 14px;
    margin-right: 15px;
  }
 .hcbtn span{
    margin-top:20px;margin-left:22px;font-size: 16px;display:inline-block;margin-bottom:17px;
 }