@charset "utf-8";

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #999 !important; opacity: 1 !important;
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #999 !important; opacity: 1 !important;
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #999 !important; opacity: 1 !important;
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #999 !important; opacity: 1 !important;
} 
#area:focus{
    border-color:transparent;
    box-shadow: none;
}
.loading{
            background: url(../images/load3.gif) no-repeat center center;   
        }
.o_bounced i{
    color: #0077b3;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
}
.o_bounced span:hover{
    color:#5c91d9;
}
#sxmessage_Modal{
    margin-top:100px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    font-size: 14px;
    font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

.clearfix:after {
    *zoom: 1;
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

body {
    background-color: #f1f1f1;
}

// header {
//     color: #fff;
//     font-size: 18px;
//     background-color: #3492ea;
//     text-align: center;
//     height: 42px;
//     line-height: 42px;
//     position: relative;
//     .jt {
//         background: url(/static/images/new_images/jt.png) no-repeat;
//         display: inline-block;
//         background-size: 60%;
//         width: 15px;
//         height: 22px;
//         left: 15px;
//         float: left;
//         top: 12px;
//         position: absolute;
//     }
// }


// .nav2 *,.gsss *{box-sizing:content-box;}
// .header {
//     width: 100%;
//     height: 65px!important;
//     padding-top: 0;
//     margin-bottom: 25px;
// }
//     .center{
//         margin-left:auto;
//         margin-right:auto;
//         width:1020px;
//     }
//     .header img {
//     float: left;
// }
// .header ul {
//     position: relative;
//     float: right;
// }
// .header ul li {
//     float: left;
//     margin-left: 15px;
// }
// .header ul li a {
//     color: rgb(0,0,0);
//     font-size: 18px;
//     display: block;
//     line-height: 65px;
//     width: 100px;
//     text-align: center;
//     font-size: 18px;
//     text-decoration: none;
// }
// .header ul li a:hover, .header ul li a.active {
//     color: #5c91d9;
// }
// .header .abs {
//     width: 80px;
//     background: #5c91d9;
//     height: 2px;
//     position: absolute;
//     bottom: 15px;
//     left: 25px;
// }
.top .zcdl {
    line-height: 20px!Important;
}
.zcdl,.zcdl a{color:#5C91D9;font-size: 14px;}
.zcdl{margin-left: 55px;margin-top: 23px;}
.wikz li {  font-weight: normal;width: 20.2%!important;  }


.main {
    border-radius: 5px;
    width: 1020px;
    margin: 0 auto;
    box-shadow: 0px 1.2px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 30px;
    margin-top:20px;
    .seach_des {
        .gsss_r_t1 {
            input {
                width: 665px;
                height: 40px;
                line-height: 40px;
                border: 2px solid #5c91d9;
                text-indent: 12px;
                font-size: 14px;
                color: #333;
                padding: 0!important;
                margin-left: 9.9%;
                font-family: "微软雅黑";
            }
        }
    }
}

.super_nat {
    position: fixed;
    z-index: 100;
    top: 0px;
    display: none;
    right: 20%;
}

.conts {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#res_des {
    width: 980px;
    margin: 0px auto;
    display: block;
    z-index: 100;
    clear:both;
    padding-top: 20px;
    .sere_nav {
        background: #f4f4f4;
        height: 45px;
        border-bottom: 1px solid #e0e0e0;
        line-height: 45px;
        padding-left: 20px;
        .result_left {
            font-size: 14px;
            color: #333;
            display: inline-block;
            float: left;
            span {
                font-size: 14px;
                color: #ff8800;
            }
        }
        .broker_cate {
            display: inline-block;
            float: left;
            ul {
                margin-left: 20px;
                li {
                    display: inline-block;
                    float: left;
                    color: #333;
                    font-size: 12px;
                    padding-left: 20px;
                    padding-right: 20px;
                    cursor: pointer;
                }
                li:hover {
                    color: #5c91d9;
                }
                .active {
                    border-left: 1px solid #e0e0e0;
                    border-right: 1px solid #e0e0e0;
                    border-top: 2px solid #5c91d9;
                    background-color: #fff;
                    color: #5c91d9;
                    height: 43px;
                }
            }
        }
        .page_right {
            display: inline-block;
            float: right;
            padding-right: 3px;
            font-size: 14px;
            color: #999;
            font-weight: normal;
            margin-right: 15px;
            span {
                color: #ff8800;
            }
        }
        .left_icon {
            background: url(../images/xz.png) no-repeat center center;
            width: 10px;
            height: 14px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 3px;
            margin-right: 6px;
            &:hover{
                background: url(../images/xz1.png) no-repeat center center;
            }
        }
        .right_icon {
            background: url(../images/xy.png) no-repeat center center;
            width: 10px;
            height: 14px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 3px;
            margin-left: 6px;
            &:hover{
                background: url(../images/xy1.png) no-repeat center center;
            }
        }
    }
}

#res_des1 {
    width: 980px;
    margin: 0px auto;
    display: block;
    z-index: 100;
    margin-top: 8px;
    .sere_nav {
        height: 45px;
        line-height: 45px;
        padding-left: 20px;
        .result_left {
            font-size: 14px;
            color: #fff;
            display: inline-block;
            float: left;
            span {
                font-size: 14px;
                color: #ff8800;
            }
        }
        .broker_cate1 {
            display: inline-block;
            float: left;
            ul {
                margin-left: 20px;
                li {
                    display: inline-block;
                    float: left;
                    color: #fff;
                    font-size: 12px;
                    padding-left: 20px;
                    padding-right: 20px;
                    cursor: pointer;
                    margin-left: 2px;
                }
                li:hover {
                    background-color: #5c91d9;
                    color: #fff;
                    height: 25px;
                    line-height: 25px;
                    margin-top: 10px;
                    border-radius: 4px;
                }
                .active {
                    background-color: #5c91d9;
                    color: #fff;
                    height: 25px;
                    line-height: 25px;
                    margin-top: 10px;
                    border-radius: 4px;
                }
            }
        }
        .page_right {
            display: inline-block;
            float: right;
            padding-right: 3px;
            font-size: 14px;
            color: #999;
            font-weight: normal;
            margin-right: 15px;
            span {
                color: #ff8800;
            }
        }
        .left_icon {
            background: url(/static/images/new_images/left.png) no-repeat;
            width: 10px;
            height: 14px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 3px;
            margin-right: 6px;
        }
        .right_icon {
            background: url(/static/images/new_images/right.png) no-repeat;
            width: 10px;
            height: 14px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 3px;
            margin-left: 6px;
        }
    }
}

.search_con {
    display: block;
    padding-top: 35px;
}

// .ss_input {
//     border: 2px solid #5C91D9!important;
//     height: 38px!important;
//     line-height: 38px!important;
//     padding-right: 5px!important;
//     box-sizing: border-box !important;
// }
// .ss_anniu {
//     cursor: pointer!important;
//     font-size: 18px !important;
//     background-color: #5C91D9!important;
//     color: #fff!important;
//     text-align: center!important;
//     height: 38px!important;
//     line-height: 38px!important;
//     border: medium none!important;
//     width: 150px !important;
//     display: inline-block;
// }
.sctop {
    display: block;
    margin-bottom: 30px;
    .industry {
        
    }
    .choice_area{
        background: transparent url("/static/images/new_images/openmes.png") no-repeat scroll 95.4% center;
        width: 458px!important;
        float: left!important;
        border: 1px solid #e0e0e0!important;
        padding: 10px 0px 10px 17px!important;
        margin-left: 21px !important;
        margin-top: 20px!important;
        border-radius: 4px;
        cursor: pointer;
    }
}

.ss_anniu {
    cursor: pointer !important;
    font-size: 18px !important;
    color: #fff !important;
    text-align: center !important;
    background-color: #5C91D9 !important;
    height: 38px !important;
    line-height: 38px !important;
    border: medium none !important;
    width: 150px !important;
    display: inline-block;
}

.search_con {
    display: block;
    padding-top: 35px;
}

.ss_input {
    border: 2px solid #5C91D9!important;
    height: 38px!important;
    line-height: 38px!important;
    padding-right: 5px!important;
    box-sizing: border-box !important;
}

.info_list {
    width: 980px;
    margin: 0 auto;
    // overflow: hidden;
    ul li {
        display: block;
        border-bottom: 1px dashed #e0e0e0;
        overflow: hidden;
        clear: both;
        position: relative;
    }
    ul li:hover {        
box-shadow: 0px 0px 3px 3px #ccc;
                    -webkit-box-shadow: 0px 0px 3px 3px #ccc;
                    border-bottom-color:transparent;
        border-radius: 4px;
    }
    .img_lf {
        width: 145px;
        float: left;
        position:relative;
        .head_img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: block;
            margin: 20px 0px 10px 20px;
            cursor: pointer;
            margin-right: 5px;
            z-index: 100;
        }
        .status{
            position: absolute;
            bottom: 1px;
            left: 28px;
            top: auto;
            text-align: center;
            color: white;
            background-color: #5c91d9;
            padding: 1px 18px 1px 35px;
            border-radius: 5px;
            font-size:12px;
            img.v {
                left: -8px;
                top: -3px;
                position: absolute;
                width:32px;
            }       
        }
    }
    .det_rg {
        float: right;
        margin-right: 18px;
        margin-top: 20px;
        .comment {
            text-align: right;
            color: #888;
            font-size: 12px;
            margin-top: 0px;
        }
        .response {
            font-size: 12px;
            color: #333;
            text-align: right;
            margin-top: 0px;
            span {
                color: #ff8800;
                font-size: 14px;
                font-weight: bolder;
            }
        }
        .ser_eva {
            clear: both;
            font-size: 12px;
            padding-top: 14px;
            color: #333;
            .starlev {
                display: inline-block;
                img {
                    width: 16px;
                    height: 16px;
                    vertical-align: middle!important;
                    margin-bottom: 4px!important;
                }
            }
        }
    }
    .re_details {
        width: 600px;
        float: left;
        padding: 20px 0px 0px 0px;
        margin-left: 5px;
        line-height: 25px;
        span {
            font-size: 12px;
            color: #666;
        }
        .grade_agr {
            color: #666;
            background-color: #f4f4f4;
            padding: 3px 7px;
            margin-right: 4px!important;
            margin-left: 5px;
        }
        .deji {
            font-size: 12px;
            color: #ff8800;
            margin-left: 5px;
        }
        .talents_name {
            color: #ff8800;
            font-weight: bolder;
            font-size: 16px;
        }
        .talsex_icon {
            background: url(/static/images/new_images/nv.png) no-repeat;
            background-size: 75%;
            width: 12px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 5px;
        }
        .talsex_icon1 {
            background: url(/static/images/new_images/nan.png) no-repeat;
            background-size: 75%;
            width: 12px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 5px;
        }
        .res_comm {
            font-size: 12px;
            color: #333;
        }
        .rus_tit {
            font-size: 12px;
            color: #666;
            display: inline-block;
            margin-right: 5px!important;
        }
        .exper_list {
            width: 570px;
            display: inline-block;
        }
        .ru_tab {
            margin: 5px 0px;
            // .re_list{
            //  width:480px;
            //  display:inline-block;
            //  padding-top:12px;
            padding: 10px 0px 32px 0px;
            span {
                height: 26px;
                float: left;
                margin-right: 10px;
                border: 1px solid #5c91d9;
                line-height: 26px;
                padding: 0px 8px;
                border-radius: 4px;
                font-size: 12px;
            }
            // }
        }
        .res_post {
            color: #5c91d9;
            font-size: 12px;
        }
        .exper_list p {
            font-size: 12px;
            color: #333;
            margin-left: -3px;
        }
    }
}

.wtnum {
    font-size: 12px;
    color: #333;
    span {
        color: #ff8800!important;
        font-size: 14px!important;
        margin-right: 0px!important;
        font-weight: bolder;
    }
}

.attent_des {
    font-size: 12px!important;
    width: 74px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    margin-right: 2px;
    cursor: pointer;
    margin-top:4px;
    i {
        background: url(/static/images/new_images/jgz.png) no-repeat;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 4px;
    }
}

.det_time {
    font-size: 12px;
    color: #888;
    margin-left: 20px;
    i {
        background: url(/static/images/new_images/13.jpg) no-repeat;
        width: 16px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 4px;
        margin-right: 10px;
    }
}

.pri_lett {
    position: absolute;
    bottom: 15px;
    right: 1%;
    width: 16.5%;
    height: 35px;
    line-height: 35px;
    span {
        color: #333;
        font-size: 12px;
        float: right;
        padding: 0px 19px;
        background-color: #fff;
        height: 24px;
        line-height: 24px;
        margin-top: 5px;
        border-radius: 12px;
        margin-right: 12px;
        border: 1px solid #e0e0e0;
        cursor: pointer;
        display: inline-block;
    }
    span:hover {
        border: 1px solid #5c91d9;
        background-color: #5c91d9;
        color: #fff;
    }
}

.opa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0.75;
}

.suspend_sea {
    height: 110px;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    display: none;
    .su_top {
        background-color: inherit!important;
        border-bottom: none!important;
        filter: alpha(opacity=100);
        -moz-opacity: 1!important;
        -khtml-opacity: 1!important;
        opacity: 1!important;
    }
    .sus_sea {
        width: 960px;
        padding-left: 10px;
        margin: 10px auto 5px auto;
        z-index: 100;
        input {
            width: 815px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #5c91d9;
            text-indent: 12px;
            font-size: 14px;
            color: #333;
            padding: 0!important;
            float: left;
            font-family: "微软雅黑";
        }
        a {
            width: 130px;
            height: 40px;
            font-size: 18px;
            color: #fff;
            line-height: 40px;
            background-color: #5c91d9;
            text-align: center;
            display: inline-block;
            &:hover{
                background-color: #4c83ce;
            }
        }
    }
}


/*********************分页***************************/

.lthy_pager {
    text-align: center;
}

.page_number {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    li {
        width: auto !important;
        display: inline-block;
        margin-right: 5px;
        padding: 0px 8px !important;
        font-size: 14px!important;
        height: 40px !important;
        line-height: 40px;
        min-width: 30px;
        cursor: pointer;
        float: none !important;
        border: 1px solid #e0e0e0 !important;
    }
    li.active {
        background-color: #5c91d9 !important;
        color: white !important;
    }
}

.mbt {
    margin-bottom: 10px!important;
}

#message_Modal {
    margin-top: 100px;
}

#recommend_position {
    margin-top: 100px!important;
}

.super_nat {
    position: fixed;
    z-index: 100;
    top: 0px;
    display: none;
    right: 20%;
}

#tableInfo{
    overflow: inherit!important;
}


.emprows{
    width: 460px !important;
    float: left !important;
    border: 1px solid #e0e0e0 !important;
    padding: 10px 0px 10px 17px !important;
    margin-left: 21px !important;
    margin-top: 20px !important;
    border-radius: 4px;
}

//下拉
.expect_pay{
    display: inline-table;
    width: 370px;
    float: left;
    margin-top: 4px;
    position: relative;
}

//下拉
.claim_p{
    color:#999;
    cursor: pointer;
    padding-left: 3px!important;
    float: right;
    position: relative;
    width: 370px!important;
    height: 26px!important;
    line-height: 26px!important;
    font-size: 14px;
    background-color: #fff!important;
    border-radius: 4px 4px 4px 4px!important;
    border-bottom-radius: normal!important;
    border:none!important;
}

.xl_comm{
    z-index: 3;
    display: none;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    position: absolute;
    width: 103%!important;
    top: 145%!important;
    left: 0px;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0px 0px 2px 1px #e0e0e0;
    border-radius: 5px;
}

.xl_comm li {
    padding-left: 10px;cursor: pointer;
    overflow: hidden;
    height:30px;
    line-height: 30px;
    color: #888!important;
    width: 100%;
    margin-left: 0px!important;
    font-size:14px;
    &:hover{
        background-color: #5c91d9!important;
        color:#fff!important;
    }
}

.chtit{
    color:#999;
    font-size:14px;
    float: left;
    margin-top: 5px;
    margin-right:5px;
}
.Emprows{
    width: 460px!important;
    float: left!important;
    border: 1px solid #e0e0e0!important;
    padding: 10px 0px 10px 17px!important;
    margin-left: 21px !important;
    margin-top: 20px!important;
    border-radius: 4px;
}


.claim_img {
    width: 12px;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.ControlsWrap{
    vertical-align:none!important;
    line-height:30px!important;
    min-height:none!important;
    overflow:none!important;
    padding-left:0px!important;
    font-size: 14px!important;
    border:none!important;
    width:auto!important;
    background-color: white;
    border-radius:none!important;
    background:none!important;
    color:#333!important;
}


.hr_btkarea {
    background: transparent url("/static/images/new_images/openmes.png") no-repeat scroll 95% center;
    width: 380px;
    cursor: pointer;
    border:none!important;
    line-height:30px!important;
    font-size:14px;
    color:#333;
    outline: none!important;
    // background: url(../images/new_images/openmes.png) no-repeat 95% center;
}

input{
    border:none;
    color:#333;
}


// .modal_backdrop{
//     top:20%!important;
// }
// .layui-layer{
//     top:25%!important;
// }