.my_level{
	width:942px;margin:0 auto;background-color:#eef6ff;padding: 18px 18px 36px 18px;position:relative;
	.t{
		img{
			width:104px;height:104px;border:1px solid #e0e0e0;border-radius:50%;vertical-align:top;
		}
		.d_r{
			display: inline-block;font-size: 16px;color:#333;vertical-align:top;margin-left: 15px;margin-top: 21px;width:800px;
		}
		.mb8{
			margin-bottom: 8px;
		}
		.o_progress{
			width:800px;height:6px;background-color:#dedede;
			border-radius:5px;position:relative;margin-top: 8px;
			span{
				height:6px;width:0px;background-color:#ff8800;
				border-radius:5px;display: block;
			}
		}
	}
	.b{
		ul{ width: 1000px;   white-space: nowrap;margin-left: -20px;margin-top: 15px;}
		li{
			float:left;margin-right: 116px;
			p{
				width:44px;height:18px;color:#fff;font-size:14px;
				border-radius:20px;text-align: center;background-color:#dedede;line-height: 18px;font-style:italic;text-indent: -2px;margin:0 auto;
			}
			&.active p{
				background-color:#ff8800;
			}
			span{
				color:#888;font-size:12px;text-align: center;display: block;
				width: 80px;position: absolute;
				margin-left: -18px;
			}
		}
	}
	.abs{
		font-size: 14px;color:#333;background-color:#fdfdef;min-width:505px;display:none;
		border:1px solid #f5f5d3;border-radius:5px;height:35px;line-height:35px;padding-left:22px;position:absolute;top:28px;right:112px;
		.f80{
			color:#ff8800;margin-left: 5px;
		}
		.o_level{
			color:#fff;display: inline-block;border-radius:20px;
			background-color:#ff8800;height:18px;vertical-align:baseline;line-height:18px;font-style:italic;width:48px;text-align: center;margin:0 5px;
		}
		.next{
			color:#888;
		}
	}
}
.dibiao{
	border-radius:50%;width:14px;height:19px;
	margin-left: -7px;position:relative;background: url(../images/exp_value.png) no-repeat;

}
tr.h82{
	height:82px;
	td.o_value{
		span.o_value{
			display: block;
		}
	}
	span.o_value{
		position:absolute;left:23.5px;bottom:10px;display:none;
	}
}