@charset "UTF-8";
@import "http://at.alicdn.com/t/font_1453282756_9622378.css";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1.5 "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",\5b8b\4f53,sans-serif; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

a, a:link, a:visited, a:hover, a:active, input, textarea, :focus {
  outline: 0; }

textarea {
  padding: 10px; }

img, iframe {
  border: none;
  text-decoration: none; }

li {
  list-style-type: none; }

.nowrap, .main .main_content .resume .result #znpp #ppzwInfo li h1 span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/*danzhi*/
/*lan*/
/*shenlan*/
/*ju*/
/*danhui*/
/*淡灰*/
.c_99 {
  color: #999 !important; }

.c_66 {
  color: #666 !important; }

.c_33 {
  color: #333 !important; }

.c_5c {
  color: #5c91d9 !important; }

.c_f6 {
  color: #ff6666 !important; }

.cursor {
  cursor: pointer; }

.oh {
  overflow: hidden; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.fz12 {
  font-size: 12px; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz20 {
  font-size: 20px; }

.border {
  border: 1px solid #e0e0e0; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.jl_txt_hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 72px;
  text-overflow: initial; }

.clearfix:after {
  *zoom: 1;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.center {
  margin: 0 auto;
  width: 1020px;
  overflow: visible; }

.icon-nv {
  color: #ff8800;
  cursor: default; }

.icon-nan {
  color: #5c91d9;
  cursor: default; }

.h20 {
  height: 20px; }

.content .l_box {
  width: 765px;
  float: left; }
.content .r_box {
  width: 235px;
  float: right; }

body {
  background-color: #f8f8f8; }

.nowrap, .main .main_content .resume .result #znpp #ppzwInfo li h1 span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.center {
  width: 1020px;
  margin: 0 auto; }

.left, .f_l {
  float: left; }

.right, .f_r {
  float: right; }

.fc {
  text-align: center; }

li.slide {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  width: 80px;
  height: 2px;
  background-color: #5391D9; }

.nav ul li a {
  font-size: 20px; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fw_n {
  font-weight: normal; }

.q_mr {
  margin-right: 0px !important; }

b {
  font-weight: normal; }

.header .head_portrait div.status {
  width: 167px;
  height: 26px;
  padding: 0px 8px 0px 8px;
  left: -11px;
  line-height: 24px; }
  .header .head_portrait div.status b {
    font-size: 16px; }
  .header .head_portrait div.status i {
    margin-left: 3px;
    font-size: 14px; }
  .header .head_portrait div.status i:hover {
    color: #ff8800; }
.header .header_list > li > a {
  background: url("../images/qzz_list.png") no-repeat; }

.main {
  margin-top: 25px;
  border-radius: 4px; }
  .main .main_content {
    float: left; }
    .main .main_content .resume {
      width: 722px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      margin-top: 21px;
      padding: 25px 20px 20px 20px;
      background-color: white; }
      .main .main_content .resume .resume_select {
        position: relative;
        border-bottom: 1px solid #e0e0e0; }
        .main .main_content .resume .resume_select li {
          position: relative;
          cursor: pointer;
          margin-right: 20px;
          padding: 0px 15px 10px 15px;
          float: left;
          font-size: 16px;
          color: #333;
          font-size: 16px; }
          .main .main_content .resume .resume_select li span {
            text-align: center;
            height: 18px;
            line-height: 18px;
            border-radius: 50%;
            width: 18px;
            top: -9px;
            right: -9px;
            background-color: #ff8800;
            color: white;
            font-size: 12px;
            position: absolute; }
        .main .main_content .resume .resume_select li.active, .main .main_content .resume .resume_select li:hover {
          color: #5c91d9; }
        .main .main_content .resume .resume_select li.slide {
          position: absolute;
          padding: 0px; }
      .main .main_content .resume .result {
        margin-top: 20px; }
        .main .main_content .resume .result #znpp #ppzwInfo {
          width: 732px;
          min-height: 250px; }
          .main .main_content .resume .result #znpp #ppzwInfo li {
            overflow: hidden;
            position: relative;
            cursor: pointer;
            margin-bottom: 20px;
            margin-right: 10px;
            border: 1px solid #EEE;
            width: 232px;
            height: 400px;
            text-align: center;
            float: left; }
            .main .main_content .resume .result #znpp #ppzwInfo li img {
              display: inline-block;
              margin-top: 25px;
              width: 144px;
              height: 144px;
              border-radius: 50%;
              margin-left: 3px; }
            .main .main_content .resume .result #znpp #ppzwInfo li h3 {
              font-size: 12px;
              color: #999;
              margin-top: 10px; }
              .main .main_content .resume .result #znpp #ppzwInfo li h3 span {
                font-size: 25px;
                color: #ff8800;
                margin-left: 5px; }
            .main .main_content .resume .result #znpp #ppzwInfo li h2 {
              font-size: 20px;
              color: #5c91d9;
              margin: 15px 0px; }
            .main .main_content .resume .result #znpp #ppzwInfo li p.company {
              font-size: 14px;
              color: #333; }
            .main .main_content .resume .result #znpp #ppzwInfo li p.znpp_info {
              font-size: 12px;
              color: #333; }
              .main .main_content .resume .result #znpp #ppzwInfo li p.znpp_info span {
                font-size: 16px;
                color: #ff8800; }
            .main .main_content .resume .result #znpp #ppzwInfo li p {
              font-size: 12px;
              color: #999;
              margin-bottom: 5px;
              margin: 0 auto;
              width: 220px; }
            .main .main_content .resume .result #znpp #ppzwInfo li h1 {
              width: 100%;
              position: absolute;
              bottom: 0px;
              height: 25px;
              padding: 9px 5px;
              background-color: #f4f4f4;
              color: #333;
              margin-top: 10px; }
              .main .main_content .resume .result #znpp #ppzwInfo li h1 span {
                margin-right: 4px;
                width: 54px;
                display: inline-block;
                padding: 3px 7px;
                border: 1px solid #e0e0e0;
                font-size: 12px; }
            .main .main_content .resume .result #znpp #ppzwInfo li h1.znpp_handle {
              background-color: #5c91d9; }
              .main .main_content .resume .result #znpp #ppzwInfo li h1.znpp_handle span {
                border-radius: 20px;
                color: white;
                margin-right: 5px;
                border-color: #5c91d9; }
              .main .main_content .resume .result #znpp #ppzwInfo li h1.znpp_handle span:hover {
                border: 1px solid #ccddff; }
          .main .main_content .resume .result #znpp #ppzwInfo li:hover {
            border-color: #5c91d9; }
          .main .main_content .resume .result #znpp #ppzwInfo li:hover .welfare {
            display: none; }
          .main .main_content .resume .result #znpp #ppzwInfo li:hover .znpp_handle {
            display: block !important; }
          .main .main_content .resume .result #znpp #ppzwInfo canvas {
            top: 20px; }
        .main .main_content .resume .result #tddzw {
          display: none; }
          .main .main_content .resume .result #tddzw .tddzw_select {
            background-color: #f8f8f8;
            overflow: hidden;
            position: relative; }
            .main .main_content .resume .result #tddzw .tddzw_select li {
              cursor: pointer;
              padding: 13px 30px;
              float: left;
              font-size: 14px;
              color: #333; }
            .main .main_content .resume .result #tddzw .tddzw_select li:hover {
              color: #5c91d9; }
            .main .main_content .resume .result #tddzw .tddzw_select li.slide {
              padding: 0px; }
            .main .main_content .resume .result #tddzw .tddzw_select li.active {
              color: #5c91d9; }
          .main .main_content .resume .result #tddzw .tddzw_all > li:hover {
            background-color: #f4f8fd; }
          .main .main_content .resume .result #tddzw .tddzw_content {
            margin-top: 10px; }
            .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all > li {
              border-bottom: 1px dashed #e0e0e0; }
            .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all {
              min-height: 250px; }
              .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li {
                padding: 0px 10px 0px 10px; }
                .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header {
                  padding: 40px 0px;
                  position: relative;
                  overflow: hidden;
                  border-bottom: 1px dashed #eee; }
                  .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .left h2 {
                    font-size: 18px;
                    color: #5c91d9; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .left h2 span {
                      color: #999;
                      font-size: 12px;
                      font-family: "微软雅黑"; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .left h2 .number_v {
                      color: #ff8800;
                      font-size: 18px;
                      font-family: "微软雅黑";
                      margin-left: -1px; }
                  .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .left p {
                    margin-top: 10px;
                    font-size: 14px;
                    color: #333; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .left p span {
                      font-size: 12px;
                      color: #999;
                      margin-left: 5px; }
                  .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .right {
                    font-size: 14px;
                    position: absolute;
                    right: 20px;
                    bottom: 40px;
                    text-align: right; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .right span {
                      color: #999; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .right p {
                      color: #333;
                      text-align: right;
                      cursor: pointer; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_header .right p i {
                        font-size: 12px;
                        transition: all 0.5s ease 0s; }
                .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state {
                  position: relative;
                  display: none; }
                  .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state b {
                    display: none;
                    height: 3px;
                    background-color: #ccc;
                    position: absolute;
                    z-index: 1;
                    width: 66%;
                    left: 5%;
                    top: 15px; }
                  .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state b.c_5c {
                    width: 0px;
                    position: absolute;
                    z-index: 2;
                    background-color: #5c91d9; }
                  .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state .o_progress {
                    overflow: hidden;
                    margin-top: 30px; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state .o_progress li {
                      position: relative;
                      z-index: 3;
                      margin-right: 100px;
                      float: left;
                      text-align: center;
                      font-size: 18px;
                      color: #333; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state .o_progress li p {
                        margin: 0 auto;
                        margin-bottom: 5px;
                        color: white;
                        width: 30px;
                        height: 30px;
                        overflow: visible;
                        border-radius: 50%;
                        background-color: #ccc; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state .o_progress li p.active {
                        background: url("../images/blue_circle.png") no-repeat;
                        height: 35px !important;
                        border-radius: inherit;
                        margin-bottom: 1px; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .tddzw_state .o_progress li span {
                        font-size: 14px; }
                .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars {
                  overflow: hidden; }
                  .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left {
                    margin-top: 35px;
                    margin-left: 10px; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left li {
                      padding: 0 10px;
                      font-size: 14px; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left li div {
                        padding: 0 0 15px 10px;
                        border-left: 1px solid #CCC;
                        margin-bottom: 5px; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left li p {
                        color: #333;
                        margin-top: 5px; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left li span {
                        color: #999; }
                        .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left li span i {
                          margin-left: -6px; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .highlight {
                      color: #5c91d9 !important; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ytd, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dcl, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dgt, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_defeat, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ms, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .success {
                      font-size: 14px; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ytd span, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dcl span, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dgt span, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_defeat span, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ms span, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .success span {
                        color: #999; }
                        .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ytd span i, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dcl span i, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dgt span i, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_defeat span i, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ms span i, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .success span i {
                          color: #999; }
                      .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ytd p, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dcl p, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dgt p, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_defeat p, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_ms p, .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .success p {
                        margin-top: 5px;
                        color: #333;
                        text-indent: 5px; }
                    .main .main_content .resume .result #tddzw .tddzw_content .tddzw_all li .particulars .left .qzz_dgt p a {
                      color: #5c91d9;
                      font-size: 12px; }
      .main .main_content .resume .page_number {
        overflow: hidden;
        margin-top: 20px;
        text-align: center; }
        .main .main_content .resume .page_number li {
          display: inline-block;
          padding: 10px 15px;
          text-align: center;
          font-size: 14px;
          color: #333;
          margin-left: 2.5px;
          margin-right: 2.5px;
          border: 1px solid #EEE;
          cursor: pointer; }
        .main .main_content .resume .page_number li:hover {
          background-color: #5c91d9;
          color: white; }

/*# sourceMappingURL=qzz_index.css.map */
