@function s($size){
	@return 10rem*$size/$sjt;
}
@import "http://at.alicdn.com/t/font_1447667741_5525832.css";
$sjt : 640;//设计图宽度
*{
	box-sizing:border-box;font-family:"微软雅黑";
}
html{
	font-size: 64px;
}
body{
	background-color:#df4149;overflow:hidden;padding-bottom:s(68);
}

header{
	width:10rem;height:s(270);position: relative;
	background:url(../images/h5/top/header.jpg) no-repeat center center /100% 100%;
	h1{
		color:#FFF;font-size: s(25.72);position:relative;display: inline-block;
		left:s(110);top:s(32);font-weight: bold;
		text-shadow:s(2) s(2) s(2) #E0E0E0;
	}
	.who{
		width:s(254);height:s(97);display: block;
		position: absolute;left:s(38);top:s(69);
		background:url(../images/h5/top/who.png) no-repeat center center /100% 100%;
	}
	.best{
		width:s(346);height:s(233);position:absolute;left:s(195);top:0px;
		background:url(../images/h5/top/sd.png) no-repeat center center /100% 100%;
		span{
			width:s(218);height:s(116);display: block;
			position: absolute;left:s(62);top:s(48);
			background:url(../images/h5/top/best.png) no-repeat center center /100% 100%;
		}
	}
	.popular{
		width:s(136);height:s(51);display: block;
		position: absolute;right:s(38);top:s(69);
		background:url(../images/h5/top/popular.png) no-repeat center center /100% 100%;
	}
	.company{
		width:s(136);height:s(54);display: block;
		position: absolute;right:s(72);top:s(120);
		background:url(../images/h5/top/company.png) no-repeat center center /100% 100%;
	}
	.b{
		margin-top: s(184);text-align: center;
		a{
			line-height: s(47);z-index: 3;
			display: inline-block;min-width:s(263);height:s(47);
			transform: skew(-20deg);font-size: s(20.2);color:#FFF;font-weight: bold;
			-webkit-transform: skew(-20deg);
			p{
				display: inline-block;min-width:s(225);text-align: center;height:100%;
				background:#30b479;vertical-align:top;
				span{
					transform: skew(20deg);display:block;height:100%;line-height:0.77rem;
					-webkit-transform: skew(20deg);
				}
			}
			em{
				margin-left: s(3);vertical-align:top;
				display: inline-block;height:100%;float:right;text-align: center;
				width:s(55);background:#25a463;line-height:0.7rem;
				img{
					transform: skew(20deg);vertical-align:middle;width:s(16);height:s(26);
					-webkit-transform: skew(20deg);
				}
			}
		}
		.join{
			
			p{
				background-color:#9537dc;
			}
			em{
				background-color:#8426cb;
			}
		}
	}
}
header.active{
	h1{
		animation: h1 5s;
		-webkit-animation: h1 5s;
	}
	.who{
		animation: who 2s;
		-webkit-animation: who 2s;
	}
	.best{
		animation:best 4.5s ;
		-webkit-animation: best 4.5s ;
	}
	.popular{
		animation:popular 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		-webkit-animation: popular 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}
	.company{
		animation:company 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		-webkit-animation: company 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}
	.b{
		a{
			animation:float 1.5s linear infinite; 
			-webkit-animation: float 1.5s linear infinite; 
		}
		.join{
			animation:float 1.5s 0.75s linear infinite;
			-webkit-animation: float 1.5s 0.75s linear infinite;
		}
	}
}
.f_l{float:left;}
.f_r{float:right;}
#top{
	position:relative;padding-bottom:s(26);
	width:s(580);margin:0 auto;background: url(../images/h5/top/bg1.png) no-repeat center top/100% 100%;
	h1{
		padding-top:s(36);background:url(../images/h5/top/light.png) no-repeat 76% -30%;
		background-size:s(100) s(100);
		font-size :s(27.37);text-align: center;color:#FFF;font-weight: bold;padding-top:s(36);
	}
	h2{
		text-align: center;font-size: s(17.79);color:#FFF;
		background:url(../images/h5/top/line.png) no-repeat center top / 100% s(3);padding-top:s(10);
	}
	.abs{
		position:absolute;top:s(40);
		width:s(179);height:s(47);left:s(-16);
		
		p{
			text-align: center;line-height:s(47);
			position:relative;z-index: 2;background-color:#ffd63a;color:#690000;font-size: s(23.43);
		}
		em{
			display: block;position:absolute;width:100%;height:100%;top:s(3);left:s(3);opacity:0.5;
			background-color:#4b1e01;z-index: 1;
		}
		i{
			width: 0px;height: 0px;border-bottom: s(10) solid #4b1e01;border-left: s(16) solid transparent;position:absolute;top:s(-9);left:s(1);
		}
	}

	.m{
		margin-top: s(30);
		ul{
			margin:0 auto;text-align: left;margin-left: 0.26rem;
		}
		li{
			position:relative;display: inline-block;margin:0px s(6);margin-bottom: s(20);
			overflow: hidden;
			.pic{
				background-color:#FFF;
				width:s(170);height:s(170);text-align: center;line-height:s(170);
				img{
					height: 80%;width:80%;vertical-align:middle;border-radius:50%;
				}
			}
			.info{
				position:absolute;bottom:0px;left:0px;width:s(170);height:s(35);
				text-align: left;
				.abs1{
					position:absolute;bottom:0px;height:s(35);
				}
				.l{
					z-index:3;width:100%;
					background-color:#ff2c4a;
				}
				.r{
					right: -0.1rem;height:s(33);bottom: 2.15rem;background-color:#ffe21d;
					transform: skew(20deg);-webkit-transform:skew(20deg);
				}
				.company{
					width:100%;height:s(35);
					color: #FFF;text-align: center;line-height: s(35);
					font-size: s(22);display:block;
				}
				.count{
					transform: skew(-20deg);-webkit-transform:skew(-20deg);
					display: block;font-weight: bold;
					color:#fd2f2f;text-align: center;line-height: s(33);color:#fd2f2f;font-size: s(18);
					width:s(85);height:s(33);
				}
			}
		}
	}
}

#hdlc{
	background:url(../images/h5/top/luxian.png) no-repeat 1.5rem 0.35rem;
	background-size:s(435) 100%;position:relative;
	margin-top:s(23);height:s(443);
	.bg_abs{
		top:-78%;
		background:url(../images/h5/top/hdlc_bg.png) no-repeat center center/100% 100%;
		width:s(641);height:s(747);position:absolute;z-index: -1;
	}
	.t{
		h1{
			text-align: center;
			img{
				width:s(111);height:s(27);
			}
		}
		p{
			font-size: s(22);color:#FFF;text-align: center;
			letter-spacing: s(5);
		}
	}
	.m{
		position:relative;height:88%;
		dl{
			display: inline-block;position:absolute;
		}
		dt{
			animation:fudong 1s linear infinite ;
			-webkit-animation:fudong 1s linear infinite ;
			background:url(../images/h5/top/yellow-circle.png) no-repeat center center/100% 100%;
			font-size: s(20.83);width:s(29);height:s(37);text-align: center;line-height:s(37);color:#fd2f2f;
			font-weight: bold;position:absolute;
		}
		.f_l{
			left: -22%;
		}
		.f_r{
			left:105%;
		}
		dd{
			width:s(200);height:s(58);border-radius:s(5);color:#FFF;
			background-color:#ff9c00;text-align: center;
			p{
				font-size: s(16);padding-top: 0.08rem;line-height:1;
			}
			span{
				font-size: s(20);font-weight: bold;line-height:1;
				display: block;padding-top: 0.12rem;
			}
		}
	}

}

#register{
	width:s(581);height:s(500);margin:0 auto;
	background:url(../images/h5/top/footer_bg.png) no-repeat center center /100% 100%;
	.t{
		height:s(175);
		background:url(../images/h5/top/yznjl.png) no-repeat center 20% ;
		background-size:s(261) s(122);
		h1{
			text-align: center;padding: 18% 0px 0px 20%;
			font-size: s(22.26);color:#3b2100;font-weight: bold;
		}
		p{
			text-align: center;font-size: s(15.23);color:#3b2100;
			background:url(../images/h5/top/footer_line.png) no-repeat center center /100% 0.025rem;
			margin-top: s(20);
		}
	}
	.b{
		width:s(445);margin: 0.3rem 0px 0px 0.89rem;
		.f_l{
			width:s(170);text-align: center;margin: 0.55rem 0px 0px -0.1rem;
			img{
				width:s(150);height:s(150);
			}
			p{
				font-size: s(12);text-align: center;
			}
		}
		.form{
			width:5rem;margin:0 auto;
			.registed{
				position: relative;
			}
			.hint{
				position:absolute;right:-54%;z-index: 1;top:0.23rem;
				height:0.6rem;line-height: 0.6rem;
					-moz-user-select: none;-webkit-user-select: none;
					user-select: none;width:2.65rem;text-align: left;
				span{
						font-size:s(18);color:#f66;pointer-events:none;font-weight: bold;
					}
			}
			.index2{
				top: 1.13rem;
			}

			h1{
				font-size: s(15.23);color:#3b2100;
			}
			input[type="text"],input[type="password"]{
				font-size: s(20);width:100%;height:0.75rem;border: none;
				text-indent: s(15);margin-top: 0.15rem;border-radius:3px;
				// background:#FFF url(../images/h5/top/zh.png) no-repeat s(10) center /s(18) s(18);
			}
			input[type="password"].mima{
				// background-image:url(../images/h5/top/mm.png);
			}
			input[type="checkbox"]{
				
			}
			label{
				font-size: s(16);
				vertical-align: middle;
			}
			#yzm{
				line-height: 0.6rem;
				overflow: hidden;transition:all 0.5s;-webkit-transition:all 0.5s;
			}
			input[type="text"].yzm{
				width:46%;background-image:none;display: inline-block;
				text-indent:s(10);vertical-align:top;margin-right: 2%;
			}
			.v{
				margin-top: 0.06rem;
			}
			.send{
				width:52%;font-size: s(20);display: inline-block;
				background-color:#e9f1f5;color:#5c91d9;border-radius:3px;
				height:0.75rem;margin-top: 0.15rem;border:none;vertical-align:top;
			}
			#agree{
				margin-left: s(2);display: inline-block;border:1px solid #333;
				vertical-align: middle;position:relative;vertical-align:middle;margin-top: s(-1.5);
				width:s(14);height:s(14);border-radius:0px;margin-right: s(5);
				&.active{
					i{
						display: block;
					}
				}
				i{
					display: none;font-size: 0.35rem;position: absolute;top: -0.18rem;;left: -0.05rem;
;				}
			}
			.register_btn{
				display: block;margin:0 auto;
				margin-top: s(5);transition:all 0.5s;-webkit-transition:all 0.5s;
				width:3rem;height:0.7rem;border:none;font-size: s(20);color:#FFF;letter-spacing:s(14);padding-left:s(14);
				background:url(../images/h5/top/btn.png) center center /100% 100%;font-weight: bold;
			}
		}
	}
}
@keyframes who{
	0%{
		transform: translate(-10rem,-0.5rem);
		-webkit-transform: translate(-10rem,-0.5rem);
	}
	90%{
		transform: translate(0px,-0.3rem) rotate(20deg);
		-webkit-transform: translate(0px,-0.3rem) rotate(20deg);
	}
	100%{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
}
@-webkit-keyframes who{
	0%{
		transform: translate(-10rem,-0.5rem);
		-webkit-transform: translate(-10rem,-0.5rem);
	}
	90%{
		transform: translate(0px,-0.3rem) rotate(20deg);
		-webkit-transform: translate(0px,-0.3rem) rotate(20deg);
	}
	100%{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
}
@keyframes popular{
	0%{
		transform: translate(10rem,-1.7320508075689rem*10);
		-webkit-transform: translate(10rem,-1.7320508075689rem*10);
	}
	50%{
		transform: translate(10rem,-1.7320508075689rem*10);
		-webkit-transform: translate(10rem,-1.7320508075689rem*10);
	}
	100%{
		transform: translate(0px,0px);
		-webkit-transform: translate(0px,0px);
	}
}
@-webkit-keyframes popular{
	0%{
		transform: translate(10rem,-1.7320508075689rem*10);
		-webkit-transform: translate(10rem,-1.7320508075689rem*10);
	}
	50%{
		transform: translate(10rem,-1.7320508075689rem*10);
		-webkit-transform: translate(10rem,-1.7320508075689rem*10);
	}
	100%{
		transform: translate(0px,0px);
		-webkit-transform: translate(0px,0px);
	}
}
@keyframes company{
	0%{
		transform: translate(-10rem,1.7320508075689rem*10);
		-webkit-transform: translate(-10rem,1.7320508075689rem*10);
	}
	100%{
		transform: translate(0px,0px);
		-webkit-transform:translate(0px,0px);
	}
}
@-webkit-keyframes company{
	0%{
		transform: translate(-10rem,1.7320508075689rem*10);
		-webkit-transform: translate(-10rem,1.7320508075689rem*10);
	}
	100%{
		transform: translate(0px,0px);
		-webkit-transform:translate(0px,0px);
	}
}
@keyframes best{
	0%{
		opacity:0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes best{
	0%{
		opacity:0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes float{
	0%{
		transform: translateY(0) skew(-20deg);
		-webkit-transform: translateY(0) skew(-20deg);
	}
	25%{
		transform: translateY(s(4)) skew(-20deg);
		-webkit-transform: translateY(s(3)) skew(-20deg);
	}
	50%{
		transform: translateY(s(0)) skew(-20deg);
		-webkit-transform: translateY(s(0)) skew(-20deg);
	}
	75%{
		transform: translateY(s(-4)) skew(-20deg);
		-webkit-transform: translateY(s(-4)) skew(-20deg);
	}
	100%{
		transform: translateY(0px) skew(-20deg);
		-webkit-transform: translateY(0px) skew(-20deg);
	}
}
@-webkit-keyframes float{
	0%{
		transform: translateY(0) skew(-20deg);
		-webkit-transform: translateY(0) skew(-20deg);
	}
	25%{
		transform: translateY(s(4)) skew(-20deg);
		-webkit-transform: translateY(s(3)) skew(-20deg);
	}
	50%{
		transform: translateY(s(0)) skew(-20deg);
		-webkit-transform: translateY(s(0)) skew(-20deg);
	}
	75%{
		transform: translateY(s(-4)) skew(-20deg);
		-webkit-transform: translateY(s(-4)) skew(-20deg);
	}
	100%{
		transform: translateY(0px) skew(-20deg);
		-webkit-transform: translateY(0px) skew(-20deg);
	}
}

@keyframes fudong{
	0%{
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	25%{
		transform: translateY(s(4));
		-webkit-transform: translateY(s(3));
	}
	50%{
		transform: translateY(s(0));
		-webkit-transform: translateY(s(0));
	}
	75%{
		transform: translateY(s(-4));
		-webkit-transform: translateY(s(-4));
	}
	100%{
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
}
@-webkit-keyframes fudong{
	0%{
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	25%{
		transform: translateY(s(4));
		-webkit-transform: translateY(s(3));
	}
	50%{
		transform: translateY(s(0));
		-webkit-transform: translateY(s(0));
	}
	75%{
		transform: translateY(s(-4));
		-webkit-transform: translateY(s(-4));
	}
	100%{
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
}
